[2022-10-10 11:37] muralidharanvenkataraman commented on #4299
@P1llus - Can we expect an update today ?

[2022-10-10 12:03] P1llus commented on #4299
@muralidharanvenkataraman I have applied the changes locally, I was just looking for some test data to add to our tests, the issue with the examples you have provided is the format, this is how our test data looks: https://github.com/elastic/integrations/blob/main/packages/oracle/data_stream/database_audit/_dev/test/pipeline/test-oracle-database-audit.log

Would you happen to have any examples in

[2022-10-10 12:11] muralidharanvenkataraman commented on #4299
@P1llus - I will attach the sample logs to this case - 01034607 or I can email them to you.

Please let me know if you are able to access the internal case.

[2022-10-10 12:17] P1llus commented on #4299
@muralidharanvenkataraman Let me see if I can access them, should be possible :)

[2022-10-10 12:18] muralidharanvenkataraman commented on #4299
awesome, I just attached the logs to the case.

[2022-10-10 12:34] P1llus commented on #4299
@muralidharanvenkataraman I am working on anonymizing it so I can use it as test data, since I am only interested in the format of the actual log data.

Hopefully I can push out the fix once the tests finishes sometime today. Once I have pushed it I will link the PR here.

[2022-10-10 12:53] muralidharanvenkataraman commented on #4299
@P1llus - thank you :)

[2022-10-10 12:57] #3188 closed

[2022-10-10 13:22] lalit-satapathy opened #4431 "MSSQL enhancements: Named Instance support and separation of databases/instance metrics"
- Named Instance support
  - Refer https://github.com/elastic/integrations/issues/4257
- metrics mapping to instance or database
  - Refer https://github.com/elastic/integrations/issues/4259

[2022-10-10 13:29] lalit-satapathy opened #4432 "MSSQL enhancements: support a list of "Dynamic Counter Name""
Explore support a list of "Dynamic Counter Name" can be passed instead of just one

[2022-10-10 13:29] lalit-satapathy commented on #4432
Meta issue: https://github.com/elastic/integrations/issues/4238

[2022-10-10 13:32] lalit-satapathy opened #4433 "MSSQL enhancements: Support merge_results for performance data_stream"
Enable [merge_results](https://github.com/elastic/integrations/issues/4433) for performance data_stream

[2022-10-10 13:46] lalit-satapathy commented on #4433
Meta issue: https://github.com/elastic/integrations/issues/4238

[2022-10-10 13:49] lalit-satapathy opened #4434 "MSSQL enhancements: Add additional metrics"

[2022-10-10 14:42] agithomas commented on #3846
@cmacknz , Thanks for sharing the information.

These files are needed only when Oracle integration is enabled.

Will the current pod(s) gets deleted and new template (with oracle requirements) will be downloaded when Oracle Integration is enabled?

If yes, shouldn't some changes be made in the template to support Oracle?

[2022-10-11 09:36] agithomas opened #4439 "Including SLO assets in Integrations."
The integration team has the technical know-how of supplying these recommendations to the SLO systems. So, SLO configuration / recommendation can be shipped as an integration asset similar to dashboard assets.

Usage: When an integration is enabled, a set of recommendations for adding or updating SLOs appear to user.

**Advantage :**

a. Time saving for the user.

b. SLO metrics remain relevant wh

[2022-10-11 11:19] #4210 closed

[2022-10-11 13:23] zez3 commented on #1572
Has this been fixed already? @joshdover

[2022-10-11 17:26] #4299 closed

[2022-10-12 05:30] lalit-satapathy commented on #3147
promoted iis 1.2.0 to production,

[2022-10-12 07:29] muthu-mps opened #4445 "IIS - Multiple application pool names metrics are not getting processed"
When adding a single application pool metric names we are able to get the metrics.
If the user tries to add more than one application pool name the metrics is not being rendered for any of the app pool.

[2022-10-12 07:41] tommyers-elastic opened #4446 "[application_insights] app state overview dashboard does not work OOTB"
There are some issues in the app_state and app_insights datastreams which are causing empty visualizations in the OOTB dashboard.

As part of the changes here we should also ensure that the app_state datastream is using the base app_insights metricset, not the app_state lightweight module.

If an ingest pipeline is required to map the metric names, pipeline tests are required.

[2022-10-12 09:42] matthiasledergerber commented on #2532
I can just speak from our side, an DNS enrichment processor in the Ingest Pipeline of Elasticsearch would be a great contribution. We run the Elastic-Stack on-premise and there it is no problem to have DNS Lookups originating from the Elasticsearch Ingest Nodes. Other services running on these Servers need DNS too (APT Updates, Antivirus, etc,) so there is no real difference between having to do D

[2022-10-12 12:39] muthu-mps opened #4448 "IBM DB2 Add support to use go_ibm_db library in metricbeat"
Using go_ibm_db driver library needs run time environment variables to be set. This dependency blocks generating metricbeat binary.
The use-case already executed and the details are captured [here](https://github.com/elastic/beats/issues/29929)
After discussing with the observability robots team, [Issue](https://github.com/elastic/observability-robots/issues/1422) has been raised on the same.
Chec

[2022-10-12 12:41] muthu-mps opened #4449 "IBM DB2 initial transaction_log data-stream creation with documentation"

[2022-10-12 12:42] muthu-mps opened #4450 "IBM DB2 Add system test & pipeline tests and Visualisation for transaction_log data-stream"

[2022-10-12 12:42] muthu-mps opened #4451 "IBM DB2 Create Bufferpool data-stream"

[2022-10-12 12:43] muthu-mps opened #4452 "IBM DB2 Create Connection data-stream"

[2022-10-12 12:44] muthu-mps opened #4453 "IBM DB2 Create Table-space data-stream"

[2022-10-12 14:56] Flo451 commented on #4391
I didn't have any luck so far extracting events from the JIRA audit API with this integration. If you have any suggestion / hotfix I'm happy to try that out.

[2022-10-12 21:07] #4335 closed

[2022-10-12 21:07] #4367 closed

[2022-10-13 02:15] #4413 closed

[2022-10-13 07:44] #4305 closed

[2022-10-13 07:51] efd6 commented on #4320
Would you please edit the issue to update with the new information.

[2022-10-13 07:59] efd6 commented on #4318
Would you be able to provide a sanitised event for the example above rather than a hand-crafted one; I am unable to parse the construction that you have there.

[2022-10-13 09:49] efd6 commented on #4360
From the discussion at the SU post, perhaps what is currently being mapped as `host.mac` should actually be being mapped as `host.id`. We could retain the current mapping of 6-octet identifiers as `host.mac` in addition.

[2022-10-13 11:30] gsantoro opened #4456 "Qemu cannot start Java app on M1 chipset laptop"
This issue is specific to an integration `containerd` but it might appear in other integrations or other part of the elastic project.

The system tests for the integrations [containerd](https://github.com/elastic/integrations/tree/main/packages/containerd) are not passing on my M1 chipset laptop because Qemu is not able to run a Java Spring application on a docker image build for AMD64 architectur

[2022-10-13 13:50] marc-gr opened #4459 "[fortinet] Improve ECS mappings"
Some ECS mappings can be improved for the `fortinet` integration. EG: `event.severity` on fortigate. We need to review all datastreams and add any missing ECS mappings.

[2022-10-13 13:50] elasticmachine commented on #4459
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-10-13 14:27] iamhowardtheduck opened #4460 "LastPass Dashboard Spelling and Grammar Errors"
Spelling and grammar errors with LastPass Dashboard from version 8.4.3, please see below in the Dashboard Changes section:

### Dashboards changes

- [ ] Dashboards exists
- [ ] Screenshots added or updated
- [ ] Datastream filters added to visualizations
Spelling error with User Dashboard, should be "weak" not "week"
![image](https://user-images.githubusercontent.com/11168913/195623288-94e7e3b7-4

[2022-10-13 15:18] nicpenning commented on #4360
Makes sense to me. Thanks!

[2022-10-13 17:49] muralidharanvenkataraman commented on #4238
I am working with a client here and found that two lines were merged into a single line for the sql server error log.  We figured out that it was due to the encoding and by adding this line to the config.yml file, the logs were parsed correctly.

`encoding: utf-16le`

a) Is there a possibility to add this as option within the integration UI
b) Support the ability to ignore files older than a certa

[2022-10-13 21:26] #2116 closed

[2022-10-14 12:52] gsantoro opened #4462 "Remove `event.ingested` processor from ingest pipelines"
As part of a [PR](https://github.com/elastic/integrations/pull/3814#discussion_r977630490) it has been brought to my attention that we shouldn't add event.ingested to ingest pipelines since that field is already added by a default fleet [pipeline](https://github.com/elastic/kibana/blob/7.14/x-pack/plugins/fleet/server/constants/fleet_es_assets.ts#L38).

According to @andrewkroh [here](https://gith

[2022-10-14 14:42] leehinman commented on #4385
elastic/beats#32265 should fix the issue and be released in 8.5

[2022-10-17 05:57] ritalwar opened #4465 "Airflow Migration Subtasks"
# Airflow Integration Subtasks

These subtasks are intended to track the  progress while creating a Package or Dataset for an Integration.

### Set up Airflow Environment and Run

- [x] Setup, install and configure Airflow
- [x] Run StatsD

### Run Airflow Metricbeat

- [x] Get the metrics in ES

### Run Statsd Metricbeat

- [x] Get the metrics in ES

### Create Dummy Airflow Integration using sta

[2022-10-17 05:58] ritalwar commented on #3748
Updates in - https://github.com/elastic/integrations/issues/4465

[2022-10-17 10:15] ruflin commented on #4462
I want to take this as a chance to take a step back. Why do we need `event.ingested` in the first place? My understanding is that it is useful for monitoring (ingestion delay) and for security purpose. On the second point, I assume @andrewkroh can add a few more bits on how it is used.

Both of the above are not package related but "centralised" concers. Also the addition of the data can only happ

[2022-10-17 11:24] WoodyWoodsta opened #4466 "[Custom Logs] Leader election condition does not work"
I have a fleet managed Daemonset of agents which are assigned a policy including the Custom Logs integration. I want to collect logs which are duplicated across all nodes, so I'm only interested in one of the agents shipping the logs. The only "correct" way to do this seems to be to use leader-election.

In the configuration editor for the Custom Logs integration, I've added the following custom c

[2022-10-17 12:01] gbanasiak opened #4467 "[FIM] FIM integration documentation incorrectly lists user anf group fields as exported"
FIM integration lists `user.*` in exported fields, but this field will never get populated as per https://github.com/elastic/integrations/issues/3310. This is misleading to users, since user and group fields are currently under `process` and `file` depending on the FIM backend/os used

We need to fix the documented fields to add:

- `process.user.*` relevant fields
- `process.group.*` relevant fie

[2022-10-17 13:06] elasticmachine commented on #4467
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-10-17 13:07] elasticmachine commented on #4460
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-10-17 13:08] jamiehynds commented on #4460
Hi @iamhowardtheduck - the 'Dashboard Changes' section seems to be missing, so we can't see the spelling/grammar errors. Would you mind adding?

[2022-10-17 13:10] scunningham commented on #4462
I also am curious as to what we are using event.ingested for?  It does seem useful for diagnostic reasons; it is interesting when there is a large lag between event creation and delivery.  This may affect the efficacy of the SIEM as it is time window bound.  May also demonstrate a clock skew issue.

However,  does it necessarily have to be mapped?  If it is not mapped, then the compression overhea

[2022-10-17 19:53] vnirocha commented on #4417
Hey @motizuki,

Let me please add one more question to yours. Dear elastic team, what is the purpose of having two nginx integrations (nginx & nginx ingress controller) if both of them tails access.log and error.log?

In my scenario here, my team deployed a rke2 cluster having nginx 1.2.1 deployed as the default ingress controller. I'm having the same issue as @motizuki... access.log and error.log

[2022-10-18 06:25] muthu-mps commented on #4448
Working on exploring the approaches used in Packet-beat for `libpcap` to see if we could leverage the same capabilities for DB2 as well.

[2022-10-18 07:04] #761 closed

[2022-10-18 07:48] agithomas commented on #3846
Can this discussion be closed considering that no action is needed to support k8s or agent running as a container ?

All the other points, the solutions are identified and it is currently being tested

[2022-10-18 08:16] jsoriano commented on #3846
Ok, closing this, lets continue on the other open issues and PR. Thanks @agithomas!

[2022-10-18 08:16] #3846 closed

[2022-10-18 08:40] ManojS-shetty commented on #3025
@yash-gill Can you please update the mongodb version to latest and try again to reproduce the same?

[2022-10-18 09:30] simranvaseer-qasource commented on #4003
Hi Team
We have revalidated this issue on latest 8.5 BC6 kibana cloud environment and found it **fixed** now.

- All added integrations are upgraded to latest version when checkbox is enabled-'Upgrade Integration policies' while upgrading integration.

[code]

[2022-10-18 10:09] ManojS-shetty opened #4469 "Tag few integrations under the new `infrastructure` category"
Please tag the below list of integration under the new category `infrastructure`.

| Packages |
| ---------  |
| activemq  |
| apache |
| couchbase|
| couchdb|
| etcd|
| hadoop |
| haproxy |
| http_endpoint |
|ibmmq|
| websphere_application_server |
| iis |
| kafka |
| memcached |
| mongodb |
| microsoft_sqlserver |
| mysql |
| nagios_xi |
| nginx |
| oracle |
| postgresql |
| rabbitmq |
| redis |

[2022-10-18 10:12] karanbirsingh-qasource commented on #4110
Hi Team,

we have validated this issue on 8.5.0 BC6 and found the issue to be fixed now. ✔️

**Build Details:**
[code]

**Screen-Shot**

![image](https://user-images.githubusercontent.com/59917825/196402242-02a3078d-058d-4cb9-8ed8-05e235740b12.png)

![image](https://user-images.githubusercontent.com/59917825/196402304-233db886-a6d2-4e7b-8c62-bcad4ee966ea.png)

![image](https://user-images.githubus

[2022-10-18 10:12] #4110 closed

[2022-10-18 13:36] narph commented on #4236
@jsoriano can you chime in here?

[2022-10-18 13:51] jsoriano commented on #4236
This is a long standing issue. We should have a way to include agent-specific mappings into the index templates of any input, or integration in general.

I don't think that these mappings belong to packages, as they are not produced by them. If these mappings are included in packages, any update on the agent or the processes it manages would require to update and release all packages, and users wo

[2022-10-18 14:16] vnirocha commented on #4417
@motizuki

Worked well for me using "access log" path as /var/log/pods/kube-system_rke2-ingress-nginx-controller*/rke2-ingress-nginx-controller/*.log. Access logs and dashboards seems all ok.

I'm using kibana 8.4.3 with ingress controller integration version v1.2.0.

Unfortunately I coundnt make error logs work, as error and access are being redirected to the same output (stdout of container)

Ho

[2022-10-19 00:59] #4107 closed

[2022-10-19 05:00] amemkdm commented on #1132
We just received a request from one of our customers to integrate prisma logs in to the siem for monitoring.

[2022-10-19 10:42] legoguy1000 commented on #4389
Sure. Whatever samples u can provide the easier it is.

[2022-10-19 10:59] lwhitworth commented on #4389
Logs I have access to are hugely repetetive but here's a sample from one:

[code]

[2022-10-19 11:11] janniten opened #4474 "Linux System Integration (system.auth) IAM events parsing problems"
Hi!
I've found the following problems when parsing Linux events related to user creation/modification/deletion.
All the raw events are from the` /var/log/secure` log
- Failing to add an user
Do not populate` user.name`/`related.user` and the outcome is "`success`" when the command failed

`Oct 11 09:10:48 plinode useradd[25494]: failed adding user 'aol', exit code: 4`

![image](https://user-images

[2022-10-19 11:13] elasticmachine commented on #4474
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-10-19 11:14] P1llus commented on #4236
@jsoriano I think that one of the issues is that filebeat itself would install these fields when using raw inputs if the processors was used, and it would be nice to be able to at least include the minimum fields.

Isn't there something we could do in the meantime? Or would that just cause more issues later down the line? It's either that or we should disable the `add_host_metadata` processor by d

[2022-10-19 12:23] muthu-mps opened #4475 "IIS event.duration(time_taken) is ignored in ingest pipeline"
Two aspects to consider here,
1) The `_temp_` holds the `_temp_.url_path, _temp_.duration` etc... This base variable is getting removed directly before setting the duration value to event.duration field.
Piece of code:
[code]
Verify all the processing is done on the sub fields under `_temp_`. Finally remove the variable.

2) The condition check is against the incorrect field reference,
[code]
Fiel

[2022-10-19 15:24] elasticmachine commented on #4466
Pinging @elastic/elastic-agent-control-plane  (Team:Elastic-Agent-Control-Plane)

[2022-10-19 16:07] andrewkroh commented on #1937
Lacking closure on https://github.com/elastic/package-spec/issues/227, we have marked any packages that we are treating as deprecated with a `description` field that begins with `Deprecated.` For example:

https://github.com/elastic/integrations/blob/a69ce2a4f7196b6064b44296aea9303c261fedf7/packages/microsoft/manifest.yml#L5

https://github.com/elastic/integrations/blob/8359e92cbf339649139ea6cad39

[2022-10-19 16:07] #1937 closed

[2022-10-19 16:15] cmacknz commented on #4466
Can you provide the entire agent policy you are using?

@elastic/obs-cloudnative-monitoring FYI, seems like either a configuration issue or a bug with the agent's Kubernetes [leader election provider](https://www.elastic.co/guide/en/fleet/master/kubernetes_leaderelection-provider.html).

[2022-10-19 16:29] WoodyWoodsta commented on #4466
@cmacknz See below - I've removed sensitive inputs. The problematic integration is `logfile-logs-ddeb4552-cde0-4fdb-a2f8-a60cb1a28bc5`

[code]

[2022-10-19 18:07] fearful-symmetry commented on #3432
@nimarezainia I'm a tad confused by the scope of this. Is this issue for adding a tags and processors field to all integrations? Just a certain subset of logging integrations?

[2022-10-19 20:02] troy-kuhns commented on #3434
We have noticed all of the above as well and Fleet's lack of support for spaces has been a deal breaker for us transitioning. To add to this, even adding namespaces to the integrations does not resolve this problem since integration names still need to be unique across namespaces (which from a programing perspective makes me question the use of a namespace). It would be nice if this issue saw more

[2022-10-20 06:38] yug-elastic commented on #3940
List of backlog items as suggested by @agithomas and discussed with the team:

- System tests with actual Salesforce instance containerized (Currently, the system tests use the observability/stream image due to the limitations mentioned [here](https://github.com/elastic/integrations/pull/4261#discussion_r993356958))

CC: @milanparmar-crest @lalit-satapathy

[2022-10-20 11:30] muthu-mps commented on #4431
The named instance connection is working fine. The SQL Server browser service listens for incoming connections to a named instance. This uses the UDP port 1434 and it should be open in the Inbound rule.

Connection String: `"sqlserver://user:pass@host/MSSQLSERVER01"`

[2022-10-20 14:35] jamiehynds opened #4484 "[Custom API] Update Docs"
As part of https://github.com/elastic/integrations/issues/3400 @kcreddy updated the name of the HTTPJSON input to 'Custom API' . However, the integration docs/description still reference httpjson. Can we please adjust to reflect the new name.

Current:
`Custom HTTPJSON input integration
The custom HTTPJSON input integration is used to ingest data from custom RESTful API's that do not currently hav

[2022-10-24 00:51] tlee-elastic opened #4491 "[Google Workspace] Cursor is not set correctly in httpjson.yml.hbs"
Hi Team,

The cursor is not set correctly in the httpjson.yml.hbs.

[code]

When the agent restarts, it will continue from the current time instead of progressing from the last API response time. This causes an outage as the agent cannot automatically backfill the data from the last successful document.

[2022-10-24 07:46] elasticmachine commented on #4491
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-10-24 14:31] #3548 closed

[2022-10-24 15:33] andrewkroh commented on #4491
@marc-gr Do you recall why "execution time" was used as opposed to a timestamp taken from the last received event?

https://github.com/elastic/integrations/blob/8bebafa86b91db549bb2b63af517927a111b7c22/packages/google_workspace/data_stream/admin/agent/stream/httpjson.yml.hbs#L28-L30

[2022-10-24 15:55] andrewkroh commented on #4491
@tlee-elastic It should be resuming by using the execution time of the last request (as was persisted to disk). If that state was lost (or it was the first time the integration runs) then by default it will use `now - 24h`. Does your Agent container have persistent storage mounted such that on restart it retains the persisted state?

[2022-10-24 16:06] faec commented on #3432
[drive-by as I review sprint status] This task looks underspecified -- the design doc linked through the meta issue isn't finalized, and it's unclear what the technical deliverables for this specific issue are, so I don't think "estimation:Day" is a realistic tag.

[2022-10-24 16:43] WildDogOne commented on #4428
I may be able to help with the Barracuda Essentials integration, looks straight forward enough.
But since I don't have barracuda, you would need to collect some syslog packages and attach them to the issue

The Barracuda RMM is a whole different topic, because delivery is via rest API, so I would need to have access to a test system to get this to work.

[2022-10-24 16:53] WildDogOne commented on #4319
I so much agree with you on this!
I can open a pull request and try to work on this issue if nobody else has time :)

[2022-10-24 21:31] #4026 closed

[2022-10-24 23:00] andrewkroh commented on #4236
For as long as Agent is [automatically including processors](https://github.com/elastic/beats/blob/4e8236f9ca35be50c36e9caba51b26c623e57f5c/filebeat/filebeat.yml#L167-L172) in config without the option of disabling them, then I think our input packages must generate mappings that include the fields produced by these processors. In effect that means including field definitions for fields produced b

[2022-10-25 00:01] tlee-elastic commented on #4491
@andrewkroh from what I can see in the logs, when the google workspace integration paginates, it still updates the cursor with the execution time. If there is an agent restart/disruption during this time. When it resumes, it continues from the cursor time and results in missing data. Logs below:

[code]

You can see that the start time in the pagination is still `2022-10-24T01:03:49Z` but the curs

[2022-10-25 00:20] efd6 opened #4495 "panw: event.outcome is incorrectly always set to success"
The global ingest pipeline sets `event.outcome` to "success" without reference to the success state of the event. https://github.com/elastic/integrations/blob/76292ec0fe6911665fd74b1ab8962539652c8b79/packages/panw/data_stream/panos/elasticsearch/ingest_pipeline/default.yml#L1046-L1048

This results in clobbering conditionally set `event.outcome` states for example from here. https://github.com/ela

[2022-10-25 07:22] muthu-mps commented on #4448
IBM DB2 requires new library needs to be included in golang-crossbuild. Discussions around this [here](https://github.com/elastic/observability-robots/issues/1422)

[2022-10-25 08:06] rsdrakh commented on #3976
I have found this issue actually in a lot of other integrations on customer site:
system.system
system.application
system.security
cisco_*
auditd.log
iis.access|error
sophos.utm
system.auth
microsoft_dhcp

This seems to be a general issue.

[2022-10-25 10:24] jsoriano commented on #4236
Yeah, I agree that this is the only solution at the moment. I am not sure though if we should do much to support this, as we don't want it long term. The way to do this now is to copy and paste manually.

Perhaps a way to support this mid-term is to implement in elastic-package some kind of import mechanism as the one we have for ECS fields, but that include whole sets of fields. We would need to

[2022-10-25 10:35] jsoriano commented on #3976
@kpollich should we put this in our plate?

[2022-10-25 11:35] kpollich commented on #3976
@jsoriano Yes I think this makes sense. Could you file a Fleet issue for this?

[2022-10-25 11:44] jsoriano commented on #3976
Closing this in favor of https://github.com/elastic/kibana/issues/143936, thanks!

[2022-10-25 11:44] #3976 closed

[2022-10-25 11:57] felix-lessoer commented on #4041
Started to improve the Security Hub Dashboard. Any things you like to add?
Working on fixing the last issues.

![SecurityHub Summary - Elastic](https://user-images.githubusercontent.com/35069463/197767104-59d75422-f93b-4afe-bda4-01421b63da49.png)

[2022-10-25 12:07] ManojS-shetty commented on #4469
CC: @SubhrataK

[2022-10-25 13:05] jamiehynds commented on #4041
Thanks @felix-lessoer - once you finalised the dashboards would you minding submitting a PR and we can work through the review process? @Udayel any other suggestions you'd suggest?

[2022-10-25 13:14] felix-lessoer commented on #4041
Sure @jamiehynds

I have updates for many of the AWS dashboards in place

[2022-10-25 13:58] marc-gr commented on #4491
I do not remember any specific reason, and indeed it seems like using the provided time in the events would result in a more robust solution.

[2022-10-25 16:21] girodav commented on #4246
https://github.com/elastic/beats/issues/33133 has been merged, so we can start working on this

[2022-10-25 18:40] nimarezainia commented on #3432
@fearful-symmetry this is just about adding tags and processors to the "Custom Log" integration. this was done for the system integration also: https://github.com/elastic/integrations/issues/2865#issuecomment-1188780415

@kpollich in context of https://github.com/elastic/elastic-package/issues/949   - how should we be pursuing this?

[2022-10-25 19:18] kpollich commented on #3432
@nimarezainia It would be best to follow suit with https://github.com/elastic/integrations/issues/2865 here and add tags + processors to the Custom Logs integration.

Regarding https://github.com/elastic/elastic-package/issues/949, let's not let this block any work in the short term. We can discuss a path forward and what the priority looks like for managing these fields in a global way elsewhere.

[2022-10-25 20:39] andrewkroh commented on #4236
@jsoriano Overall I like this plan.

For the short-term, I would say we should add mappings manually to these custom input packages for the fields that need non-default mappings (e.g host.ip, cloud.account.id (prevent it from being detected as a number)). This way we can address the field conflicts that users are experiencing today.

Mid-term, this sounds great to have sets of fields that can be i

[2022-10-25 23:27] colin-stubbs commented on #1200
Upvote! It would be good to see the PR reviewed and ideally accepted.

In summary, if Elastic Security/SIEM needs to be able to ingest all relevant endpoint, web, email and network events related to an organisation, across as many major / typically used products as possible.

Microsoft 365/Exchange Online is a pretty major product and should have priority.

[2022-10-26 05:37] #4475 closed

[2022-10-26 07:02] aforfot commented on #4318
Sorry for the somewhat late response, hopefully this is better:

`"2022-10-12 10:19:07","Company Hostname","Company Hostname","192.168.0.0","10.10.10.10","Blocked","1 (A)","NOERROR","malicious.com.","Advertisements,Malware","Roaming Computers","Roaming Computers","Malware"`

[2022-10-26 07:04] aforfot commented on #4320
Updated and removed initial request related to `source.id`

[2022-10-26 07:09] amitkanfer commented on #3820
Related slack conversation: https://elastic.slack.com/archives/C01QQ449KE1/p1666749376816439

[2022-10-26 09:03] jsoriano commented on #4236
Do you have a list of such mappings? If there are few of them maybe we can hard-code them by now in elastic-package (or Fleet) if this is a low hanging fix for current issues.

Ah ok, this would be solved by the proposed plan :+1:

I will create the follow-up tasks to implement this.

[2022-10-26 09:47] ishleenk17 opened #4497 "Understanding the flow of input package"
Service Integrations would be taking up the building of the input package.
This task is dedicated to understanding the end-to-end flow when we have a service as an input package

[2022-10-26 09:49] ishleenk17 opened #4498 "Structural and basic working of Jolokia input package"
Build Jolokia Input package

[2022-10-26 12:37] WildDogOne commented on #1200
@colin-stubbs you're in luck, my PR got accepted yesterday, so I guess the integration should be available very soon

[2022-10-26 12:55] jamiehynds commented on #1200
Closing via https://github.com/elastic/integrations/pull/4135

Thanks again @WildDogOne!

[2022-10-26 12:55] #1200 closed

[2022-10-26 13:05] thinkst-devdua opened #4502 "Cisco Duo integration v1.5.1: "field [access_device] not present as part of path [json.access_device.ip]""
I am seeing this error pop up with the latest Duo integration (1.5.1) being used with Elastic Agent 8.4.3

![image](https://user-images.githubusercontent.com/109740214/198032896-ebbcc473-9d15-4247-81f0-592921c5acab.png)

It happens when the list of authlogs from the API is empty (as can be seen in the screenshot)
`{"response":{"authlogs":[],"metadata":{"next_offset":null,"total_objects":0}},"stat"

[2022-10-26 13:59] marc-gr commented on #4491
Answering to myself. Going through the integration I remember why I did not use the id.time field. I saw different date formats for the time from several samples, and hence supporting these all in the httpjson config would be a bit brittle and cumbersome. I can explore it again and amend it, as I indeed think would be better under a failing scenario like the proposed one.

[2022-10-26 16:01] jsoriano commented on #4236
Issues created to implement the above plan:
* https://github.com/elastic/elastic-package/issues/1018
* https://github.com/elastic/package-spec/issues/441
* https://github.com/elastic/elastic-package/issues/1017
* https://github.com/elastic/kibana/issues/144048

[2022-10-26 16:09] P1llus commented on #4236
Great progress! Thanks a lot for the nice feedback @jsoriano @andrewkroh .

I have 2 new input integrations planned, which I will put slightly on hold until it is resolved, so that we don't have any unnecessary changes so close after release.

Let me know if there is anywhere that I can help 👍

[2022-10-26 16:20] jsoriano commented on #4236
It'd be great if you could help compiling the list of fields that would be good to include in the hard-coded workaround in https://github.com/elastic/elastic-package/issues/1018.

Thanks!

[2022-10-26 16:30] P1llus commented on #4236
Will put that on the todo list for tomorrow then 👍

[2022-10-26 20:16] Danouchka commented on #4143
I guess we should adapt to all environments

[2022-10-26 23:24] kaiyan-sheng opened #4505 "[AWS] Remove deprecated fields from documentation"
In https://docs.elastic.co/integrations/aws/ec2 we still record `aws.ec2.cpu.total.pct`, which is replaced by `host.cpu.usage`. We should remove the deprecated fields in AWS integration documentation and add the new fields in.

[2022-10-27 04:53] thinkst-devdua commented on #4502
@efd6 It has only come in recently not sure of the conditions under which they get created (I have seen multiple of these).

If it arrives in this form, no document should be created because technically Duo is reporting no activity happened in the auth log. This type of document is only polluting the index, as it's creating an error (`error.message` plus `event.outcome: failure`) plus the document

[2022-10-27 07:20] efd6 commented on #4502
OK, this looks like it's a problem in filebeat. The httpjson input is returning the full root object when a split has no elements (the API returns the collection and then httpjson does a split on `response.authlogs`). It can be worked around in the integration, but I'd like to see what the underlying behaviour is intended to be.

[2022-10-27 08:26] ManojS-shetty commented on #3025
We are moving this to Done state as we are not seeing this error now in log ingesting. If you it is found again please report it and mention the steps to reproduce and version of the mongodb used.

[2022-10-27 08:26] #3025 closed

[2022-10-27 08:35] nugroho-exp opened #4507 "[OSQuery] Non-compliant ECS field mappings causing conflicts: user.id, user.group.id, group.id"
Similar to #3724 some query causes ECS conflict (keyword and long)

This can be reproduced by executing built-in query "select * from users" with default ECS mapping option:

![image](https://user-images.githubusercontent.com/35025861/198231915-949abcd1-9f9c-4fc1-9d5e-0f3a46aa5427.png)

[2022-10-27 14:43] #4191 closed

[2022-10-27 15:26] matthiasledergerber opened #4509 "[System] System Integration doesn't populate ECS Fields like user.name, source.domain, etc. anymore"
Elastic-Stack: 8.4.3

The Current System Integration 1.19.5  doesn't seem to populate ECS Fields like user.name or domain.name anymore. This leads to empty fields in the with the Integration delivered Dashboards.

![image](https://user-images.githubusercontent.com/22050363/198331960-d0fdf8af-2264-455c-94f9-283655b12f9d.png)

Furthermore, these Fields are often used by others developing custom Dash

[2022-10-27 17:01] fearful-symmetry commented on #3432
@nimarezainia it looks like the main codeowners for that don't work here anymore, so I can probably just add it for this one. In the future if we want to add this to more integrations it should probably be done by the code owners of the given integrations, since the `.yml.hbs` files are so fragile and CI tends to not catch basic errors, so someone with knowledge of a given integration would have a

[2022-10-27 18:22] WildDogOne opened #4510 "@Custom Pipeline Behaviour"
Hello Everyone,

Since (I think) V8.4 every integration pipeline automatically gets an appended @custom pipeline
This of course makes a lot of sense, up till the point where we have an integration with chained Pipelines

Example Apache:
Pipeline "logs-apache.access-x.x.x" triggers "logs-apache.access-x.x.x-third-party"
and both of them trigger "logs-apache.access@custom"

This is redundant, and in

[2022-10-27 19:10] vnirocha commented on #4288
Any updates on this? The issue is closed but it seems like the new version is not available to download on kibana.

[2022-10-27 20:53] andrewkroh opened #4511 "[panw] TCP syslog parsing fails because of rfc6587 framing"
When receiving syslog messages from PAN-OS over TLS it appears that rfc6587 framing is used. Parsing with the `syslog` processor fails because of the leading message length.

`795 <14>1 2022-10-11T16:20:32.360Z hostname logforwarder - panwlogs ...`

This results in errors like:

`syslog failed to process field "message": validation error at position 1: parsing time "761" as "2006-01-02T15:04:05.99

[2022-10-27 20:53] elasticmachine commented on #4511
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-10-27 21:29] #4495 closed

[2022-10-27 21:38] jamiehynds commented on #4511
Based on their docs they seem to recommend IETF format for TCP/TLS, but I'm not sure if it's the default. Given that they recommend IETF, we could call that our in our docs too and add the framing parameter by default for the TCP input.

I'm in touch with Palo at the moment - I can get their input and report back.

[2022-10-27 21:54] andrewkroh commented on #4510
@nchaulet Could you take a look at this. It looks like a bug. It sounds like the `@custom` is being inject into all pipelines instead of just the default/main pipeline for the data stream. Several integrations organize their logic using "sub-pipelines" where the main pipeline calls into a another pipeline based on some branching condition. We would only want the `@custom` to be injected into the a

[2022-10-27 21:54] elasticmachine commented on #4510
Pinging @elastic/fleet (Team:Fleet)

[2022-10-27 22:32] nchaulet commented on #4510
Yes you are correct looking at the code we inject the `@custom` pipeline for all the pipelines and not only the main one, it seems an easy one to fix.

[2022-10-28 02:37] Udayel commented on #4041
Thank you @felix-lessoer. @jamiehynds Looks good to me. But some of the security findings raw events and geo map data still not showing in the default dashboard.I really appreciate if someone can look into that asap.

[2022-10-28 08:38] #4502 closed

[2022-10-28 11:01] narph opened #4518 "[Meta] [Security External Integrations] Update package format version to `2.0.0`"
New package format version is available (2.0.0) and introduces additional validations.

Initial code change requires updating `format_version` to `2.0.0` in the security package manifests.

This could trigger validation issues and contains breaking changes, more on troubleshooting here https://github.com/elastic/elastic-package/blob/main/docs/howto/update_major_package_spec.md

Potentially automat

[2022-10-28 11:15] elasticmachine commented on #4518
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-10-28 13:15] sunilemanjee commented on #4511
Does this impact syslog over UDP as well?

[2022-10-28 13:33] andrewkroh commented on #4511
I would not expect it to. This type of framing is used in TCP only because multiple messages are sent over the same connection. In UDP you get separate packets for each message so there is no need for framing.

[2022-10-28 13:36] taylor-swanson commented on #4511
Echoing Andrew's statement, syslog over UDP is one syslog message per UDP datagram per RFC 5426 (https://www.rfc-editor.org/rfc/rfc5426#section-3.1)

[2022-10-29 05:37] zez3 opened #4525 "end of the stream or a document separator is expected at line 13, column 1:"
syslog enable in policy UI not working with custom processors

Steps to reproduce:

Use a custom UDP integration, enble syslog in UI and a add a simple processor in advanced options
Try to save this policy.
An error will occur

[code]

Workaround:
Disable the UI option and use the syslog processor directly in the advanced option section together with other processors there.

For confirmed bugs, pl

[2022-10-30 20:34] #4360 closed

[2022-10-30 23:07] efd6 commented on #4518
@andrewkroh's [ecs-update](https://github.com/andrewkroh/go-examples/tree/main/ecs-update) could easily be bent to do this since it already {de,re}-serialises the packages' manifests.

[2022-10-31 05:27] yug-elastic opened #4523 "[apache_spark] Improvise README to explicitly call out the need for Spark to run standalone"
Related SDH: https://github.com/elastic/sdh-beats/issues/2631

The Apache Spark integration uses Jolokia metricbeat module and hence, Jolokia needs to be set up as a third party dependency. Based on the documentation [link](https://spark.apache.org/docs/3.2.0/monitoring.html#component-instance--master), it can collect the metrics only when Spark is running standalone as master/worker.

However, th

[2022-10-31 09:16] #4484 closed

[2022-10-31 13:56] #4510 closed

[2022-10-31 19:07] elasticmachine commented on #4525
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-10-31 19:09] leehinman commented on #4525
This looks like an issue with the YAML that is produced when processors are defined.  Specifically in the udp.yml.hbs file:

[code]

If {{processors}} exists it won't get added with the same indentation as the `  - syslog` processor.

[2022-10-31 19:30] taylor-swanson commented on #4525
This also affects the custom TCP integration as well. I do a sweep over the rest of the hbs files to see if any other processor blocks are affected.

[2022-10-31 21:22] andrewkroh commented on #4386
@zez3 If you could get the event.original that would be really helpful in validating #4426. Thanks!

[2022-10-31 22:14] mholttech commented on #244
Any update on this? We're looking at the beta for the Private Checkpoints for uptime but the inability to securely store secrets makes it impossible to move forward with from a Security point of view

[2022-10-31 23:26] matthiasledergerber commented on #4509
This issue has been resolved as soon as I upgraded from 1.19.5 to 1.20.4. The fields are now populated again. The update wasn't displayed earlier I think it started to come up this week. Strange to see something like this in production. Maybe we've upgraded the system integration to an unstable version somehow?

However, I close this issue :)

[2022-10-31 23:26] #4509 closed

[2022-11-01 08:11] #4008 closed

[2022-11-01 08:31] gizas commented on #4288
@vnirocha is included in kubernetes integration v1.26.0 (cc https://github.com/elastic/integrations/pull/4363/files#diff-f5cad472c8987c44a5ae13aa50b43dd7f3ddbdc5709dded2519ba851aa43d8daR2 )

[2022-11-01 08:50] ruflin commented on #4287
Making synthetic source a default is still blocked by https://github.com/elastic/kibana/issues/141211 and making the [synthetic source feature GA](https://github.com/elastic/kibana/issues/141211) which is not the case as of the upcoming 8.5 AFAIK. As we have now an option to enable it, lets make sure we continue testing and as soon as we are unblocked on the Fleet side and synthetic source goes GA

[2022-11-01 09:24] felix-lessoer commented on #4041
The data that I am able to produce does not include geo information.
Any ideas how to trigger it?

Also: Any doc that is of type `aws.securityhub_insights` does not include any information. The event.original field is always `{"Insights":[]}` . The Security Hub Console in AWS shows data. I think thats a bug in the Beat / Agent Integration.

[2022-11-01 09:26] jamiehynds commented on #4041
@vinit-elastic can you confirm if the lack of data within `Insights` is an issue on our side or on Security Hub?

[2022-11-01 11:43] vinit-elastic opened #4527 "Update the pagination termination condition in security connectors"
Current condition for pagination termination contains `[[else]][[.last_response.terminate_pagination]][[end]]` which results in error logs when pagination is completed.

Removing this `else` condition will not result in error logs.

Error logs that are getting logged is:
`[elastic_agent.filebeat][error] error processing response: template: :1:107: executing "" at <.last_response.terminate_paginati

[2022-11-01 13:59] ruflin commented on #4462
@gsantoro Is there any follow up issue or PR for your action points to track the progress?

@joshdover Pinging you on this one for awareness as `event.ingested` seems to be a more generic ingest challenge together with the final pipeline. @axw Is apm using `event.ingested` in any way?

[2022-11-01 14:21] #1359 closed

[2022-11-01 14:31] gsantoro commented on #4462
Hello @ruflin ,
regarding the PR that created this discussion in the first place, it has now been merged as it was (without the event.ingested) as agreed.

I assume that if we agree to remove event.ingested from all the ingest pipeline, this would not happen in a single PR but would probably involve multiple teams according to the [CODEOWNERS](https://github.com/elastic/integrations/blob/main/.git

[2022-11-01 16:17] andrewkroh commented on #4462
It is mapped as a `date`. The value does not contain subseconds to help improve compressibility. [^1] [^2]

[^1]: https://github.com/elastic/beats/issues/22388#issuecomment-857755008
[^2]: https://github.com/elastic/kibana/pull/104044

[2022-11-01 17:23] gsantoro commented on #3552
5. Should we add a graph visualization (similarly to what we had in metricbeat)?
This is the one from metricbeat (taken from https://www.elastic.co/blog/istio-monitoring-with-elastic-observability) where we connect source_app to destination_app and response_code
![Screenshot 2022-11-01 at 17 18 18](https://user-images.githubusercontent.com/2378291/199295928-3801730d-a926-4917-8b08-5e86fd965896.png

[2022-11-01 19:11] joshdover commented on #3419
Opened an issue for adding an "experimental" toggle for this, similar to how we did for synthetic source: https://github.com/elastic/kibana/issues/144357

[2022-11-02 00:25] NateUT99 commented on #4511
I believe this issue was opened based on some troubleshooting that my team was involved with. I wanted to add that in our specific case, the logs were being exported from Cortex Data Lake in PAN-OS format (from their Prisma Access solution). We will be switching our on-premise PAN-OS logs from udp to tcp later this week; I'll post an update on if the framing option was necessary for these as well.

[2022-11-02 02:46] axw commented on #4462
No. I have used it in the past to calculate ingestion delay, but that was a one-off exercise, not something that is visualised in the product.

[2022-11-02 05:05] asiridiaz opened #4529 "iis.erros ingest pipeline doesnt parse few log patterns"
As per the investigation found below points

there are 4 types of errors in the iis.error dataset and listed below

1.     Provided Grok expressions do not match field value: [2022-09-06 08:06:47 3.26.100.46 29748 172.21.2.31 443 HTTP/1.1 BASELINE-CONTROL /llyj1ZiF.htm - 404 - NotFound -] (the field value is vary)
2.     Provided Grok expressions do not match field value: [2020-09-07 15:03:39 66.2

[2022-11-02 06:15] vinit-elastic commented on #4041
Hey @felix-lessoer - can you please increase the time range ( initial_interval ) of the connector and re-run it? I suspect the reason you are getting `Insights: []` could be that there are no new insights.

[2022-11-02 09:27] jeanfabrice commented on #1918
👍

[2022-11-02 09:53] jamiehynds opened #4533 "[Security Integrations] Filestream Support"
While new integrations leverage the [filestream input ](https://www.elastic.co/guide/en/beats/filebeat/current/migrate-to-filestream.html), integrations that currently include the log input have not leveraged the filestream input. This is mainly due to a potential breaking change, whereby the filestream input will read all old log files if we change from log to filestream.

Given the improvements

[2022-11-02 09:54] elasticmachine commented on #4533
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-02 10:13] gsantoro commented on #3552
6. I have generated some more graphs. What do you guys think about them? Can we embed them with the integration?

![Screenshot 2022-11-02 at 10 10 27](https://user-images.githubusercontent.com/2378291/199463276-70b33554-29e6-4ad2-bd8f-e6d651d92ac2.png)
![Screenshot 2022-11-02 at 10 11 37](https://user-images.githubusercontent.com/2378291/199463286-a35d5ec2-a9bc-499e-af9a-f561789e612b.png)
![Screen

[2022-11-02 10:17] felix-lessoer commented on #4041
@vinit-elastic The **insights** integration only has `interval `but not `initial interval`.
`Initial interval` is only available for **findings**.

[2022-11-02 10:37] vinit-elastic commented on #4041
Ahh, my bad. You are right. For insights you'll have to generate the logs on the fly, with connector running.

[2022-11-02 10:46] vinit-chauhan opened #4534 "Add support for new fields of AVR logs sent by Telemetry Streaming"
New Fields of AVR logs which is not mentioned in Document - https://clouddocs.f5.com/products/extensions/f5-telemetry-streaming/latest/avr.html?highlight=avr%20logs#collecting-data

| Fields |
| --- |
| errdefs_msg_name |
| mitigation |
| vip_name |
| Microtimestamp |
| profile_context |
| profile_type |
| bytes_in |
| bytes_out |
| cpu |
| slot |
| memory_total |
| memory_used |
| idle_ticks |
|

[2022-11-02 10:50] elasticmachine commented on #4534
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-02 11:40] vinit-elastic opened #4535 "Make enhancement in connectors with best practices implementation"
| Best Practices                                                                                                                                 | Cisco Duo | Tenable.sc | Zscaler ZIA | Zscaler ZPA | Netskope | Carbon Black Cloud | Cisco ISE | Cisco ESA | Infoblox NIOS | Proofpoint TAP | Jamf Compliance Reporter | SentinelOne | Palo Alto PANW | Cloudflare Logpush | AWS Security Hub |
| -----------

[2022-11-02 11:41] elasticmachine commented on #4535
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-02 12:35] gsantoro commented on #3552
7. Istiod dashboards
![Screenshot 2022-11-02 at 12 33 25](https://user-images.githubusercontent.com/2378291/199490909-fdf0bfc2-2edb-4286-8f41-11a034040b56.png)

![Screenshot 2022-11-02 at 12 33 19](https://user-images.githubusercontent.com/2378291/199490902-debc0ffb-6d33-412b-bc1d-7259a04cdbd3.png)

[2022-11-02 12:47] gpop63 commented on #4446
There are 2 fields used in the dashboard: `azure.dimensions.exception_type` and `azure.dimensions.browser_timing_url_path` which I've never seen present in the events.

[2022-11-02 12:56] #4525 closed

[2022-11-02 13:12] ChrsMark opened #4537 "[Kubernetes][Dashboards] Nodes Panel does not completely work for cloud providers"
The following dashboard does on work on cloud providers:

<img width="2556" alt="190446028-cb33fdd2-4a01-4bcd-b059-011b38ae1419" src="https://user-images.githubusercontent.com/11754898/199498190-9f82194d-3cff-4a4f-9539-8aaea8f3337c.png">

It seems that the labels the broken visualization relies on do not exist in all cases.

Issue valid on:

- [GKE](https://github.com/elastic/observability-dev/iss

[2022-11-02 14:10] gsantoro commented on #3552
1. Ok. I'll try to migrate them all to Lens. I'll take notes of limitations and write them down. We are going to have a mix of lens and TSDB
2. Ok. I don't have a strong opinion on this. I'll revert the naming back to Overview and Traffic
3. Great I'll keep the new tag cloud as well
4. Cool I'll keep the controllers
5. About the graphs, I can't embed them into the dashboard. Do we want to still us

[2022-11-02 14:29] lalit-satapathy commented on #4238
Lets file and track this in separate github issue.

[2022-11-02 14:36] lalit-satapathy commented on #4257
Draft [PR](https://github.com/elastic/integrations/pull/4501) out, which will address some of the critical named instance gaps.

<img width="1465" alt="Screenshot 2022-11-02 at 8 01 49 PM" src="https://user-images.githubusercontent.com/69236064/199517359-ba1f81f1-c48d-4529-bd58-20633365e1f6.png">

[2022-11-02 14:44] gsantoro commented on #3552
Limitations of using Lens for Istio dashboard:
- Gauge visualisation is not available in Lens (as it is). There is a technical preview of a gauge but it doesn't provide the same functionalities
- Line chart with percentile in TSDB allow to have multiple percentiles in the same chart (eg. 25, 50, 75, 95, 99 percentiles). We would need 5 different charts to represent 1 in the TSDB version.
- Some me

[2022-11-02 15:18] #4411 closed

[2022-11-02 16:21] muralidharanvenkataraman opened #4538 "MSSQL Integration (for Audit Logs)"
Hi there,

We have installed MSSQL Server Integration version 1.4.0.  When we enable the log integration (new feature with 1.4.0) to collect SQL Server error logs, we found that two lines were merged into a single line.   We figured out that it was due to the encoding and by adding this line to the config.yml file, the logs were parsed correctly.

encoding: utf-16le

a) Is there a possibility to a

[2022-11-02 19:08] kesslerm opened #4539 "[Custom Logs Integration] Change default dataset name to `log.log`"
The default dataset name for the Custom Logs Integration is currently `generic`. This should be changed to `log.log`, to synchronise the generated index names with the fleet managed index templates and ingest pipeline.

Based on the package name `log`, and the package datastream name `log` fleet generates the `logs-log.log` index template, the `logs-log.log@package` and `logs-log.log@custom` compo

[2022-11-02 20:52] mlunadia commented on #3552
1. Let's use what gives the best result for the user.
2. If you think it makes more sense for the user to have the name as the source, I support this based on simplicity
3. +1 add it
4. Given that you have most context with Istio I think things like this are a useful change and see no problem on exploring them.

[2022-11-02 20:53] mlunadia commented on #3552
Given the comments above let's for TSDB over lens for these dashboards

[2022-11-02 22:18] efd6 commented on #4125
@SECUINFRA Would you be able to provide the documents corresponding to the events shown in the screenshots — appropriately sanitised. If they were not generated with the Preserve original event on, would you be able to regenerate them with this on.

[2022-11-03 02:43] asiridiaz opened #4542 "ti_recordedfuture.threat incorrect field type threat.indicator.geo.location [Recorded Future]"
According to the ECS reference the threat.indicator.geo.location field should be a geo_point

https://www.elastic.co/guide/en/ecs/current/ecs-geo.html
![image](https://user-images.githubusercontent.com/70022579/199637871-1b52ea37-1d10-4531-ad00-544a388b3af0.png)

but in the Index template component its defined as an object
![image](https://user-images.githubusercontent.com/70022579/199637898-87e67

[2022-11-03 06:11] ishleenk17 commented on #4498
The Jolokia Input Package is ready structurally with basic functionalities working.

**The UI for Jolokia Input. Dataset name is to be provided through UI which is used for indexing the fields**

<img width="1239" alt="Screenshot 2022-11-03 at 11 02 09 AM" src="https://user-images.githubusercontent.com/102962586/199657242-f205f5d1-16df-40a5-bcf0-48644495eb5a.png">

**Jolokia Metrics with customise

[2022-11-03 08:06] SECUINFRA commented on #4125
Yes, first i will show you an example for the rule triggered by "-w /usr/bin/whoami -p x -k user_information". Apparently `proctitle=\"whoami\"` is by mistake included in all event-types, as shown in the original event:

[code]

For the parsing errors, the following event gives an example:
![grafik](https://user-images.githubusercontent.com/86468161/199672133-1dcef654-5cb6-42e2-be1b-9b13c2316cdd.p

[2022-11-03 08:41] gizas commented on #3552
1. In general indeed Lens is the suggested way to go.
I attach two more docs for references:
https://docs.google.com/document/d/1uyyFGx6xA5Kvl8c-ZdvXdvBGrHTylxU9F69TGqfzdmw/edit
https://docs.google.com/document/d/1_7ZYOO5KsSG4J3ovdlB4obBF5i0FQfsiXrRtI3wWFpg/edit#heading=h.gi2lpayry05p

For Gauges I would say to give an extra effort  with Lens if possible. For chart the changes are big so ok leave

[2022-11-03 09:14] muthu-mps commented on #4431
The support for named instance is enabled with #4257. The connection can be established either for default (no-name) instance and named instance by providing the host details of the instance.

[2022-11-03 09:41] gsantoro commented on #3552
Mostly for @gizas but left here for posterity

1. about the gauges. This is the comparison for the same metric

![Screenshot 2022-11-03 at 09 30 45](https://user-images.githubusercontent.com/2378291/199687235-f1e2e1d2-ff9b-4e03-a8da-62b3200964e9.png)

The top one is from TSDB, the second one is from Lens. No need for comments 😄

2. What would you suggest as text for the dashboards? Do you have an

[2022-11-03 11:19] gizas commented on #3552
Something like below with title "Istiod" and second "Proxy" and short description what we see, or any importan information for how you should read the dashboards

![Screenshot 2022-11-03 at 1 15 10 PM](https://user-images.githubusercontent.com/1685415/199707335-58c0902e-07cf-466b-8a0a-bde2a582120c.png)

[2022-11-03 11:59] elasticmachine commented on #4542
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-03 12:00] elasticmachine commented on #4538
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-03 12:19] jamiehynds opened #4547 "[Custom Windows] Event ID Parameter"
Our Custom Windows Event package includes a parameter to provide a list of Event ID's to include or exclude from a specific Windows Event Channel. The description is as follows: _A list of included and excluded (blocked) event IDs. The value is a comma-separated list. The accepted values are single event IDs to include (e.g. 4624), a range of event IDs to include (e.g. 4700-4800), and single event

[2022-11-03 12:19] elasticmachine commented on #4547
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-03 13:09] gizas opened #4548 "Enable Kube-state Metrics dataset in kubernetes Integration by default"
Goal:
----
We want to enable kube-state metrics dataset in Kubernetes Integration.

Requirements:
---
- Update relevant kubernetes package
- Test behaviour of integration when kube-state dataset is enabled and we have not installed the kube-state metrics library in the kubernetes cluster we monitor
- Identify any log entries that mark that kube-state metrics endpoint is missing
- Update documentat

[2022-11-03 14:36] NateUT99 commented on #4511
Confirmed, sending PAN-OS on-premise logs via TCP and IETF format requires the rfc6587 framing to be enabled.

[2022-11-03 15:33] pmeresanu85 commented on #4143
@SubhrataK @lalit-satapathy could you please check if this is something our team can address?

[2022-11-03 16:04] NateUT99 commented on #4511
It actually kept it BSD. There is a separate option that has to be configured to tell it which format to use. There documentation does mention that IETF should be used with tcp, but it didn't seem to actively enforce it.

[2022-11-03 16:34] vinit-elastic commented on #4365
Infoblox NIOS produces a new log patterns as mentioned below:

**DHCP Release**
`<30>Sep 30 11:27:26 anudhcp.anu.edu.au 130.56.15.81 dhcpd[11411]: RELEASE on 10.20.142.129 to ce:93:30:8e:db:ac`
`<30>Sep 30 11:28:01 anudhcp.anu.edu.au 130.56.15.81 dhcpd[11411]: DHCPRELEASE of 10.28.39.37 from 50:eb:71:32:26:16 (ITS-053016) via 10.28.32.2 (found) TransID a030e930 uid 01:50:eb:71:32:26:16`

**DHCP AC

[2022-11-03 22:25] efd6 commented on #4125
The messages in the first document look like they are corrupted; as you note the proctitle field is in all the lines but should not be. This has clobbered the prefix of the other lines. Are you able to provide auditd logs directly from the system to check that they are valid before auditbeat sees them? **Note:** See end of this comment for probable resolution before you try this.

I am not able to

[2022-11-03 23:46] efd6 commented on #4318
Can I confirm that the background of this is that you are running filebeat directly and not via agent? I am unable to get the cisco_umbrella integration to ingest this message, but can get the filebeat cisco module to ingest using the umbrella fileset if I let it know that the message is a dnslogs message. In that case I get this document
[code]
Is your suggestion that we should be putting the con

[2022-11-03 23:49] efd6 commented on #4320
Can I confirm that you are using filebeat directly rather than via the azure integration package and elastic agent?

[2022-11-04 03:23] efd6 commented on #4538
@muralidharanvenkataraman I don't see "utf-16le" in the list of valid encodings. Did you use "utf-16le-bom"?

[2022-11-04 04:35] efd6 commented on #4353
As of v3.1.2, these fields are being mapped as specified above AFAICS. Can you confirm?

[2022-11-04 06:20] muthu-mps commented on #4257
Fixed in #4501

[2022-11-04 06:21] #4257 closed

[2022-11-04 07:24] Danouchka commented on #4257
Hi @lalit-satapathy @muthu-mps  what if the username & password are different for each host:port ?
cc @pmeresanu85

[2022-11-04 08:04] pmeresanu85 commented on #4238
@lalit-satapathy is there any update on this enhancement request?

[2022-11-04 08:09] lalit-satapathy commented on #4257
That is not an issue, since each host is taken separately. Please go through the host configuration section in latest [doc](https://github.com/muthu-mps/integrations/blob/67005688debf21c0f19a00d2614c97e7495847e5/packages/microsoft_sqlserver/_dev/build/docs/README.md).

[2022-11-04 08:12] felix-lessoer commented on #4041
Is it enough to click on "Create insight" in the AWS console?

[2022-11-04 08:13] lalit-satapathy commented on #4238
Individual [issues](https://github.com/elastic/integrations/issues/4238#issue-1379211116) listed above in the meta issue will track specific progress.

One of the critical "Named Instance support" [issue](https://github.com/elastic/integrations/issues/4431) has been fixed [PR](https://github.com/elastic/integrations/pull/4501) is merged.

[2022-11-04 08:19] aforfot commented on #4318
Yes we are running Filebeat directly and not through Agent.

In regards to the second question, no, I am not suggesting that the contents of `related.ip` should populate `related.hosts`. "Company Hostname" should populate `related.hosts` instead of the domain, as "Company Hostname" is an actual host.

[2022-11-04 08:20] aforfot commented on #4320
Yes, we are using Filebeat directly and not through Elastic Agent.

[2022-11-04 09:47] #4338 closed

[2022-11-04 09:54] ManojS-shetty opened #4556 "[MSSQL] Log events not being recognized as separate events in Microsoft SQL Server Integration"
Problem Statement:

A community user has reported Elastic-search pipeline of microsoft sqlserver integration for this does not respect the "preserve event.original" .

Please refer the link elastic discussion forum: https://discuss.elastic.co/t/log-events-not-being-recognized-as-separate-events-in-microsoft-sql-server-integration/315707

Action Plan:
- Need to setup the microsoft sqlserver integra

[2022-11-04 10:24] #4542 closed

[2022-11-04 14:32] muralidharanvenkataraman commented on #4538
@efd6 - I looked at the file encoding using notepad and it is set as UTF-16 LE BOM.

I also found this in the elastic forum -> https://discuss.elastic.co/t/found-encoding-issue-with-filebeat-ms-sql-module/315351

Thanks
Murali

[2022-11-04 15:48] jamiehynds opened #4564 "[Windows] Simplifying Windows Events packages"
Windows Events are currently split across numerous packages:

**- System: Application, System, Security Events**
The rational behind including Windows events in the System integration was to ensure users automatically start ingesting Application, System and Security events as soon as Agent is installed. While this is valuable, it leads to confusion as users don't realise this is the case, and end

[2022-11-04 15:49] elasticmachine commented on #4564
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-04 17:39] vinit-elastic commented on #4041
Hey @felix-lessoer @Udayel - I have updated the dashboard on one of Felix's instances. Let me know if anything else is required.

![e9ebabfd-52e0-4489-8c1f-4fdef58bf05e](https://user-images.githubusercontent.com/89848047/200040459-67cc227a-d262-4f9f-8395-826195760a6c.png)

[2022-11-04 17:53] nicpenning commented on #4564
I will add to my response above.

**The goal:** Replace Winlogbeat to leverage the power of the Elastic Agent while maintaining custom enrichments Windows event data.

**The situation:**
![image](https://user-images.githubusercontent.com/5582679/200040600-fc9d2207-76ab-449d-8eed-eb875d3decae.png)

**The problem:**
To take full advantage of the Windows log parsing for System, Security, and Applicat

[2022-11-04 18:51] termcap opened #4566 "vSphere integration drops EXSi logs that dont match grok pattern"
The vSphere integration silently drops EXSi logs that do not match a grok pattern in the default ingestion pipeline.

This means that if the default ingest pipeline drops the log the user loses the opportunity to apply the custom integration pipeline.

This drop processor in the default ingest pipeline also overrides saving the _original event_ option despite being selected by the user on the inte

[2022-11-05 14:48] NateUT99 commented on #2338
Is this still actively being worked on? Would love to be able to take advantage of Kibana for vulnerability reporting.

[2022-11-06 13:28] WildDogOne commented on #4566
Pull request opened to fix this issue

[2022-11-07 01:58] austinsonger opened #4570 "OpenVPN Integration (1. Cloud and 2. On-premise)"
# Integration release checklist

This checklist is intended for integrations maintainers to ensure consistency
when creating or updating a Package, Module or Dataset for an Integration.

### All changes

- [ ] Change follows the [contributing guidelines](https://github.com/elastic/integrations/blob/main/CONTRIBUTING.md)
- [ ] Supported versions of the monitoring target are documented
- [ ] Support

[2022-11-07 07:07] muthu-mps commented on #4529
Hello @asiridiaz - I would like to get more details as a part of the issue investigation,

- Can you please provide which IIS version you have been using ?
- The `_tmp.url_orig` is used internally and the values are copied to url.original. Let me check the values are getting loaded properly.
- If you have the log header, Can you please post along with the sample log ?
- `http.request.method` - I w

[2022-11-07 08:11] jsoriano commented on #4287
For new data streams created with `elastic-package create`, it would be an option to automatically set `source_mode: synthetic` in the manifest. This is something we could already do, and Kibana will leverage it once https://github.com/elastic/kibana/issues/141211 is ready, with the option to toggle it off if from the UI it causes problems. I have created an issue for this: https://github.com/elas

[2022-11-07 08:44] #4460 closed

[2022-11-07 09:12] drizzthacker commented on #1203
👍
I think I can provide some sample logs when needed

[2022-11-07 09:36] jamiehynds commented on #1203
That'd be great - thanks @drizzthacker! If you wouldn't mind sharing, I've created an upload link for you here: https://upload.elastic.co/u/ab224550-8fa3-4e4e-8788-b64d663ccd75

[2022-11-07 09:43] jamiehynds commented on #2338
@LaZyDK @NateUT99 we'll be starting on the Tenable.io shortly. We were blocked until recently, as we needed to modify our httpjson input to cater for the way Tenable's API works. I'll update you both as soon as we have something to share.

[2022-11-07 13:06] drizzthacker commented on #1203
Uploaded, I think that logs are from Firebox M400 but I need to check

[2022-11-07 14:55] tetianakravchenko opened #4577 "[Kubernetes][Dashboards] Nodes > Memory usage by Node - Not correct data"
Memory usage by Nodecan should usage > 100%
<img width="2550" alt="Screenshot 2022-11-04 at 17 43 43" src="https://user-images.githubusercontent.com/28299531/200340337-443e7dd6-56e8-418d-9cc1-aa00951466f6.png">

[2022-11-07 19:14] #3432 closed

[2022-11-07 20:01] #4547 closed

[2022-11-07 20:01] #4538 closed

[2022-11-08 00:20] asiridiaz commented on #4529
Hey @muthu-mps  I meant to say that the `http.request.method` is not available on the given logs and `_tmp.url_orig` is not defined and in the doc and not available in the logs. so thats why i have requested to add a new GROK pattern in to the pipeline. without the `http.request.method`  and `_tmp.url_orig`

Sample logs
[code]

P.S. We are using the v1.2.0 of this integration.

[2022-11-08 06:24] #2521 closed

[2022-11-08 07:31] #4405 closed

[2022-11-08 07:31] #3560 closed

[2022-11-08 08:39] gizas opened #4580 "Remove deprecated http_request and http_respsone fields from Kube-proxy dataset"
As per sdh https://github.com/elastic/sdh-beats/issues/2709, Prometheus http request meta-metrics have been depricated.

Full list of unsupported metrics currently are:

- http_request_duration_microseconds
- http_request_duration_microseconds_sum
- http_request_duration_microseconds_count
- http_request_size_bytes
- http_request_size_bytes_sum
- http_request_size_bytes_count
- http_requests_total

[2022-11-08 09:23] tetianakravchenko commented on #4537
for AWS - `Node Informations by Labels` chart is empty as well

[2022-11-08 10:33] ulab commented on #4365
Just for reference and if people search for it, is this was causes `error.message` to have messages similar to `For input string: "5884 offered-duration 5900 (RENEW) uid 01:01:01:01:01:01:01"`?

[2022-11-08 11:50] zmoog opened #4581 "[Azure Logs] Document how the generic event hub integration works (upsides, trade-offs)"
The [current documentation](https://docs.elastic.co/integrations/azure/eventhub) is pretty generic and does not explain the pros, cons, and trade-offs of using this integration to ingest logs.

We should add more information for the users.

[2022-11-08 12:10] SECUINFRA commented on #4125
Thank you for your response. We evaluated our setup with the 8.4.1 stack as suggested and the error was gone. Thank you for your suggestion and the reference to the memory corruption bug. When we posted the question 2 months ago, the newer version 8.4.1 was not released yet.

[2022-11-08 12:10] #4125 closed

[2022-11-08 12:16] ishleenk17 opened #4582 "Model an integration to showcase usage of different ways of handling metrics explosion while using prometheus input"
As a follow up to https://github.com/elastic/integrations/issues/4271 , model an existing integration to showcase the usage of different ways of handling metrics explosion while using an integration having Prometheus as the input.

[2022-11-08 12:22] ishleenk17 opened #4583 "Testing for the Jolokia Input package"
Add testing for the Jolokia input.
Currently, system testing is not supported in the elastic-package. Once this [dependency](https://github.com/elastic/package-spec/issues/361) is resolved, we can take this up.

[2022-11-08 12:52] mat-333 commented on #4125
Thanks a lot @efd6 for looking into it :) !!!

[2022-11-08 13:29] BenB196 opened #4586 "[Enhancement] Better support for timezones across integrations"
## Enhancement

Today different integrations support different ways of setting timezones. This causes two issues:

1. It requires the user to know how to represent their timezone in various ways (often probably requiring them to look it up)
2. In some implementations on the `+/-HH:mm` format is supported, this adds an additional level of maintenance to those who support things like daylight saving

[2022-11-08 13:34] andrewkroh opened #4587 "[aws] Cannot install due to duplicated 'content_type' mapping key"
The AWS package is having issues due to a duplicated `content_type` config option in the `aws.waf` data stream. This relates to https://github.com/elastic/integrations/pull/4532.

![image](https://user-images.githubusercontent.com/4565752/200577756-76719ed8-8fb4-4214-8c71-dc357fad0ecd.png)

https://github.com/elastic/integrations/blob/f59216845cd1dd7e87fc6dc751737c8faa0ccf8c/packages/aws/data_stre

[2022-11-08 14:25] anrsec opened #4589 "GCP Audit Logs Integration v2.14.0 - Ingest Pipeline fails"
Due to an error in a "Convert" processor, the ingest pipeline fails to properly parse and map the log fields:

![image](https://user-images.githubusercontent.com/61625853/200588871-8d8c276d-1d6e-45cf-8107-68134ef02df8.png)

For example, `json.protoPayload.methodName` should have been mapped to `event.action` but didn't happen when the following field was present:
`error.message: 'private' is not a

[2022-11-08 15:16] LL6688 commented on #4469
@ManojS-shetty  is this merged?

[2022-11-08 15:17] LL6688 commented on #4469
@rameshelastic , fyi

[2022-11-08 16:22] #4587 closed

[2022-11-08 18:07] elasticmachine commented on #4589
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-08 18:46] jamiehynds commented on #1203
Thanks @drizzthacker - much appreciated!

[2022-11-08 20:51] efd6 commented on #4125
@SECUINFRA Thanks for confirming and apologies for the delay in resolving the issue for you.

[2022-11-08 21:26] #4505 closed

[2022-11-08 22:25] renzedj opened #4598 "Kubernetes integration v1.27.0 does not apply conditions"
Kubernetes integration v1.27.0 gives the option to create a condition for monitoring container logs (see image below). However, it does not appear apply the condition as part of the policy (see YAML). As a result, the integration captures all logs for all containers.

![Screen Shot 2022-11-08 at 4 14 32 PM](https://user-images.githubusercontent.com/81439124/200688602-043a5b73-5251-44e2-b13d-d22c2d

[2022-11-09 00:25] efd6 commented on #4589
@rediasec Can you provide a sanitised `event.original` from a failing event so that this can be investigated.

[2022-11-09 06:47] lalit-satapathy commented on #2770
Also: - kafka.consumergroup.partition -> kafka.partition.id

[2022-11-09 07:33] ishleenk17 commented on #4498
Next action items:

1. [System Testing](https://github.com/elastic/integrations/issues/4583) for Jolokia
2. Test the custom mapping and custom ingest pipeline working for Jolokia as input package

[2022-11-09 08:06] rediasec commented on #4589
[code]

[2022-11-09 08:41] #4469 closed

[2022-11-09 09:34] muthu-mps commented on #4529
@asiridiaz - We will add support for the new GROK pattern to support the above log inputs.

[2022-11-09 10:04] jsoriano opened #4600 "Look for replacement for kibana-vis-editors codeowners"
It seems that @elastic/kibana-vis-editors team doesn't exist anymore, but they are the codeowners of some files in this repo. Look for a replacement and replace references to this team.

@flash1293 do you know what team can take care of these files now?

[2022-11-09 10:09] flash1293 commented on #4600
Should be changed already by https://github.com/elastic/integrations/pull/4550 - where is it still saying vis-editors?

[2022-11-09 10:11] jsoriano commented on #4600
Ah sorry, I saw it in an open PR (https://github.com/elastic/integrations/pull/4543/files), but it must be outdated. Thanks!

[2022-11-09 10:11] #4600 closed

[2022-11-09 11:45] muthu-mps commented on #4448
After discussing with Lalit and Agi - Started looking into the below options.
- Can we release a separate Metricbeat binary only for DB2?
- Where do we put the additional setting, as part of the build flow?
      Installing the CLI driver
      Setting the env variables
- Can we handle the script error at Jenkins CI.
- Can we download the clidriver and add it as a part of the source code and set t

[2022-11-09 13:26] #4433 closed

[2022-11-09 13:47] vinit-elastic opened #4605 "[Discussion] Behavior of last_response.page"
interval 1
 initial-request-1 -> 0
  -page-1 -> 0
  -page-2 -> 1

interval 2
 initial-request-2 -> 2
  -page-1 -> 0
  -page-2 -> 1

interval 3
 initial-request-3 -> 2
  -page-1 -> 0
  -page-2 -> 1

We observed that we are getting the value of the last response in the **last_response.page** on the initial request of the subsequent intervals. However, we think that it could be a bit confusing.

[2022-11-09 15:18] tetianakravchenko opened #4607 "[Kubernetes][Dashboards] Proxy - Fixing empty visualisations"
1. Is it expected that Proxy dashboard is missing from the list of linked dashboards?
<img width="1772" alt="Screenshot 2022-11-09 at 16 16 04" src="https://user-images.githubusercontent.com/28299531/200868488-dc560d4c-adc6-4fff-8439-a8f15e7570f2.png">

2. Proxy > `Proxy HTTP request duration [Metrics Kubernetes]` - no data on EKS

<img width="2552" alt="Screenshot 2022-11-08 at 10 13 42" src="htt

[2022-11-09 16:33] tetianakravchenko opened #4608 "[Kubernetes][Dashboards] API server - Fixing empty visualisations"
API server > Apiserver Requests per Resource and SubResource [Metrics Kubernetes] - no data
<img width="1773" alt="Screenshot 2022-11-09 at 17 22 49" src="https://user-images.githubusercontent.com/28299531/200886399-4b95b095-d9a7-44ac-8e49-31ee1e1c7240.png">

reason: missing `kubernetes.apiserver.request.subresource` metric (strange thing that on 8.4 stack it provides data)

reproduced on EKS

[2022-11-10 04:58] ManojS-shetty opened #4612 "[MongoDB] Create the System Test for multi host support"
- Enhancement

- Please make sure the mongodb integration will have the system test for multihost functionality as well.

[2022-11-10 05:02] ManojS-shetty opened #4613 "[MongoDB]Update the mongoDB docker images to elastic docker repo"
- Enhancement:

- Currently the mongodb docker images are not present in elastic repo. Please make sure that we are using the docker images from elastic repo to perform the system test.

[2022-11-10 05:06] #1440 closed

[2022-11-10 06:22] vinit-elastic commented on #4164
Hey @Bernhard-Fluehmann, We are looking into the issue you are facing. We are more inclined towards mapping the fields rather than dropping them. However, from the sample you have sent, we are unsure of the values. If the values of AVPair is redacted, could you please send us the actual fields at least, so that we can map the fields precisely?

[2022-11-10 10:15] chrispinto89 opened #4614 "Redis instance name missing in the Google Redis integration"
Hi Team,

The recently released Google Cloud Platform (GCP) Redis metrics integration has some issues.  The integration exports the node-id from the redis instance but does not export the instance name. For example, a GCP project has two redis instances redisA and redisB, each instance will have two nodes, primary and a replica with node-id node-0 and node-1 respectively. The node-ids are set by g

[2022-11-10 10:51] gizas opened #4615 "Create new Prometheus Input package"
Input package specification is defined [here](https://github.com/elastic/package-spec/tree/main/spec/input)

The new input package tries to address flexible implementation for custom Ingest configurations for our customers based on preexisting modules . Basic advantages until now is the a) specification of custom dataset per input b) custom mappings

Continuing discussion of https://github.com/ela

[2022-11-10 10:53] gizas commented on #4615
@tetianakravchenko https://github.com/elastic/integrations/pull/4517

[2022-11-10 11:05] gizas opened #4616 "Validate Kubernetes Integration with Synthetics Source Enabled"
Since 8.5, Synthetics Source can be toggled on/off through UI per integration. See relevant https://github.com/elastic/kibana/issues/140095 information.

**Goal:**
We need to enable Synthetics Source feature for Kubernetes Integration and verify functionality and key savings.

**Outcomes**:
- Verify that with new feature, Kubernetes Integration is working correctly
- Verify storage savings with an

[2022-11-10 11:19] gizas opened #4618 "Validate Kubernetes Integration with TSDB"
TSDB feature has been introduced since 8.5.  Goal is to enable TSDB with latest Kubernetes Integration package and validate functionality of collection, ingestion and visualisation of Kubernetes resources.

Relevant information can be found [here](https://github.com/elastic/kibana/issues/132818).

## Goal*
Validate Kubernetes Integration functionality and UX with TSDB feature enabled

## TSDB very

[2022-11-10 13:57] rameshelastic opened #4620 "Elastic Agent for Autopilot GKE clusters to support kubernetes observability"
Since 8.5.0 we started a combined effort with Google to verify the dependencies needed to install Elastic Agent with Kubernetes Integration in order to monitor an Autopilot GKE cluster.

**Autopilot for GKE:**
https://cloud.google.com/kubernetes-engine/docs/concepts/autopilot-overview

Autopilot feature provisions and manages the GKE cluster's underlying infrastructure, including nodes and node po

[2022-11-10 14:25] #4412 closed

[2022-11-10 15:30] gsantoro commented on #4577
Same issue in AKS

[2022-11-10 15:31] gizas commented on #4620
Status until 10 Nov:

- We have defined modifiable/non modifiable parts of our manifest and shared with GCP
- Validated mountpaths needed. Informations shared
- Shared modified manifests for standalone scenario
- Testing with Autopilot Rapid Channel version - Still GCP to verify that latest code is propagated and in which GKE version. We need to retest

[2022-11-10 17:38] rameshelastic commented on #4228
@ritalwar ..is this done? If so can we close this sub task.

[2022-11-10 17:55] rameshelastic commented on #3746
@muthu-mps  can this issue be closed?  Are we tracking all the Open PRs separately?

[2022-11-11 04:35] muthu-mps commented on #3746
@rameshelastic - We are tracking the open PR's here. @kush-elastic - Since we are tracking all the datastreams here better to keep the issue open until we merge all open datastreams.

[2022-11-11 05:45] #3845 closed

[2022-11-11 09:31] vinit-elastic opened #4624 "[SentinelOne] Field type in incorrect"
As part of our audit of the SentinelOne connector, we have discovered that the **newValue** fields in the **Activity** data stream had several types, including boolean, string, and object in the Activity data stream. In our connector field is converted into a boolean type and used to ignore_failure. Therefore, if we have any other value types other than boolean types, the fields are not converted;

[2022-11-11 09:32] elasticmachine commented on #4624
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-11 09:41] vinit-elastic opened #4625 "[PANW] Field is not mapped properly"
While conducting the audit, we discovered that one grok isn't functioning correctly with one particular log in the current pipeline in the Palo Alto connector. Here, I'm bringing up the log and grok that attempted to map to the incorrect field but failed.

https://github.com/elastic/integrations/blob/fa82fe1e2a9630248f90d39b7047d05ed20d28da/packages/panw/data_stream/panos/_dev/test/pipeline/test-p

[2022-11-11 09:41] elasticmachine commented on #4625
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-11 09:47] #4523 closed

[2022-11-11 11:48] zmoog opened #4627 "[Azure Logs] mapper_parsing_exception while parsing field [identity]"
## Scenario

A user is ingesting activity logs using the Platform Logs integration from the Azure Logs package.

Here is an example of the log events causing this issue:

[code]

## Expected result

The activity log event should be parsed and ingested.

## Actual result

The log event parsing fails with the following error:

[code]

[2022-11-11 11:51] zmoog commented on #4627
This error happens because there were previously ingested log events with the `identity` field of type `object`, but the last log events had it of type `string`.

[2022-11-11 14:05] zmoog commented on #4627
We fixed something similar on the activity logs integration #3019

[2022-11-13 15:56] ritalwar commented on #4228
Yes Ramesh.

[2022-11-13 15:56] #4228 closed

[2022-11-14 04:37] leehinman opened #4631 "[windows] forwarded datastream incorrect indentation of translate_sid processor"
In windows package, forwarded data_stream, the current `winlog.yml.hbs` has:

[code]

translate_sid processor needs to be indented like this:

[code]

[2022-11-14 04:37] elasticmachine commented on #4631
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-14 08:29] elasticmachine commented on #4605
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-14 11:30] GalchukRuth commented on #3451
Hi,
Struggling with the same problem in AWS module.
We see in logs field message and also event.original.
With the same error: "field [event.original] already exists"

Filebeat version 8.5

When will the problem be fixed?

[2022-11-14 12:12] #4498 closed

[2022-11-14 17:36] #4631 closed

[2022-11-15 05:57] Scriptception opened #4643 "[CEF] Add TCP Support to the Common Event Format (CEF) Integration"
**Describe the enhancement:**
The CEF integration currently only supports listening on UDP. Can we get support for this integration to listen on TCP as well?

**Describe a specific use case for the enhancement or feature:**
Ingested CEF messages will be truncated if the length exceeds the UDP maximum. This is a severe roadblock to integrating logs via CEF into Elastic.

![Screenshot 2022-11-15 132

[2022-11-15 07:14] herrBez opened #4644 "[FORTIGATE] Related.ip does not contain the values of source.nat.ip and destination.nat.ip"
The ingest pipeline of the Fortigate Integration does not add the values of the fields `source.nat.ip` and `destination.nat.ip` to the `related.ip` field.

According to ECS the field `related.ip` should contain all IP-Addresses of a given document. Other integrations like PANW add this information to the field.

[2022-11-15 07:48] herrBez opened #4645 "[PANW] source.user.email contain information that are not email addresses"
According to the [documentation](https://docs.elastic.co/en/integrations/panw) the PANW integration (in particular, the Threat dataset) populates the (non-ECS?) fields `source.user.email` and `destination.user.email`, which should be two EMail addresses.

The information added in these two fields are the "Sender" and "Recipient" of the [Palo Alto's Threat Log Field Documentation](https://docs.palo

[2022-11-15 07:54] uri-weisman commented on #3642
Closed as we decided that running the [ECS script](https://github.com/elastic/security-team/tree/main/docs/cloud-security-posture-team/tools/ecs) manually after schema changes will be sufficient.

[2022-11-15 07:54] #3642 closed

[2022-11-15 11:30] ishleenk17 commented on #4314
The [documentation](https://github.com/elastic/observability-dev/blob/main/docs/dc/integrations/testing/vsphere-test-environment.md
) for usage of the vsphere setup is not up to date.
Getting in touch with the endgame team to get more details about it.

[2022-11-15 11:33] kfirpeled commented on #4341
cc: @tinnytintin10

[2022-11-15 13:50] jorsmatthys opened #4650 "Integration has duplicate reference to @custom ingest pipeline"
Integration name: Azure logs  (though might apply to others)
Version: 1.5.4

We are using the latest version of the Azure Logs integration and I see something which seems incorrect to me.
Since recently the integrations now have support for custom ingest pipelines. We want to use the custom ingest pipeline
for the azure spring cloud part of Azure Logs integration (to map certain non-ECS fields on

[2022-11-15 14:38] #4548 closed

[2022-11-15 14:38] #4432 closed

[2022-11-15 14:47] BLKingLLC commented on #3769
Winlogbeat captures many of these events, though they are not 100% mapped to ECS fields much of the critical data is.  For instance, the fact that an event ID was thrown is enough to begin an investigation, if all of the fields are not there then they are captured in the original message or in fields labeled winlog.event_data.field_name.  Why can they not be ingested now, by the system integration

[2022-11-15 19:11] RivianRascal opened #4654 "[carbon_black_cloud] Support of encrypted AWS S3 bucket and KMS keys"
There is currently no support for the usage of encrypted AWS S3 buckets with the Carbon Black Cloud Integration. I would like to request the possibility to work with encrypted AWS S3 buckets and AWS KMS keys. The feature would enable me/us to encrypt data at rest.

[2022-11-15 19:50] taylor-swanson opened #4656 "[oracle] Integration documentation for metrics is incorrect"
The section on configuring metrics for the Oracle integration was copied almost directly from the `oracle` metricbeat module. It's important to note that the Oracle integration uses the `sql` metricbeat module and NOT the `oracle` module underneath. I'm not a subject-matter expect in Oracle databases, so I don't know how much of that information can carry over. At the very least, the section in th

[2022-11-15 19:52] elasticmachine commented on #4654
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-15 19:52] elasticmachine commented on #4645
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-15 19:53] elasticmachine commented on #4644
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-15 19:53] elasticmachine commented on #4643
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-15 20:12] elasticmachine commented on #4656
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-15 23:57] efd6 commented on #4645
@herrBez Are you able to obtain a sanitized copy of the complete documents that show this behaviour, preferably with `event.original` if possible.

[2022-11-16 00:37] ruflin opened #4659 "Be more lenient when ingesting data"
Today when data is shipped to a data stream for certain data streams, several problems can happen which leads to rejection of the data. This issue is to discuss potential workarounds and eventually standardise on the usage of it.

# Potential issue

The following is a list of known / existing issues with proposed workarounds. Lets discuss on the pros / cons of each. This list will be updated.

##

[2022-11-16 00:37] efd6 commented on #3769
@BLKingLLC Yes, events that are not noted above as supported should still be ingested, just without ECS field use. The `winlog.event_id` will correspond to the Windows event ID and the remainder of the `winlog` group will hold the information from the original XML.

[2022-11-16 05:30] vinit-elastic commented on #4164
Hey @Bernhard-Fluehmann, We have raised a PR for enhancement of the existing Cisco ISE package. And I want to resolve the issue in the existing PR. I would really appreciate if you could send me the logs - redacted of course.

[2022-11-16 09:25] ishleenk17 commented on #3451
@jsvd can share the ETA for https://github.com/logstash-plugins/logstash-input-elastic_agent/issues/3. this looks to be important to avoid any further SDH's.

[2022-11-16 09:38] kush-elastic opened #4662 "[Salesforce] Add terraform system tests"
As discussed in this [PR](https://github.com/elastic/integrations/pull/4261#issuecomment-1301608892), we should leverage the terraform provision for the Salesforce integration as well.

[2022-11-16 09:56] jsoriano commented on #4659
The flattened type can also help in some cases, but it has other limitations. Discussion about this can be found in https://github.com/elastic/obs-infraobs-team/issues/461.

[2022-11-16 11:06] kcreddy opened #4663 "Panw | Error converting certificate.size field into long"
The problem is related to the fields `panw.panos.certificate.size` and (its ECS copy) `tls.client.x509.public_key_size` which have the value `Unknown` and the pipeline tries to convert them into long. Since the value cannot be converted to long, it drops the fields and adds the error message that we see.

Remove confusing `error.message` : `[For input string: "Unknown", For input string: "Unknown"

[2022-11-16 11:09] elasticmachine commented on #4663
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-16 15:33] klacabane opened #4666 "[Stack Monitoring] Add missing metricbeat configuration to integrations"
### Summary
The metricbeat modules ([elasticsearch](https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-module-elasticsearch.html), [kibana](https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-module-kibana.html),..) allows one to specify ssl configuration (`certificate_authorities`, `verification_mode`..) and other parameters like `period` or `scope`.

Since the [e

[2022-11-16 16:27] endorama opened #4667 "Kubernetes integration with empty charts with kube-state-metrics in different namespace"
Hello, I've recently worked on a demo for [GCP Kubernetes App for Elastic Agent](https://github.com/elastic/elastic-agent-gcp-kubernetes-app) and had some troubles around configuring correct collection for the Kubernetes integration.

My setup:
- GKE cluster v1.24.5-gke.600 with 7 nodes
- a dummy microservice app deployment
- Kubernetes integration v1.28.0
- `kube-state-metrics` v2.6.0 in `kube-sy

[2022-11-16 16:42] gsantoro commented on #4667
@endorama  We are fully aware of those errors in the "Missing indices" section. It shouldn't be a error to don't have data about cronjob, stateful_set, and so on. The Kibana team is going to remove that error banner in favour of "No Data" in the dashboard instead. In the meantime we are working on a temporary fix. Stay tuned.

[2022-11-16 21:15] #4644 closed

[2022-11-17 05:27] ManojS-shetty opened #4669 "[MongoDB] Add the SSL support for all the data stream for mongoDB package"
This bug-fix issue will be tracking the progress of SSL support for mongoDB package.

- [x] Add the SSL support in handlebar files for all the data stream.
- [x] Manual Testing.

SDH: https://github.com/elastic/sdh-beats/issues/2739

[2022-11-17 07:21] muthu-mps commented on #4259
@Danouchka - The instance_name will be captured by adding a new field`(mssql.metrics.instance_name)` in performance and transaction_log datastreams.
The sample format would look like - `servername_servicename`, ex: `sql$_MICROSOFTSQLSERVER`. Adding underscore`(_)` to combine the server and service name.

[2022-11-17 07:28] muthu-mps commented on #4258
@Danouchka - The user defined database will be passed as a user input from the integrations UI and the metrics collected for those database.

[2022-11-17 07:44] Danouchka commented on #4259
Hi @muthu-mps , I don't think this would be ok  because you can have two instances with the same service name on different servers, for example a named instance called [myInstance], on separate servers, i.e. server1.domain1 and server2.domain1 so.
If we want a server name + service name, the customer can do a composite field in Kibana lens, no ?
The goal is really to have the metrics per  instance

[2022-11-17 08:37] ChrsMark commented on #3857
@gizas for remote_write benchmarking I had played around with https://github.com/ChrsMark/remote-write-bench/tree/master in the past. Sharing it just in case it is useful here too.

[2022-11-17 09:10] muthu-mps commented on #4259
@Danouchka - Are you expecting the data to be aggregated or filtered based on server name and then service name (instance name) ?
ex: If I select server1 show me the instances for server1 then filter further based on instance name(instance1, instance2 etc...). For this use-case we can have server name captured in separate field and instance name captured in separate field.

[2022-11-17 09:16] Danouchka commented on #4259
Are you expecting the data to be aggregated or filtered based on server name and then service name (instance name) ? => exactly, but more the reverse: filter by the instance 1st and then the server.
For this use-case we can have server name captured in separate field and instance name captured in separate field. => Yes

[2022-11-17 09:58] #4627 closed

[2022-11-17 10:32] MichaelKatsoulis commented on #4607
@tetianakravchenko, @gizas currently kubernetes proxy metricset is a bit broken as it collects some deprecated metrics and does not collect some other ones that are present in newer kubernetes versions.
We need to fix it similar to apiserver and controller manager (https://github.com/elastic/integrations/pull/3825)
So until it is fixed it would be better to keep the link out.

[2022-11-17 11:31] ChrsMark commented on #4537
Thanks for the feedback here. I will have a look to see how we can tackle this or even remove the breaking field.

[2022-11-17 15:15] brenwie opened #4674 "Update AWS integration documentation with risk in using the GetMetricData API calls"
Hello Team

Could we get more clarity on the [AWS Integration guide](https://docs.elastic.co/integrations/aws), especially from a cost point of view that could be incurred on the AWS cloud account when using our Elastic Agent with this integration?  When the integration makes use of something like the [GetMetricData API](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_bil

[2022-11-18 05:12] muthu-mps commented on #4431
#4259 - Picking this as a part of 8.7 release.

[2022-11-18 05:32] agithomas commented on #4656
Until the https://github.com/elastic/beats/pull/32293 is rolled out, the DSN support for Oracle Integration must not be displayed. Working on to update the documentation

[2022-11-18 07:26] #4663 closed

[2022-11-18 14:17] tetianakravchenko commented on #4607
we already have issue to fix broken metrics - https://github.com/elastic/integrations/issues/4580.

[2022-11-18 14:50] gsantoro opened #4678 "Istio metrics and dashboards"
Review the implementation of Istiod_metrics datastream under the Istio Integration according to this [comment](https://github.com/elastic/integrations/pull/4253#discussion_r1026296675).

Related PRs
- https://github.com/elastic/integrations/pull/4253

Related issues
- https://github.com/elastic/integrations/issues/3552

Make sure that the following Criteria are met before releasing to GA:
- [Metri

[2022-11-18 18:07] bmorelli25 commented on #4674
@elastic/obs-cloud-monitoring can we copy the AWS API request count section into the integration docs? Does that content apply to the integration as-is, or are changes required?

[2022-11-19 14:36] iamhowardtheduck opened #4681 "metrics-mysql.performance-default mapping missing host objects & causing conflicts"
The mapping for host is missing from the metrics-mysql.performance dataset resulting in field conflicts with the OOTB integration.  Please add the the host mappings for this integration.

[2022-11-20 14:15] orouz commented on #4341
should also update any kibana usages of our new icon

[2022-11-21 06:12] vinit-elastic commented on #4527
Update the pagination termination condition in below mentioned Security Connectors.

- Carbon Black Cloud
- Tenable SC
- Proofpoint TAP
- SentinelOne
- AWS Security Hub
- Lastpass
- Trend Micro Vision One
- Infoblox BloxOne DDI

[2022-11-21 06:18] vinit-elastic commented on #4365
Hey @ulab Sorry for the late reply, There is additional fields in the new log `5884 offered-duration 5900 (RENEW) uid 01:01:01:01:01:01:01`. So for that, new grok pattern need to be added in order to handle these. That's why the `error.message` field is generated.

[2022-11-21 07:35] vinit-elastic commented on #4625
Closing this as we've resolved this bug via this PR: #4670

[2022-11-21 07:35] #4625 closed

[2022-11-21 07:37] vinit-elastic commented on #4624
Closing this as we've resolved this bug via this PR: #4677

[2022-11-21 07:37] #4624 closed

[2022-11-21 09:33] ulab commented on #4365
No worries.

I thought so. Just wanted to leave a search term in case someone is looking for it like me.

I hope your pull request gets through soon. My coworkers are eager to use the integration. ;)

[2022-11-21 10:15] zmoog commented on #4674
Hey @bmorelli25, as of today, the Elastic Agent leverages Filebeat and Metricbeat behind the scenes, so most, if not all, is valid for Metricbeat holds for the Agent.

Since Agent and Metricbeat share the same code, the cost depends on the configuration options. The collection period or the number of metrics influences are influential factors.

[2022-11-21 10:22] jamiehynds commented on #3277
Closing this issue in favour of https://github.com/elastic/integrations/issues/4079

[2022-11-21 10:22] #3277 closed

[2022-11-21 14:27] jamiehynds opened #4687 "AWS Inspector"
### Description
Amazon Inspector is an automated vulnerability management service that continually scans AWS workloads for software vulnerabilities and unintended network exposure.

### Architecture
AWS Inspector Findings can be transmitted to a SIEM, via the ListFindings API endpoint, outlined here: https://docs.aws.amazon.com/inspector/v1/APIReference/API_ListFindings.html

# Integration release

[2022-11-21 14:27] elasticmachine commented on #4687
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-21 15:44] #4041 closed

[2022-11-21 15:54] harwinds commented on #1196
If this can be prioritized, that would be great.

[2022-11-22 05:49] ritalwar commented on #3748
Initial Release PR - https://github.com/elastic/integrations/pull/4630

Next Steps:
1. Reduce the field mapping to avoid any metric explosion in future.
2. Create Dashboards
3. Write System Tests.

[2022-11-22 10:38] muthu-mps opened #4690 "[Microsoft Sqlserver] - Transaction Log query doesn't respect the database name as query parameter"
Query:
`SELECT 'msdb' As 'database_name', total_log_size_in_bytes As total_log_size_bytes, used_log_space_in_bytes As used_log_space_bytes, used_log_space_in_percent As used_log_space_pct, log_space_in_bytes_since_last_backup FROM sys.dm_db_log_space_usage `msdb``

The above query doesn't respect the database name provided as an input and fetches data only for the primary database.

[2022-11-22 10:58] simranvaseer-qasource commented on #4110
### `Bug Conversion`

- Test-Case not required as this particular checkpoint is already covered in exploratory testing.

 Thanks!

[2022-11-22 11:15] jamiehynds commented on #1196
Hi @harwinds - while we now have a Proofpoint TAP integration, POD is certainly something we would like to also support. Unfortunately, Proofpoint do not provide POD access to technology partners such as Elastic, and therefore our ability to develop this integration is hindered. If you are willing to share some sample events from POD, we could certainly look into an integration based on the event

[2022-11-22 13:09] jamiehynds commented on #4687
@nick-alayil we're actively working on this AWS Inspector integration and to ensure that the data provided by the integration can be leveraged within Cloud Security also. Is there someone on your team we can work with to ensure we map the data appropriately, to ensure it populates any relevant dashboards within Cloud Security?

[2022-11-22 13:10] #1725 closed

[2022-11-22 13:22] #4537 closed

[2022-11-22 13:32] sirineboura opened #4696 "[Fortinet Fortimanager] Logs not parsed correctly from Fortigate 7.x"
I think that the integration Fortinet Fortimanager 1.2.0 does not work for Fortigate 7.x.

Here's the `event.original` field :

`<185>logver=700080418 timestamp=1666075617 devname="xxxxcluster" devid="xxxx" vd="root" date=2022-10-18 time=08:46:57 eventtime=1666075617815719860 tz="+0200" logid="0100032002" type="event" subtype="system" level="alert"  logdesc="Admin login failed" sn="0" user="userxx

[2022-11-22 19:52] sSharonV commented on #1930
After seeing your video on youtube I've tried to figure out how to use the existing pipelines of sysmon for windows for the linux dists'.

When you modify the setting of winlog pipeline you can define the syslog file (or any other log file) as an input.
In additional to this step you just need to do the following:
1. From the "wineventlog" you need to copy the processors section:
`- decode_xml_win

[2022-11-23 04:34] agithomas commented on #4656
PR Link : https://github.com/elastic/integrations/pull/4697

[2022-11-23 05:41] vinit-elastic commented on #4365
Hey @ulab - sorry to keep you waiting. We will push the team from our side to get this PR merged, as soon as possible. Happy to see you excited about the integration. :)

[2022-11-23 06:17] nick-alayil commented on #4687
It's great to see the progress on the AWS Inspector integration. The work on identifying the data and mapping it to ECS fields, necessary to populate Kibana dashboards and workflows, has yet to begin (likely in a week). The plan is to align with the [sample ECS doc](https://github.com/elastic/security-team/issues/5014#issuecomment-1316025163) shared by elastic InfoSec team. It would be ideal if we

[2022-11-23 10:41] clement-fouque commented on #4687
There are additional inputs on what is required on the ECS vulnerability field in https://github.com/elastic/ecs/issues/1685.

[2022-11-23 11:01] joshdover commented on #3163
Any reason why we wouldn't want both? From a discoverability angle, I do think users are going to look for this in the Docker package and may be confused why logs aren't supported if they don't see it there.

[2022-11-23 11:42] ChrsMark commented on #3163
Hey @BobDu! Sorry for the late replay here, this slipped from my notice (was on vacation that time of your post, sorry).
Your observation is correct and I agree we should address this.
Just to be sure, do you mean that you would like to have the option to specify conditions and only collect logs if those match?  I would appreciate if you could provide an example here :).

Fair point @joshdover! Fr

[2022-11-23 11:51] elasticmachine commented on #4696
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-23 12:28] Danouchka commented on #4108
Hi @lalit-satapathy  for me it's a bug compared to Metricbeat capabilities , Customer called it a regression. Why on that point, Metricbeat retrieves metrics for all DBs and Elastic-Agent only system DBs ?
Additional input , even on short term, does not make sense because it supposes to enter manually each DB name.
But the idea is also to monitor Customer DBs for which the DBA or infra team would

[2022-11-23 13:03] leandrojmp opened #4707 "[ Crowdstrike Falcon ] Parse of process field is wrong."
Hello,

The parse of the process fields in the Crowdstrike Falcon Pipeline is wrong, it is creating fields with dots in the name instead of nested json objects.

It creates this:
[code]

Instead of

[code]

This same issue was present in the [filebeat integration](https://github.com/elastic/beats/issues/27622) and I submitted a [fix](https://github.com/elastic/beats/pull/27623) more than an year a

[2022-11-23 13:14] sirineboura commented on #4696
Hi, I had already tried with the FortiGate integration and the logs were not even parsed with it, nothing was written in the newly created .ds-logs-fortigate... index. And yes I think that the Fortimanager adjusts the format.

[2022-11-23 13:29] sirineboura commented on #4696
I tried to understand a little bit how the integration works and I found in the git something interesting.
In the logs above, we have ` "messageid": "generic_fortinetmgr_1"` and this is the messageid I have for all my logs.
In the [source code of the integration](https://github.com/elastic/integrations/blob/main/packages/fortinet_fortimanager/data_stream/log/agent/stream/log.yml.hbs) (I guess that

[2022-11-23 13:31] lalit-satapathy commented on #4108
Hi @Danouchka,

This is only a "short term solution" as mentioned in [here](https://github.com/elastic/integrations/issues/4108#issuecomment-1239395296). The long-term solution is TBD.

[2022-11-23 14:57] elasticmachine commented on #4707
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-23 15:06] jamiehynds opened #4710 "Custom Threat Intelligence Package"
Structured Threat Information Expression (STIX) is a language for expressing cyber threat and observable information. While we have several Threat Intel integrations which map STIX formatted data to Elastic Common Schema, users will always have need to ingest IOC's from threat feeds that we don't support out of the box. 'How do I ingest STIX feeds' remains a very common questions across community

[2022-11-23 15:06] elasticmachine commented on #4710
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-23 15:07] jamiehynds commented on #4710
FYI @dhru42 @maxcold

[2022-11-23 16:29] gsantoro commented on #4608
On AKS with Kubernetes integration 1.29.0 and Elastic stack 8.5.0 everything seems to work

![Screenshot 2022-11-23 at 16 28 02](https://user-images.githubusercontent.com/2378291/203598583-6b9ea973-f4db-4663-968b-6f0495cfa6e6.png)

[2022-11-23 16:36] gsantoro commented on #4608
It is still a problem with Kubernetes integration 1.21.2 and Elastic 8.5. I am not sure if this is still relevant given the integration dashboards has been updated

![Screenshot 2022-11-23 at 16 35 15](https://user-images.githubusercontent.com/2378291/203600148-932b38ee-e60c-4c08-b47b-6ecfa55afece.png)

[2022-11-23 16:57] herrBez opened #4711 "[PANW] url.original is not parsed"
The PANW integration may have an `url.original` but this field is not parsed in its subcomponents, e.g., `url.domain` as in other integrations (e.g., `Zscaler_zia.web`)

[2022-11-23 17:14] #4341 closed

[2022-11-23 23:41] efd6 opened #4712 "atlassian_*: packages do not gracefully handle messages with no event"
Currently the atlassian packages do not handle cases where the response from the endpoint has a zero length event list. This is similar to #4502 in the Cisco Duo package.

[2022-11-24 01:16] elasticmachine commented on #4712
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-24 06:43] ChrsMark commented on #3163
So I see 2 parts here:

1. support conditions in container_logs data_stream of k8s package. Add by https://github.com/elastic/integrations/pull/4324 ✅
2. add container_logs data_stream for the docker package. We can extend https://github.com/elastic/integrations/tree/main/packages/docker by using the https://github.com/elastic/elastic-agent/tree/main/internal/pkg/composable/providers/docker provid

[2022-11-24 08:32] formgeist commented on #4548
@gizas I found this issue through the onboarding initiative, but I was wondering if this new default setting is supposed to be showing in the package configuration already within the integrations UI for the latest Kibana snapshot? I don't see it being enabled by default yet. cc @mlunadia

<img width="779" alt="image" src="https://user-images.githubusercontent.com/4104278/203732078-e952084e-dbe6-4f

[2022-11-24 09:11] pmeresanu85 commented on #4258
Hi @muthu-mps,

I must say I agree with @Danouchka perspective.
We should aim at providing the same functionality with the Elastic agent based MS SQL Server Integration; maybe even improving the experience.

Furthermore the scenario where a customer has 100DBs/ 1000 DBs is not that uncommon in a customer setting.

Can you please work with @SubhrataK and make sure we at least match the Beats functi

[2022-11-24 09:13] JanKnipp commented on #2905
I'm seeing the same issue with the agent integration for rabbitmq (which of course uses filebeat)

`2022-11-24 07:37:06.753000+01:00 [error] <0.30307.23> vhost xxxx not found`

this basically makes the log integration for rabbitmq "useless" as grok pattern matching will always fail.

the change is not too hard

`[
  {
    "set": {
      "field": "event.ingested",
      "value": "{{_ingest.timestam

[2022-11-24 09:28] muthu-mps commented on #4258
@pmeresanu85 - Sure, We are currently working on this. FYI - This issue is also tracked [here](https://github.com/elastic/integrations/issues/4108).

[2022-11-24 10:46] gizas commented on #4548
Hello @formgeist,

See [here](https://github.com/elastic/integrations/pull/4646/files#diff-d20d8086b58468701d8a944fc3ead31ddcc098054affdcc335b69464b4c16c54R4) that the enablement has been introduced in version >=1.28.0

Screenshot from version 1.27.1

![1 27 0](https://user-images.githubusercontent.com/1685415/203764876-7f1071b6-5a9e-4af3-a64d-3d150d02f2a9.png)

Screenshot from version 1.29.1

![1

[2022-11-24 12:37] elasticmachine commented on #4711
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-24 13:54] miltonhultgren commented on #4666
We should also add support for API keys.

[2022-11-24 16:35] gizas opened #4718 "[Kubernetes Scaling] Establish Kubernetes Integration 'at scale' ingestion limits"
**Context:**

The volumes of collection, ingestion and query of signals like metrics and logs has been skewed with the trend to move from monolithic architectures into microservices. Kubernetes is the de-facto orchestrator technology and its dynamic nature of configuration and usage can affect the data collection from our products.

![Screenshot 2022-11-24 at 6 16 40 PM](https://user-images.github

[2022-11-24 19:23] sirineboura commented on #4696
Ok I spent the whole afternoon trying to understand why this was happening. The bad parsing is caused by the spaces in the values of some fields !!

In the log above, every field before `logdesc="Admin login failed"`  is well parsed but the spaces in this field break everything. That's why everything after it is not parsed.

For testing purpose, I tried to modify the pipeline in Kibana > Stack man

[2022-11-24 20:07] efd6 commented on #4696
@jamiehynds The Fortinet pipelines (except FortiEDR) still depend heavily on the JS parsers, so updating for these kind of things is difficult.

[2022-11-24 20:36] efd6 commented on #4645
Thanks @herrBez. The pipeline looks like it is doing what is intended from the PANW documentation for the Threat log data there. The [docs](https://docs.paloaltonetworks.com/pan-os/10-2/pan-os-admin/monitoring/use-syslog-for-monitoring/syslog-field-descriptions/threat-log-fields) describe the relevant fields as "Sender (sender)" -> "Specifies the name of the sender of an email." and "Recipient (re

[2022-11-24 21:19] zez3 commented on #3642
@uri-weisman so what does that mean for custom log integrations in Fleet?

[2022-11-26 08:53] herrBez commented on #4333
I think we can consider this issue closed?

[2022-11-27 15:01] lalit-satapathy commented on #4681
_host.ip_ field mapping missing. Wondering if the same applies to other integrations also?

[2022-11-27 21:19] #4712 closed

[2022-11-28 06:56] #4365 closed

[2022-11-28 09:16] #1310 closed

[2022-11-28 10:39] ChrsMark commented on #3163
@gizas since we have addressed both parts, shall we close this issue?

[2022-11-28 10:59] tetianakravchenko commented on #4608
I will check the latest version of the dashboard for EKS

[2022-11-28 11:30] jamiehynds opened #4722 "[Google Workspace] Support All Event Types"
Our Workspace integration currently supports ingest of events from several Workspace services, however we don't support all event types, resulting in blindspots. These events (or Activity Reports to use Google terms) are supported by the same Reporting API that we currently rely upon and based on user demands, need to be added to our integration as new data streams.

**Events to Support**
- ~~Acce

[2022-11-28 11:32] elasticmachine commented on #4722
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-28 12:41] uri-weisman commented on #3642
@zez3 this task is specific to the cloud security posture integration.
Using an existing ECS script to generate mapping, it's not related to https://github.com/elastic/elasticsearch/issues/85692

[2022-11-28 14:17] dhru42 commented on #4710
I love that we're doing this, it will help a lot of folks! Would we also allow users to bring in STIX data by uploading .csv, .txt, and other compatible formats? @jamiehynds

[2022-11-28 14:44] jamiehynds commented on #4710
@dhru42 The initial focus is ingesting via AP. However in theory we could use a 'STIX' ingest pipeline and it could map events regardless of how they are ingested. In addition to the httpjson input, we could add a 'filestream' input to cater for ingesting via files. Is that a pretty common use case? Do you see users manually maintaining files with STIX formatted data or are they provided by TI ven

[2022-11-28 16:15] jamiehynds commented on #4079
Closed via https://github.com/elastic/integrations/issues/3277

[2022-11-28 16:15] #4079 closed

[2022-11-28 16:18] gizas commented on #3857
https://github.com/elastic/observability-dev/issues/2465 closing as duplicate

[2022-11-28 16:18] #3857 closed

[2022-11-28 19:15] joegallo opened #4723 "[suricata] don't modify shared mutable param lists"
This code leaks a shared mutable reference:

https://github.com/elastic/integrations/blob/e6fb9717853a1b8c0178f6117b4bd9430147c012/packages/suricata/data_stream/eve/elasticsearch/ingest_pipeline/default.yml#L235

In this context, `k` is something like `type` and the associated `v` is an `ArrayList` straight out of the `params` object. But the params object is 'static' (allocated once per script pr

[2022-11-28 19:17] elasticmachine commented on #4723
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-28 20:53] iamhowardtheduck opened #4724 "Syslog Integration has parsing issues"
The system syslog integration is giving this error when stack monitoring is enabled for a cloud deployment; will someone please take a look at the ingest pipeline:

`[elasticsearch.server][WARN] nested repeat operator '+' and '*' was replaced with '*' in regular expression /^((?:<(?<NONNEGINT:log.syslog.priority:long>\b(?:[0-9]+)\b)>(\d )?))?(?:(?:(?:(?<SYSLOGTIMESTAMP:_tmp.timestamp>(?:\b(?:[Jj]a

[2022-11-28 21:46] blakerouse opened #4725 "System integration for winlog condition broken"
Currently the condition for the winlog input defined in the system integration is incorrect. The condition is placed on each stream, which means that on a non-windows host all streams will be removed but the input will remain. The condition should be moved to the input itself and removed from each stream.

Currently:

[code]

It needs to be:

[code]

Without this Elastic Agent will try to start th

[2022-11-28 21:56] elasticmachine commented on #4724
Pinging @elastic/elastic-agent-data-plane  (Team:Elastic-Agent-Data-Plane)

[2022-11-29 08:35] formgeist commented on #4548
@gizas Thanks for confirming the version for me. I found that the Kibana snapshots are not using the latest package versions, so I'm investigating why that is.

[2022-11-29 09:37] #1733 closed

[2022-11-29 11:37] elasticmachine commented on #4725
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-29 12:48] andrewkroh commented on #4725
I thought this was working correctly for a long time. What changed?

How would we move the [`condition`](https://github.com/elastic/integrations/blob/3a6e380db3f0030b82eab11c85185bd19cda8f7f/packages/system/data_stream/system/agent/stream/winlog.yml.hbs#L2) to the input level w.r.t. the integration package? Do you have an example?

[2022-11-29 13:23] #4707 closed

[2022-11-29 13:51] dicolanl opened #4730 "New integrations"
I am working on creating a new integration that is pulling JSON logs form a rest api.  I looked at several other pagackages but after deploying the package to the stack in containers i am seeing the following error

[code]

Here is the httpjson.yml.hbs which i dont see multiple transforms on response?
[code]

Any help is greatly appreciated.

[2022-11-29 14:49] taylor-swanson opened #4732 "Azure AD User Entities Integration"
This integration will produce user entity data that is locally enriched with the user's groups from Azure Active Directory (Azure AD). Data is produced in accordance to [RFC 2022-09-07-user-host-entity-ingestion](https://github.com/elastic/security-external-integrations/blob/078acbafbdec6668ef387244096d082a239ef38f/rfcs/2022/2022-09-07-user-host-entity-ingestion.md). It will use the input being de

[2022-11-29 14:49] elasticmachine commented on #4732
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2022-11-29 14:50] ruflin opened #4733 "[Discuss] Usage of event.original"
Over the past few months there have been several discussions around how integration package and in general our data should be using the `event.original` fields [from ECS](https://www.elastic.co/guide/en/ecs/current/ecs-event.html#field-event-original). More and more integrations add it by copying over the message field or similar.

The part I would like to discuss here: What is our general recomme

[2022-11-29 14:51] ruflin commented on #4733
@andrewkroh @jsvd @ebeahan @ishleenk17 I would really like to get your thoughts on this topic.

[2022-11-29 14:54] ruflin commented on #4733
I just found two additional related issues I linked above: https://github.com/elastic/integrations/issues/994 and https://github.com/elastic/integrations/issues/777 @P1llus Pinging you on this one too as you were driving this in the past.

[2022-11-29 14:58] P1llus commented on #4733
@ruflin for security integrations its pretty straight forward, as that field is often a requirement from our users.

Currently all integrations uses the same logic (A boolean in the UI for the integrations), and it already defaults to off.

A bit unsure what you mean with overhead since its disabled by default?

I added that logic a longer time ago.

The reason we also store the data there, and al

[2022-11-29 14:59] P1llus commented on #4733
If there was an issue with apache then its most likely a bug more than anything?

[2022-11-29 15:21] #4723 closed

[2022-11-29 15:23] blakerouse commented on #4725
@kpollich Could you see if it's possible to move `condition`?

This is an issue in 8.6 because of V2 architecture change. V2 doesn't really process streams specifically.

[2022-11-29 16:17] cplow opened #4734 "GCP Billing Metrics does not collect detailed usage information"
The GCP billing metrics collects only the overall information on the list of the projects and its usage for the Billing account ID. This is useful but it does not provide breakdown based on GCP services because this information is not exported by the integration from the Bigquery.

[2022-11-29 19:16] ruflin commented on #4733
Thanks @P1llus for chiming in. When I filed the issue I could not find your initial change but I'm glad I have it now. It basically means, the user can decide to opt in.

Is my understanding correct, that for this to work any new integration / data stream has to add it. It is not a generic feature that gets added during build time or in Fleet?

[2022-11-29 19:34] P1llus commented on #4733
@ruflin that is the correct assumption, I have wanted to add this to the package-spec, but it is not possibly to write spec for ingest pipelines I believe.

So we use it for all security integrations as a requirement  during review, and at least all intergrations from observability from before I did the change has that feature.

[2022-11-29 19:50] P1llus commented on #4733
The requirements are the following:

1. UI elements to support `event.original` and `custom beat processors`
https://github.com/elastic/integrations/blob/main/packages/cisco_duo/data_stream/admin/manifest.yml#L15

2. Support for processors at the bottom of `.yml.hbs` file:
https://github.com/elastic/integrations/blob/main/packages/cisco_duo/data_stream/admin/agent/stream/httpjson.yml.hbs#L32

3. N

[2022-11-29 22:28] dominiqueclarke opened #4735 "[Synthetics] Monitors created with Synthetics Integration (directly or via private locations) do not contain location name"
Integrations version: 0.11.3

When running Synthetics via the integrations, either directly or via private locations in Uptime, the location name is missing.

<img width="1324" alt="Screen Shot 2022-11-29 at 5 27 22 PM" src="https://user-images.githubusercontent.com/11356435/204662249-7cdd8693-e9a9-4eea-ac4d-da72835db72c.png">

The location name for direct Synthetics integrations should be `Fleet

[2022-11-29 22:28] elasticmachine commented on #4735
Pinging @elastic/uptime (Team:Uptime)

[2022-11-29 23:17] b2ronn commented on #4735
as a temporary workaround, created Ingest Pipelines
synthetics-browser.network@custom
synthetics-browser.screenshot@custom
synthetics-browser@custom
synthetics-http@custom
synthetics-icmp@custom
synthetics-tcp@custom

[code]

[2022-11-30 06:58] ManojS-shetty commented on #4556
Setting up the MSSQL and replicating the issue.

[2022-11-30 07:00] ManojS-shetty commented on #4613
- Tried to push the mongoDB docker images to elastic repo, faced the unauthorised message.
- Need to check this with ecosystem.

[2022-11-30 07:06] ruflin commented on #4733
Lets pull in @kpollich from the Fleet team to this as I would expect some of this magic could happen in Fleet (in combination with package spec).

[2022-11-30 07:43] ritalwar commented on #4108
Hi, similar to metricbeat, I am working on retrieving metrics for all the DBs using agent as well.
Will be updating the progress here.

[2022-11-30 07:49] Danouchka commented on #4375
cc @demers-eric

[2022-11-30 08:44] ManojS-shetty commented on #4612
Here I am working on the replicaset functionality fix in mongodb metricbeat module, once the fix is placed for the replicaset we will be proceeding to try writing system test for multihost.

I will be updating the progress here.

[2022-11-30 09:19] #4317 closed

[2022-11-30 09:38] elasticmachine commented on #3102
Package google_workspace - 2.1.0 containing this change is available at https://epr.elastic.co/search?package=google_workspace

[2022-11-30 09:38] elasticmachine commented on #4317
Package google_workspace - 2.1.0 containing this change is available at https://epr.elastic.co/search?package=google_workspace

[2022-11-30 10:08] simranvaseer-qasource opened #4736 "[Fleet]: Not all Metrics dataset are available on Data Streams page for Linux integration."
**Kibana version:**  8.6 BC4 Kibana cloud environment

**Host OS and Browser version:** **Ubuntu22**

**Build details:**

[code]

**Preconditions:**
1. 8.6 BC4 Kibana cloud environment should be available.
2. Linux Agent should be install with Linux integration.

**Steps to reproduce:**

1. Navigate to Kibana cloud environments
2. Edit Linux integration.
3. Enable all toggles at `Collect linux met

[2022-11-30 10:08] elasticmachine commented on #4736
Pinging @elastic/fleet (Team:Fleet)

[2022-11-30 10:08] simranvaseer-qasource opened #4737 "[Fleet]: Logs dataset are not available on Data Streams page for Windows integration."
**Kibana version:**  8.6 BC4 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**

[code]

**Preconditions:**
1. 8.6 BC4 Kibana cloud environment should be available.
2. Agent should be added with Windows integration.

**Steps to reproduce:**

1. Navigate to Kibana cloud environments
2. Add Windows Integration
3. Enable toggles at `Collect events from the followi

[2022-11-30 10:08] elasticmachine commented on #4737
Pinging @elastic/fleet (Team:Fleet)

[2022-11-30 10:18] dikshachauhan-qasource commented on #4737
Secondary Review is done

[2022-11-30 11:13] kcreddy opened #4738 "Cisco Secure Email Gateway | Use CEF processor instead of GROK for Consolidated Event logs"
Currently, `cisco_secure_email_gateway` uses GROK to parse consolidated event logs. Since these consolidated logs are in Common Event Format (CEF), we could use `cef` processor instead to improve parsing performance.

Reference - [Consolidated Event Logs](https://www.cisco.com/c/en/us/td/docs/security/ces/user_guide/esa_user_guide_14-0-2/b_ESA_Admin_Guide_ces_14-0-2/b_ESA_Admin_Guide_12_1_chapter_

[2022-11-30 12:49] dikshachauhan-qasource commented on #4736
Secondary Review is done

[2022-11-30 14:37] taylor-swanson opened #4739 "Add documentation links to advanced option descriptions"
Many of our integrations include configuration options to provide advanced settings for TCP, UDP inputs, SSL, etc. These are free-form fields and the user will need to know ahead of time what to provide. We should provide a link to the corresponding documentation that describes what fields may be provided. A few of our integrations already do this (PANW, for example), but many others are missing t

[2022-11-30 16:53] ravikesarwani commented on #4375
cc: @elastic/obs-cloud-monitoring
Do we think this is something we need to coordinate with the Google team OR do we know of any limitations based on Dataflow template limitations in a specific region?

[2022-11-30 19:09] zmoog opened #4743 "Azure Logs integration stops collecting logs after a configuration change"
- Version: >= 8.3.3
- Operating System: any

## How to reproduce

### Steps

1. Visit **Integrations -> Installed integrations -> Azure Logs**.
2. Select **Integration Policies** tab.
3. Click on an integration policy.
4. In **Collect event from Event Hub**, expand **Change defaults**.
5. Change one configuration option (for example, toggle **Preserve original event**).
6. Click on **Save integrat

[2022-11-30 19:12] zmoog commented on #4743
I can reproduce the issue by running one integration from Azure Logs in my local stack:

[code]

The `azureeventhub` input stopped working every time I made a configuration change.

The workarounds described above can restore functionality.

[2022-11-30 19:16] zmoog commented on #4743
During the stopping phase, Filebeats reports an error:

[code]