[2021-05-03 08:58] elasticmachine commented on #964
Pinging @elastic/integrations (Team:Integrations)

[2021-05-03 13:33] marc-gr opened #965 "[cisco_ios] Fix ECS fields values for Cisco integration"
There are some values used for ECS fields in the Cisco integration. Would be nice to go through it and fix them according to https://www.elastic.co/guide/en/ecs/current/ecs-field-reference.html

[2021-05-03 13:33] elasticmachine commented on #965
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-03 14:03] elasticmachine commented on #953
Pinging @elastic/agent (Team:Agent)

[2021-05-03 17:39] elasticmachine commented on #723
Pinging @elastic/agent (Team:Agent)

[2021-05-03 17:41] ph commented on #880
@andrewkroh Where should we send theses issues? Do you have specific board?

[2021-05-03 17:41] elasticmachine commented on #880
Pinging @elastic/siem (Team:SIEM)

[2021-05-03 17:44] elasticmachine commented on #966
Pinging @elastic/integrations (Team:Integrations)

[2021-05-03 23:55] elasticmachine commented on #880
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-03 23:56] andrewkroh commented on #880
@ph The team label for us is `Team:Security-External Integrations`. And we have a board called `Security External Integrations team planning`.

[2021-05-04 11:30] ruflin opened #968 "[fleet-server] Adjust owner of package"
Currently the fleet_server package is owned by elastic/ingest-management. This should be moved to the elastic-agent team: https://github.com/elastic/integrations/blob/master/packages/fleet_server/manifest.yml#L13

I did not open this PR directly as the team is currently called agent which I think should be renamed to elastic-agent.

[2021-05-04 11:30] elasticmachine commented on #968
Pinging @elastic/agent (Team:Agent)

[2021-05-04 20:16] ph commented on #723
@mostlyjason Currently It only contains dashboard, Maybe we could write something like this.

[code]

[2021-05-05 07:03] dikshachauhan-qasource commented on #881
Hi @fearful-symmetry

Thanks for the update. Please let us know whenever  underlying issue is fixed, so that we can revalidate above reported issue.

Thanks
QAS

[2021-05-05 07:26] dikshachauhan-qasource commented on #552
Hi @EricDavisX

Considering the bug reported here wont be able to fix for reported OS. We would like to close the issue.

Further, if you would like us to log separate issue for docs here to be updated, we can raise the required.

Please let us know your views over this.

Thanks
QAS

[2021-05-05 07:34] dikshachauhan-qasource commented on #669
Hi @masci

cc @EricDavisX

Just to update that when we validate above reported issue now its only reproducible for 'windows.powershell_operational' logs .

We are able to resume data streaming on 'windows.powershell' logs event after toggling on the settings at the  Edit integration page.

Thanks
QAS

[2021-05-05 12:29] EricDavisX commented on #552
Thanks @dikshachauhan-qasource .  @fearful-symmetry @masci where would you prefer to add relating docs for support on this, in the package itself in a separate file, or in the package code or elsewhere?  I figure we can use this ticket for the docs need, unless you want a separate one.  Your call.  Thanks.

[2021-05-05 16:36] fearful-symmetry commented on #552
So, it's mentioned in the metricbeat doc:

We might want to clarify that, but I'm also not sure that shows up in the Integrations docs anywhere....

[2021-05-06 16:58] sayden commented on #818
Ok, here we go https://github.com/elastic/beats/pull/25599

[2021-05-07 23:31] andrewkroh opened #975 "Create FireEye Network Security (NX) appliances package"
Create a package for FireEye Network Security (NX) appliances. There is a contribution to Beats in https://github.com/elastic/beats/pull/21366 that we can use as a starting point.

- https://www.fireeye.com/content/dam/fireeye-www/products/pdfs/pf/web/fireeye-network-threat-prevention-platform.pdf
- https://aws.amazon.com/marketplace/pp/B07X38BMTK?ref_=srh_res_product_title

# Integration release

[2021-05-07 23:31] elasticmachine commented on #975
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-07 23:58] andrewkroh opened #976 "Create F5 Application Security Manager (ASM) package"
Create an integration package for F5 Application Security Manager (ASM). "Application Security Manager™ (ASM) is a web application firewall that secures web applications and protects them from vulnerabilities." Their documentation appears to have an excellent list of the log messages (hopefully they match the product).

- https://techdocs.f5.com/kb/en-us/products/big-ip_asm/manuals/product/asm-get

[2021-05-07 23:58] elasticmachine commented on #976
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-10 09:45] dikshachauhan-qasource opened #977 "Without clicking on upgrade package button, Integration gets updated by itself on just adding it to a policy."
**Kibana version:**
7.13 BC4 Kibana Cloud Staging environment

**Host OS and Browser version:**
Integrations, All

**Preconditions**
1.  7.13 BC4 Kibana Cloud Staging environment should be available.
[code]
2. Managed host should be available under Agents tab.

**Steps to reproduce:**
1. Login to Kibana cloud environment.
2. Go to Integrations tab and click on Nginx integration
3. Use below API to

[2021-05-10 10:30] elasticmachine commented on #977
Pinging @elastic/integrations (Team:Integrations)

[2021-05-10 10:31] dikshachauhan-qasource commented on #977
@manishgupta-qasource Please review

[2021-05-10 13:47] mostlyjason commented on #723
How about this?

`The Elastic Agent integration is a default integration that contains the dashboards required to visualize the monitoring information of a running Elastic Agent and the running processes. It does not need to be added to agent policies. The integration will be automatically updated on every new release of the stack.`

This is another good example for this use case https://github.co

[2021-05-10 16:00] elasticmachine commented on #977
Pinging @elastic/fleet (Team:Fleet)

[2021-05-10 22:21] dominiqueclarke opened #980 "[Synthetics] add_fields processor is formatted incorrectly"
Package: Synthetics

Version: 0.0.4

Within the Synthetics package, the `add_fields` processors are incorrectly formatted for tcp and icmp data streams, causing the following error in agent.

[elastic_agent][error] 2021-05-10T18:18:54-04:00 - message: Application: filebeat--8.0.0-SNAPSHOT[e5d233ad-755f-41da-aaf9-bbb97081dfe3]: State changed to FAILED: 1 error: 2 errors: Error creating runner from

[2021-05-10 22:21] elasticmachine commented on #980
Pinging @elastic/uptime (Team:Uptime)

[2021-05-10 22:37] ycombinator opened #982 "PostgreSQL: Metrics Database Overview dashboard shows no data"
As part of testing the PostgreSQL package with the 7.13.0 release, I am finding that the "[Metrics PostgreSQL] Database Overview" dashboard is not showing any data:

<img width="1721" alt="Screen Shot 2021-05-10 at 3 30 42 PM" src="https://user-images.githubusercontent.com/51061/117732664-2269a080-b1a5-11eb-988a-8df4f41c953b.png">

<img width="1721" alt="Screen Shot 2021-05-10 at 3 30 45 PM" src="

[2021-05-10 22:38] ycombinator commented on #982
cc: @sayden @masci @mtojek

[2021-05-10 22:39] ycombinator commented on #982
Various data streams for the `postgresql` integration are present.

<img width="1721" alt="Screen Shot 2021-05-10 at 3 38 35 PM" src="https://user-images.githubusercontent.com/51061/117733092-d66b2b80-b1a5-11eb-85da-461617fc3412.png">

[2021-05-11 08:12] ChrsMark commented on #982
@ycombinator did you check if metrics used in visualisations are being populated? It happened to me with another integration that some visualisations had wrong datastream filters and hence even if the metrics were being populated the visualisations were empty.

[2021-05-11 10:26] elkargig commented on #605
thanks a lot @fearful-symmetry ! is there a beats build we can use to test this before it gets released ?

[2021-05-11 13:14] mtojek commented on #982
I quickly booted up the Docker image with PostgreSQL and found the problem around SSL:

<img width="1977" alt="Zrzut ekranu 2021-05-11 o 15 12 50" src="https://user-images.githubusercontent.com/14044910/117821004-6aeb9180-b26b-11eb-81cb-5c7b792d2183.png">

[2021-05-11 13:40] #980 closed

[2021-05-11 20:18] ycombinator commented on #982
Yep, this was user error. I needed to set the `username` and `password` advanced options + add `?sslmode=disable` to the `host` setting in the Integration configuration UI.

[2021-05-12 09:49] sorantis commented on #818
@sayden nice!

[2021-05-12 20:11] epixa commented on #961
I updated the description to add the additional must-have requirements we identified recently

[2021-05-14 16:33] mostlyjason opened #993 "[Elastic Agent] Broken dashboard"
The default dashboard shown for Elastic Agent is broken. The visualizations seem to be missing the time field.

![image](https://user-images.githubusercontent.com/6370704/118300891-6d8af880-b4b0-11eb-8dff-1aa979b3a619.png)

Adding the time field fixes it
![image](https://user-images.githubusercontent.com/6370704/118300973-8693a980-b4b0-11eb-8c97-38f4fc1795c6.png)

[2021-05-14 16:33] elasticmachine commented on #993
Pinging @elastic/agent (Team:Agent)

[2021-05-14 21:52] a03nikki opened #1015 "RabbitMQ - add shovel status"
**Describe the enhancement:**

Add the [shovel status](https://www.rabbitmq.com/shovel.html#status) to the metrics collected for RabbitMQ.

**Describe a specific use case for the enhancement or feature:**

This status indicates if messages are being picked up and dropped off from the queue.  Checking this plugin is included in the [RabbitMQ monitoring guide](https://www.rabbitmq.com/monitoring.htm

[2021-05-17 10:02] P1llus opened #994 "[Meta] 7.14 Planned changes to all packages"
This issue is an overview of planned changes that affect all or most packages to prepare them for GA.

**List of tasks:**

- **Update ECS version to 1.10**
Each package should have an updated ECS version, even if no changes is needed for the specific package, the new fields added in 1.10 is:
_New fields:_
Datastream: https://github.com/elastic/ecs/blob/master/rfcs/text/0009-data_stream-fields.md
_

[2021-05-17 10:02] elasticmachine commented on #994
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-17 10:08] P1llus commented on #994
As discussed @masci these are the changes we would like to perform, in which we could always track cross-team.

[2021-05-17 10:17] P1llus commented on #994
Packages to track:

apache
- [ ] Update ECS.
- [ ] Sync package if any module changes.
- [ ] Add pipeline test files
- [ ] Remove edge processing
- [ ] Implement Preserve Raw Event

auditd
- [ ] Update ECS.
- [ ] Sync package if any module changes.
- [ ] Add pipeline test files
- [ ] Remove edge processing
- [ ] Implement Preserve Raw Event

aws
- [ ] Update ECS.
- [ ] Sync package if any module c

[2021-05-18 14:02] rayafratkina commented on #265
Looks like at this point all Lens gaps have been resolved and the only remaining issue is around Input controls. Should we close this issue and start tracking Dashboard-level dependencies (including Input controls)?
See https://github.com/elastic/kibana/issues/59821 for the input controls plan.

[2021-05-18 14:31] matschaffer commented on #265
Did something like TSVBs "Positive Rate" land somewhere? We use that a lot in Cloud (often for plotting deeper parts of stack monitoring data).

[2021-05-18 14:37] wylieconlon commented on #265
Yes, counter rate was merged for 7.12. It's also called counter rate in TSVB now: https://www.elastic.co/guide/en/kibana/current/whats-new.html#lens-7-12

[2021-05-18 14:46] matschaffer commented on #265
Oh, and share-without-save was another one on my nice-to-haves list, though that's more just for general workflow (so we can paste to slack) rather than something that'd block an integration moving over

[2021-05-18 15:16] wylieconlon commented on #265
@matschaffer It sounds like you have other items that you're asking for, can you list all of them? We have never discussed sharing without saving before, so I think we will need to do some investigation into it.

[2021-05-18 20:24] mostlyjason commented on #787
@ph can we just get a short description here in 7.13 so it doesn't look broken? Here is some content you can plug in:

[2021-05-18 20:27] mostlyjason opened #1001 "Update icon for Fleet Server and Elastic Agent"
Right now we just have the default icon of a box for Fleet Server. Can we pick an icon that better reflects its function? To clarify, it should be an icon, not a logo.

Update 2021-07-29 We have icons now for Fleet Server and Elastic Agent

CC @hbharding

[2021-05-18 20:38] mostlyjason opened #1002 "Fleet Server should be Beta"
The Fleet Server integration is currently marked as Experimental. It should be marked as Beta. We intend to support this feature and make it GA soon.

CC @ph

[2021-05-18 20:38] elasticmachine commented on #1002
Pinging @elastic/agent (Team:Agent)

[2021-05-18 20:42] ph commented on #1002
Fixed in https://github.com/elastic/integrations/pull/995

[2021-05-18 20:42] #1002 closed

[2021-05-19 06:34] ruflin commented on #787
@mostlyjason Want to directly open a PR?

[2021-05-19 07:43] urso commented on #787
@mostlyjason `s/and serves as a control plane for //`

[2021-05-19 22:31] tbragin commented on #265
@drewpost @sorantis @mukeshelastic Are you comfortable with this issue being closed? I am not sure if this is the only place we are tracking the delta between Lens capabilities today and what we need for Observability Integrations & Data Exploration use cases.

[2021-05-20 08:21] muskangulati-qasource commented on #787
Hi @mostlyjason,

We tested this ticket on the latest 7.13.0 BC9 build & found that issue is still occuring. Please find below the exact testing details:

**Build Details**:
[code]

**Screenshots**
![Overview](https://user-images.githubusercontent.com/60252716/118937839-948f7180-b96b-11eb-91f4-8823e39b4f4e.JPG)

Can you please confirm if there is one more BC lined up or is the merge going to next

[2021-05-20 14:18] dikshachauhan-qasource opened #1013 "No Information is provided for data events collection for rest API on the System integration Overview page"
While performing testing for system Package 12.3 on 7.13Snapshot build, we have observed that new logs collection sub-tab is added to system integration related to Rest API. Screenshot is provided here for reference:

![image](https://user-images.githubusercontent.com/72375798/118994665-261ad580-b9a4-11eb-854a-4a2795f7345d.png)

**Query**
It would be very helpful if anybody could let us know to va

[2021-05-20 14:19] elasticmachine commented on #1013
Pinging @elastic/integrations (Team:Integrations)

[2021-05-20 15:54] #659 closed

[2021-05-20 16:08] fearful-symmetry commented on #1013
So, that was added by @marc-gr as part of a splunk input. Alas, I don't have any splunk experience, so I can't say much more.

[2021-05-21 16:00] eedugon opened #1014 "Prepare requested resources visualizations for Kubernetes Observability"
On Kubernetes is very common to take a look at the overall resources `requested / reserved` (not in use) at different levels:
- Cluster wide
- Per node.

When doing `kubectl describe node` we can clearly see something like:

[code]

Today the majority of dashboards for Kubernetes monitoring allow the user to visualize quickly the overall (or per node) amount of CPU and memory requested.

In our cu

[2021-05-24 09:07] michalpristas commented on #812
added a 7.14 label, please update if needed for another version

[2021-05-24 11:33] sorantis commented on #1014
cc @ChrsMark

[2021-05-24 11:34] elasticmachine commented on #1014
Pinging @elastic/integrations (Team:Integrations)

[2021-05-25 11:15] mostlyjason commented on #787
@ruflin @urso can you help me with a backport to 7.13? I'm not familiar with the process.

[2021-05-25 11:21] marc-gr commented on #1013
@EricDavisX I will prepare a local environment to validate it works and add the screenshots here

[2021-05-25 11:28] ruflin commented on #787
@mostlyjason Already in progress. It's not a backport is a promotion ;-) https://github.com/elastic/package-storage/pull/1350

[2021-05-25 12:56] marc-gr commented on #1013
I checked again setting up a new env, and it is working correctly with the experimental input
![image](https://user-images.githubusercontent.com/15213755/119501675-5e862f00-bd69-11eb-9e0c-44a22335bc44.png)

hope that helps!

[2021-05-26 07:18] ChrsMark commented on #1017
Btw @sorantis now I realise that this one will be landed really in time with the changes applied in https://github.com/elastic/beats/pull/25640 and https://github.com/elastic/beats/pull/25782 where kubelet metricsets/data_streams will share the input coming from the stats endpoint (request happen on Metricbeat level and cached). Same goes for state_* metricsets/data_sets.

[2021-05-26 19:26] EricDavisX commented on #1013
Thanks Marc, it does help!

@dikshachauhan-qasource I will recommend we leave this testing for the Engineering team to manage for now.  But before we do that I wish to confirm with the team if this portion of the Integration is not expected to change much?  Also, any quick discussion on how much this feature set is covered with your team's automation systems?

If nothing else comes, we will expect

[2021-05-27 01:33] smartkathycat opened #1022 "[Elastic Agent] AWS integration - Add an option to limit the files that are downloaded for CloudTrail logs"
User uses Elastic Agent (v7.11.2) with the AWS integration (v0.5.0) to process an AWS SQS of CloudTrail logs.
Their S3 source of the logs also include CloudTrail-Digest & Config logs. Since CloudTrail-Digest logs do not have key ‘Records’, there are a lot of following error messages. Filebeat has an option [file_selectors](https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-input-aws-s

[2021-05-27 01:33] elasticmachine commented on #1022
Pinging @elastic/agent (Team:Agent)

[2021-05-27 05:38] dikshachauhan-qasource commented on #1013
@EricDavisX

Thanks for the confirmation for now and keeping it out of scope of our testing.

@marc-gr  However, if we ever need to test this in future, we will be requiring related docs/steps so that we can validate it accordingly.

Thanks
QAS

[2021-05-27 09:48] adriansr opened #1024 "Deprecate `cyberark` integration"
With the new `cyberarkpas` integration, we want to deprecate the older `cyberark`.

We can:
- Remove `cyberark`
or
- Make it available to older versions (`<7.13.0`, cyberarkpas is `^7.13.0`).
- Mark it as deprecated.

[2021-05-27 09:48] elasticmachine commented on #1024
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-05-27 11:20] ruflin opened #1026 "[elastic_agent] Move package to beta"
Elastic Agent is beta and with it, also the package should be in beta. But currently it is experimental. The package should be checked to contain all data streams needed and then moved to beta.

[2021-05-27 14:26] jasonrhodes commented on #777
What's the latest on this situation? I see we are moving forward with moving from `log.original` to `event.original`, but I'm curious about how we manage including this information vs dropping it. To @weltenwort's point about human readability, I think having a value in "message" is important for lots of discoverability use cases as people begin to install more and more packages via Agent.

I wond

[2021-05-27 14:33] weltenwort commented on #777
:thinking: Ideally the packages would perform the message reconstruction themselves using a `message` runtime field. Then it would be opaque to the UI whether that message is actually persisted as such.

[2021-05-27 20:21] EricDavisX commented on #1013
I spoke briefly with @dikshachauhan-qasource this morning and if we were more familiar with Splunk it might be clearer.  In re-reviewing the image she attached I think we have all the info we need to test, if we ever wish to.  Diksha, the Endgame Splunk server should be available if we want to try it out, I can fwd you the creds if you don't have them.

The UI in the screenshot says scheme://IP:Po

[2021-05-27 20:21] #1013 closed

[2021-05-28 12:47] amolnater-qasource commented on #1013
Hi @EricDavisX

We have re-attempted this on released 7.13 Kibana cloud and self managed 7.13 Kibana builds.
We used the Endgame splunk credentials to validate this. However, we are unable to get the desired results.

Further, as discussed on slack we will continue with System third party rest API tests when it will be available in a stable position.

Thanks
QAS

[2021-05-31 15:44] P1llus commented on #777
@jasonrhodes @weltenwort The implementation is done and tracked here: https://github.com/elastic/integrations/issues/994

There will be a UI option for the user called "Preserve Raw Event". All non-metric packages will use this, and will all support this in 7.14.

[2021-06-01 12:05] narph opened #1047 "Add azure billing package"
Placeholder atm for 7.14.

cc @sorantis

# Integration release checklist

This checklist is intended for integrations maintainers to ensure consistency
when creating or updating a Package, Module or Dataset for an Integration.

### All changes

- [ ] Change follows the [contributing guidelines](https://github.com/elastic/integrations/blob/master/CONTRIBUTING.md)
- [ ] Supported versions of the mon

[2021-06-01 12:06] narph opened #1049 "Add azure application insights package"
# Integration release checklist

This checklist is intended for integrations maintainers to ensure consistency
when creating or updating a Package, Module or Dataset for an Integration.

### All changes

- [ ] Change follows the [contributing guidelines](https://github.com/elastic/integrations/blob/master/CONTRIBUTING.md)
- [ ] Supported versions of the monitoring target are documented
- [ ] Suppo

[2021-06-01 12:07] narph opened #1050 "Update azure package to Azure logs package"
# Integration release checklist

This checklist is intended for integrations maintainers to ensure consistency
when creating or updating a Package, Module or Dataset for an Integration.

### All changes

- [ ] Change follows the [contributing guidelines](https://github.com/elastic/integrations/blob/master/CONTRIBUTING.md)
- [ ] Supported versions of the monitoring target are documented
- [ ] Suppo

[2021-06-01 12:08] elasticmachine commented on #1050
Pinging @elastic/integrations (Team:Platforms)

[2021-06-01 12:08] elasticmachine commented on #1050
Pinging @elastic/obs-dc (Team:Obs-DC)

[2021-06-02 07:54] rosesj-stack commented on #1022
Hi Team, any update on this?

[2021-06-02 11:31] jsoriano opened #3466 "Fix duplicated and missing metrics in kafka.broker metricset"
The jolokia mapping for the kafka broker metricset contains some duplicated mbeans and attributes, reported as different names, e.g:
[code]
The `OneMinuteRate` of `kafka.server:type=BrokerTopicMetrics,name=FailedFetchRequestsPerSec` is configured to be reported both as `kafka.broker.request.fetch.failed_per_second` and `kafka.broker.request.fetch.failed`. This is probably not intended.

The `faile

[2021-06-02 13:21] StefanSa opened #1071 "[Elastic-agent] Filebeat sopos-xg module, "Known Devices" values are not transferred to the policy."
Although the values for `Known Devices` were entered correctly in the integration settings for the `sophos-xg` module

[code]

If these are completely missing in the generated policy.

[code]

[2021-06-02 15:47] P1llus commented on #1071
Could confirm, that adding values in the "known_devices" part of the UI for Sophos XG is not actually transferred to the configuration.

[2021-06-02 15:48] elasticmachine commented on #1071
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-02 16:06] andrewkroh commented on #678
I found that in July 2020 in https://github.com/elastic/beats/pull/20076 Elastic Agent started adding `event.dataset` to all events. Nothing that I found declares this field in a mapping so this means that it's getting its keyword type assignment dynamically.

If we can make `event.dataset` and alias pointing to `data_stream.dataset` then queries can benefit from the `constant_keyword`. The downsi

[2021-06-02 18:57] jalvz commented on #800
Very late update (sorry for that):

I gave this a shot a couple of months ago (see backlink above), but unfortunately code generation doesn't work 100%... it's more like 95%, but even if it is easy enough to glue by hand the broken bits, it means that it will take a bit more effort to maintain than what I hoped.

Another option would be to extract the relevant code out of elastic-package.
I think

[2021-06-03 11:53] dikshachauhan-qasource opened #1074 "Unable to access Apache Integration overview page."
**Kibana version:** 7.14.0 Snapshot Kibana staging environment

**Host OS and Browser version:** Windows 10, All

**Preconditions:**
1. 7.14.0 Snapshot Kibana staging environment should be available.

**Build Details:**
[code]
2. Default policy must have System and Endpoint Security.

**Steps to reproduce:**
1. Login to Kibana Cloud environment.
2. Navigate to Integrations>All Integrations tab.
3.

[2021-06-03 11:53] elasticmachine commented on #1074
Pinging @elastic/integrations (Team:Integrations)

[2021-06-03 11:54] dikshachauhan-qasource commented on #1074
@karanbirsingh-qasource Please review

[2021-06-03 12:06] dikshachauhan-qasource commented on #1074
hi @EricDavisX

Same issue is observed on **AWS, Azure, auditd , haproxy, IIS, google_workspace, Google cloud Platform** integrations Overview tab.

Screenshot:
![image](https://user-images.githubusercontent.com/72375798/120641478-457c2d00-c491-11eb-8ac4-365c65a7c2e2.png)

[2021-06-03 17:18] jen-huang commented on #1074
This was fixed yesterday in https://github.com/elastic/kibana/pull/101187. It should be available in the next snapshot.

[2021-06-03 17:18] #1074 closed

[2021-06-03 19:31] alexfrancoeur commented on #269
In the Fleet Package Lifecycle Management working group the topic of dashboard best practices has come up a number of times and @mostlyjason had asked for me to share my thoughts in this issue. My thoughts and feedback come not only as Kibana product manager, but also as someone who has spent a lot of time in Kibana over the years. I think there is a ton of opportunity to provide an amazing dashbo

[2021-06-03 22:46] ycombinator opened #1080 "docker-0.2.0 package cannot be installed"
### Steps to reproduce

1. Boot up the Elastic Stack.
[code]

2. Navigate to the Fleet UI for adding the `docker` package: http://localhost:5601/app/fleet#/integrations/docker-0.2.0/add-integration.
3. Click on "Save Integration".

### Expected
The `docker` package is installed.

### Observed
An `illegal_argument_exception` error is shown.

![Screen Shot 2021-06-03 at 3 45 23 PM](https://user-imag

[2021-06-03 22:46] elasticmachine commented on #1080
Pinging @elastic/integrations (Team:Integrations)

[2021-06-03 22:51] ycombinator commented on #1080
@jen-huang @nchaulet Is there some way to dig deeper into this error to understand what's causing it? I checked the Kibana server log and it looks like this is an error returned from Elasticsearch. I checked the Elastiscearch server log and I don't see anything obvious there. The only clues I see are that a bunch of index templates for the `docker` package are installed and then they are deleted (

[2021-06-03 23:03] ycombinator commented on #1080
I've narrowed it down to the `cpu` data stream within the integration. If I temporarily remove this data stream's folder from the package, rebuild the package, and then try to install it via Fleet, it installs successfully.

[2021-06-03 23:13] ycombinator commented on #1080
I've narrowed it down further to the `fields.yml` in the `cpu` data stream.

[2021-06-03 23:22] ycombinator commented on #1080
Okay, it looks like there were a few scalar fields that were mapped as objects. PR for fix coming shortly.

[2021-06-03 23:27] ycombinator commented on #1080
PR for fix is up: https://github.com/elastic/integrations/pull/1081

[2021-06-03 23:41] #1080 closed

[2021-06-04 06:52] dikshachauhan-qasource commented on #1074
Hi @jen-huang

Thanks for the confirmation. We will validate and provide confirmation on linked pull ticket.

Thanks
QAS

[2021-06-04 10:57] jamiehynds opened #1082 "Cisco Duo Package"
### Description
Cisco Duo allows secure connections to applications (on premises or in the cloud). Using multi-factor authentication (MFA) and contextual user access policies, organizations can verify an employee’s identity to ensure they are who they say they are and add more checks on the trustworthiness of devices through security health inspections.

**Authentication logs:** Authentication log

[2021-06-04 10:57] elasticmachine commented on #1082
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-04 11:40] StefanSa opened #1083 "[Elastic-agent] Filebeat Windows intergartion, SIEM missing fields mappings"
The `TargetUserName` and `IpAddress` of Windows events are not mapped in the SIEM events. These are missing in `user.name` and` source, destination.ip`

[code]
![missing-fields](https://user-images.githubusercontent.com/6105075/120795812-4321dd80-c53a-11eb-9afd-314bcc7aacf7.png)

Possibly a bug in the corresponding pipeline.

[2021-06-04 12:16] jamiehynds opened #1084 "Jump Cloud"
### Description
JumpCloud is a Directory-as-a-Service that securely connects user identities to systems, apps, files, and networks. Customers use it to authenticate, authorize, and manage users, devices, and applications. [This video](https://youtu.be/qN9wWJdUm4Y) provides a brief overview of their solution.

### Architecture
Events are exposed via Jumpcloud Directory Insights feature and retentio

[2021-06-04 12:16] elasticmachine commented on #1084
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-04 12:25] sorantis commented on #269
I cam across [this great article on how to build dashboards for monitoring](https://dmoldovan.medium.com/monitoring-how-to-build-your-monitoring-dashboards-e11f89918dd1). I think some of the points on how to structure visualizations are very useful.

[2021-06-04 12:52] jamiehynds opened #1085 "ForgeRock Identity Platform"
### Description
ForgeRock is a modern identity platform which helps organizations radically simplify identity and access management (IAM) and identity governance and administration (IGA).

### Architecture
ForgeRock Identity Platform provides an API which works across the platform to provide access to audit logs. The audit service includes events such as system access\activity, authentication and

[2021-06-04 12:52] elasticmachine commented on #1085
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-04 13:10] jamiehynds opened #1086 "OneLogin"
### Description
ForgeRock is a modern identity platform which helps organizations radically simplify identity and access management (IAM) and identity governance and administration (IGA).

### Architecture
The [OneLogin Event API](https://developers.onelogin.com/api-docs/1/events/event-resource) can be queried to access events.

# Integration release checklist

This checklist is intended for integ

[2021-06-04 13:10] elasticmachine commented on #1086
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-04 13:45] jamiehynds opened #1087 "Ping Identity | PingONE"
### Description
Ping Identity provides federated identity management and self-hosted identity access management to web identities via attribute based access controls. This Single sign-on (SSO) gives users a single set of credentials to access applications web applications, apps on mobile devices, VPN, etc.

Ping provides both software and SaaS-delivered components. PingFederate (SSO), PingAccess,

[2021-06-04 13:47] elasticmachine commented on #1087
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-04 13:51] jamiehynds opened #1088 "Ping Identity | PingFederate"
### Description
Ping Identity provides federated identity management and self-hosted identity access management to web identities via attribute based access controls. This Single sign-on (SSO) gives users a single set of credentials to access applications web applications, apps on mobile devices, VPN, etc.

Ping provides both software and SaaS-delivered components. PingFederate (SSO), PingAccess,

[2021-06-04 13:51] elasticmachine commented on #1088
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-07 00:50] DasUberLeo opened #1538 "[Metricbeat] Add option to auto-map prometheus metric fields to ECS"
**Problem statement:**
At present, all metrics collected by the prometheus module are mapped by default into `prometheus.*` in documents. This requires manual transformations and/or mappings into ECS fields for anyone wanting to use standard Elastic features.

**Describe the enhancement:**
An option that can be enabled for the prometheus module that automatically transforms/maps "appropriate" valu

[2021-06-07 09:18] ruflin opened #1091 "No meta info for groups"
In https://github.com/elastic/kibana/issues/82273 the issue was raised that units are set on a group object: https://github.com/elastic/integrations/blob/master/packages/system/data_stream/fsstat/fields/fields.yml#L15-L16

First, I think this should not happen and we should fix the package. @fearful-symmetry I guess this falls on your plate?

Second, we should have a discussion if we should valida

[2021-06-07 09:18] elasticmachine commented on #1091
Pinging @elastic/integrations (Team:Integrations)

[2021-06-07 12:29] AlonaNadler commented on #269
Thanks @alexfrancoeur for raising all these areas, I think you are spot on and there are several ways to level up some of the dashboard packages with recent enhancements.

Few other updates:
- input control is being worked on at the moment would be good to join one of your meetings and provide an update
- new dashboard flow, we heard it from users a lot over the years, packages create hundreds of

[2021-06-07 12:31] mtojek commented on #1091
I think this can be handled with semantic validation rules.

[2021-06-07 15:03] ruflin commented on #800
++ on coming up with a single Kibana client. I would expect it at first to only contain the functions really needed but it could be shared across multiple projects. Starting to extract it from elastic-agent sounds like a good idea.

[2021-06-07 15:08] ycombinator commented on #800
@ruflin Did you mean elastic-package? 📎

[2021-06-07 15:14] ruflin commented on #800
Yes 🤦 But to be fair, elastic-agent also has Kibana bits inside ...

[2021-06-07 15:47] fearful-symmetry commented on #1091
So, is the issue that we don't want `unit` and `metric_type` in `groups` at all? Agreed we should add some validation rules, until then @mtojek should I just start fixing things manually?

[2021-06-08 08:28] rosesj-stack commented on #1022
Hi Team, any update on this? Thank you.

[2021-06-08 10:05] mtojek commented on #1091
Yes.

It's up to you. You can start fixing the system package if you know all these places. Otherwise please wait until the PR for semantic validation is merged, so it will detect all these places.

[2021-06-08 11:36] ruflin commented on #1091
@fearful-symmetry What I'm trying to understand on my end is: Do we need the units? I assume we put them there for a reason?

[2021-06-08 15:00] fearful-symmetry commented on #1091
@ruflin most of those fields weren't added by me if I remember correctly, so I really can't say. It looks like @exekias added most of the ones to `system`.

[2021-06-08 15:08] ruflin commented on #1091
Are we in agreement we don't need this and we should get rid of it?

[2021-06-08 16:04] fearful-symmetry commented on #1091
Agreed. Unless there's a blocker, I'm going to wait for the validation PR before trying to clear things out.

[2021-06-09 05:13] jarpy opened #1110 "Add support for replicas.ready on state_statefulset"
elastic/beats#26088 adds the `replicas.ready` field to Metricbeat's `state_statefulset` metricset.

It was kindly suggested by @ChrsMark that support should be added here, too.

[2021-06-09 07:26] amolnater-qasource commented on #792
Hi @EricDavisX

We have revalidated this on 7.14.0 Snapshot and found it **fixed**.

**Observation:**
Metrics and Process information is now available in tabular format for "Elastic Agent" integration under "Overview" page.

**Screenshot:**
![3](https://user-images.githubusercontent.com/77374876/121310510-121e2000-c921-11eb-8455-62254e5c798c.JPG)

Thanks
QAS

[2021-06-09 08:18] #666 closed

[2021-06-09 10:42] mtojek commented on #1091
@fearful-symmetry I will try to update it in the elastic/integrations as well.

[2021-06-09 10:42] marc-gr opened #1115 "[discuss] Backporting and testing strategies"
In some situations, we might need to make fixes to packages that have released versions targeting multiple stacks.
Since we do not have a backport strategy for packages, we ended up with the following set of steps in the past:

- Doing the changes to the released packages targeting the older stack versions directly to package storage,
  eg: https://github.com/elastic/package-storage/pull/1273 and

[2021-06-09 10:42] elasticmachine commented on #1115
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-09 10:42] elasticmachine commented on #1115
Pinging @elastic/integrations (Team:Integrations)

[2021-06-09 14:34] #1022 closed

[2021-06-09 19:02] iankoetter commented on #265
@Drew0522 I think issue #75316 was overlooked here potentially. I currently cannot find a way to share a link to a viz created explicitly in lens. This is different from other visualization user experiences with the existing 'share' submenu options.

[2021-06-09 19:05] Drew0522 commented on #265
@iankoetter I think you tagged the wrong Drew :)

[2021-06-09 20:09] #1091 closed

[2021-06-10 09:38] Mpdreamz commented on #800
cc @Anaethelion I know generating go clients has your focus now too.

[2021-06-10 10:01] mtojek commented on #1115
I'm afraid that the process will remain a bit manual, but we can improve it with tooling. Recently we've talked about it with @ruflin.

Let's try to describe steps for pushing a bugfix for an older package.

Initial state:

Package in ver. A: uses Kibana 7.13.0
Package in ver. C: uses Kibana 7.14.0

Goal:

We need to push a bugfix for A and release it as ver. B, which still uses Kibana 7.13.0.

St

[2021-06-10 13:34] leehinman commented on #1115
Another thing that might be nice is a check on semantic versioning.  If the `kibana.version` is a bump in MINOR version number then the package `version` should also be a bump in the MINOR version number.  That way we will have PATCH version numbers available.

## Good
|Package Version|Kibana Version| Date |
|-|-|-|
| 0.6.0 | ^9.1.0 | Jan 01, 2030 |
| 0.7.0 | ^9.2.0 | August 01, 2030 |
| 0.6.1 | ^

[2021-06-14 00:44] rosesj-stack commented on #1022
Hi Team, any update on the PR? Thank you.

[2021-06-14 17:31] leehinman commented on #1022
@kaiyan-sheng do you know if a AWS package release is planned before 7.14 release?

[2021-06-14 21:13] kaiyan-sheng commented on #1022
Yes I'm planning to promote aws to the latest version in two weeks. But please feel free to promote it any time you want! Thanks!

[2021-06-15 09:58] jamiehynds opened #1123 "Auth0"
### Description
Auth0 provides a platform to authenticate, authorize, and secure access for applications, devices, and users.

### Architecture
Auth0 recommends a [webhook integration](https://auth0.com/docs/monitor-auth0/streams/custom-log-streams) for event delivery to an external logging platform. A number of platforms are currently supported by Auth0, including DataDog, Splunk and SumoLogic. W

[2021-06-15 09:58] elasticmachine commented on #1123
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-15 10:10] jamiehynds opened #1124 "SecureAuth"
### Description
SecureAuth is an identity access management security solution that provides passwordless authentication, multi-factor authentication, SSO, & more.

### Architecture
SecureAuth supports syslog as their logging mechanism. Logging to a database is also supported, but presume syslog is preferred. Logging documentation available [here](https://docs.classic.secureauth.com/display/90docs/

[2021-06-15 10:10] elasticmachine commented on #1124
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-15 11:21] jamiehynds opened #1125 "Netskope Security Cloud"
### Description
The Netskope Security Cloud Platform includes the following solutions:
• **CASB** API-enabled protection for managed apps and cloud services (e.g. Office 365, Salesforce, Box, Dropbox), providing cloud policy controls with threat protection and DLP for data-at-rest.
• **Secure Web Gateway** with granular policy controls for protecting cloud services, applications, websites, and dat

[2021-06-15 11:21] elasticmachine commented on #1125
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-15 17:36] leehinman commented on #1022
@rosesj-stack  AWS package version 0.6.1 was pushed to production, this is the version that has support for `file_selectors`.  7.13 is required.

[2021-06-15 19:16] elasticmachine commented on #102
Pinging @elastic/integrations (Team:Integrations)

[2021-06-15 21:28] EricDavisX commented on #102
I will work with Integrations team to see if this is still relevant and needed.

[2021-06-16 08:12] mtojek commented on #102
I don't think we need to enable this at all for Integrations.

Integrations are covered with system tests (assign a policy, collect metrics, check metrics), pipeline tests (verify ingestion), static tests (check completeness of installed resources) and compatibility tests (with older stacks). There are no tests that verify if Fleets boots up properly or whether elastic-agent or fleet-server picks

[2021-06-16 11:11] dikshachauhan-qasource opened #1128 "Integration's Settings page displayed Blank when integration with lower package version is uninstalled."
**Kibana version:** 7.14.0 Snapshot Kibana staging environment

**Host OS and Browser version:** Windows 10, All

**Preconditions:**
1. 7.14.0 Snapshot Kibana staging environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
1. Login to Kibana Cloud environment.
2. Navigate to Integrations tab.
3. Using Below API change the integration package version.
curl -X POST -u el

[2021-06-16 11:12] elasticmachine commented on #1128
Pinging @elastic/integrations (Team:Integrations)

[2021-06-16 11:13] dikshachauhan-qasource commented on #1128
@manishgupta-qasource Please review

[2021-06-16 11:16] manishgupta-qasource commented on #1128
Reviewed & Assigned to @EricDavisX

[2021-06-16 11:41] jamiehynds opened #1129 "BitGlass"
### Description
Bitglass Next-Gen CASB and SmartEdge Secure Web Gateway deliver Zero-Day data & threat protection for any app, device, and network.

### Architecture
There is a REST API available for SIEM integration. Cannot find public docs but will seek clarity from BitGlass.

# Integration release checklist

This checklist is intended for integrations maintainers to ensure consistency
when crea

[2021-06-16 11:41] elasticmachine commented on #1129
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-16 12:29] ruflin commented on #102
I don't think we need e2e tests on PRs or branches for integrations as all the setup with KB / ES is also done in these tests too. I'm good with closing this, lots has changed since we started the discussion on this.

[2021-06-16 13:06] jamiehynds opened #1131 "Microsoft Cloud App Security"
### Description
Microsoft Cloud App Security (MCAS) is a CASB that supports various deployment modes including log collection, API connectors, and reverse proxy. It provides rich visibility, control over data travel, and sophisticated analytics to identify and combat cyberthreats across all your Microsoft and third-party cloud services.

Overview of the solution and CASB's in general available [he

[2021-06-16 13:06] elasticmachine commented on #1131
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-16 13:22] jamiehynds opened #1132 "Palo Alto Prisma Cloud"
### Description
Prisma Cloud is a cloud infrastructure security solution that enables you to address risks and secure your workloads in a heterogeneous environment (hybrid and multicloud) from a single console. It provides complete visibility and control over risks within your public cloud infrastructure—Amazon Web Services (AWS), Microsoft Azure, Google Cloud Platform (GCP), Oracle Cloud Infrastr

[2021-06-16 13:22] elasticmachine commented on #1132
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-16 13:32] jamiehynds opened #1133 "Proofpoint CASB"
### Description
Proofpoint CASB helps organisations secure applications such as Microsoft Office 365, Google G Suite, Box, and more. It provides security admins with people-centric visibility and control over cloud apps. Analytics help you grant the right levels of access to users and third-party add-on apps based on the risk factors applicable to an organisation.

### Architecture
The [Proofpoint

[2021-06-16 13:32] elasticmachine commented on #1133
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-16 13:46] jamiehynds opened #1134 "Zscaler Internet Access"
### Description
Zscaler Internet Access is a secure internet and web gateway delivered as a service from the cloud. Zscaler Internet Access sits between your users and the internet, inspecting every byte of traffic inline across multiple security
techniques, even within SSL. You get full protection from web and internet threats.

### Architecture
The Nanolog Streaming Service (NSS) uses a virtual

[2021-06-16 13:46] elasticmachine commented on #1134
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-16 14:05] #102 closed

[2021-06-16 14:15] ruflin commented on #768
@marc-gr ^ You seem to be working on the windows package. Any comments?

[2021-06-16 20:41] EricDavisX commented on #1128
this should be in Kibana repo

[2021-06-16 20:49] leehinman opened #1135 "Add support for Splunk token authentication"
Add support for Splunk token authentication.

https://docs.splunk.com/Documentation/Splunk/8.2.0/RESTUM/RESTusing

- [ ] Apache (elastic/integrations#1147)
- [ ] Nginx
- [ ] Zeek
- [ ] Cloudtrail
- [ ] Winlog
- [ ] Windows
- [ ] System

[2021-06-16 20:49] elasticmachine commented on #1135
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-17 07:56] dikshachauhan-qasource opened #1137 "Installed successfully message is displayed instead of Package updated successfully message when integration with lower package version is updated."
**Kibana version:** 7.14.0 Snapshot Kibana staging environment

**Host OS and Browser version:** Windows 10, All

**Preconditions:**
1. 7.14.0 Snapshot Kibana staging environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
1. Login to Kibana Cloud environment.
2. Navigate to Integrations tab.
3. Using Below API change the integration package version.
curl -X POST -u el

[2021-06-17 07:57] elasticmachine commented on #1137
Pinging @elastic/integrations (Team:Integrations)

[2021-06-17 07:58] dikshachauhan-qasource commented on #1137
@manishgupta-qasource Please review

[2021-06-17 09:46] jamiehynds opened #1140 "Forcepoint CASB"
### Description
Forcepoint CASB enables organizations to control the sharing of sensitive data and files through granular file-sharing policies. You can allow sharing for specific users or departments, enforce whitelists or blacklists of external users and domains, or block sensitive files from being shared. Data sheet available [here](https://www.forcepoint.com/sites/default/files/resources/datas

[2021-06-17 09:46] elasticmachine commented on #1140
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-17 09:52] jamiehynds opened #1141 "CipherCloud"
### Description
CipherCloud provides powerful end-to-end protection for data resident in the cloud. CipherCloud's CASB delivers comprehensive visibility, data security, threat protection, and compliance for cloud-based assets.

### Architecture
No public documentation available. Seeking information from CipherCloud.

# Integration release checklist

This checklist is intended for integrations main

[2021-06-17 09:52] elasticmachine commented on #1141
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-17 10:20] marc-gr commented on #768
As @andrewkroh mentioned, it seems to be using `@timestamp`, which is extracted from the original winevent, meaning it can be set in the past. I think @andrewkroh suggestion of using `event.ingested` would be the right way to go in this case.

[2021-06-17 10:26] jamiehynds opened #1142 "Trend Micro Cloud One - Workload Security"
### Description
Organizations are rapidly moving their server workloads to the cloud, and even leveraging containers and serverless in their cloud-native application architectures. There are many advantages of hybrid cloud computing, however, it also comes with new risks and threats. Organizations must ensure compliance requirements are met, and unified security across all of their workloads: Phys

[2021-06-17 10:26] elasticmachine commented on #1142
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-17 11:16] jamiehynds opened #1143 "Orca Security"
### Description
Orca's cloud security solution deploys in minutes and identifies vulnerabilities, malware, misconfigurations, lateral movement risk, authentication risk, and insecure high-risk data.

### Architecture
Orca provides an API for SIEM integration and includes a number of integrations out of the box including Azure Sentinel, Splunk and Sumo. An example integration can be viewed here: [O

[2021-06-17 11:22] elasticmachine commented on #1143
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-17 12:46] manishgupta-qasource commented on #1137
Reviewed & Assigned to @EricDavisX

[2021-06-17 14:05] EricDavisX commented on #1137
@kpollich is this another that is impacted by recent feature work?

@dikshachauhan-qasource - when we know it is in a feature area that is changing, please explicitly cite regression from prior build x.y.z so we can know for sure how / when it was working.

Also, @jen-huang did you want Engineering to own updating the meta ticket with any new issues / regressions we find?  I wasn't sure if you wan

[2021-06-17 14:33] kpollich commented on #1137
@EricDavisX I was able to reproduce this locally in Kibana at https://github.com/elastic/kibana/commit/49a355f96ffbed216c986ad61a3acbee8fdc5c4e - prior to any of the top-level integrations (https://github.com/elastic/obs-dc-team/issues/445) feature work landing. This indicates this is not a regression caused by the feature work moving integrations to a separate Kibana application.

See Git history

[2021-06-17 14:48] EricDavisX commented on #1137
Thank you for the research @kpollich!  I will double down on asking the QA / Engg Productivty group to assess regression, we should be able to give that data point.  Now that we have it, we can assess this as a regular bug we hadn't found until now, it isn't automatically in your concern.  WE'll schedule it with Jen and the team.  Cheers

[2021-06-17 14:48] elasticmachine commented on #1137
Pinging @elastic/fleet (Team:Fleet)

[2021-06-17 14:49] EricDavisX commented on #1137
And this should be logged under Kibana, but if we transfer it I suppose we'll lose all of the record keeping and notes. So we can let it sit just for now.

[2021-06-17 18:37] leehinman opened #1146 "Apache integration with Third Party REST API not working"
pipeline doesn't complete.  `error.message` is `field [host.name] already exists`

likely applies to all the Third Party REST API inputs, due to `host.name` being set filebeat.

[2021-06-17 18:37] elasticmachine commented on #1146
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-18 10:55] jamiehynds opened #1148 "Microsoft Defender for Cloud"
### Description
Microsoft Defender for Cloud (formerly Azure Security Center) assesses hybrid IT environments and enables security professionals to understand the status of their resources, and whether they are secure. It aids with threat protection by assessing workloads and raises threat prevention recommendations and security alerts. An overview of Defender for Cloud can be found [here](https:/

[2021-06-18 10:58] elasticmachine commented on #1148
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-18 11:44] jamiehynds opened #1149 "Sophos Central"
### Description
Sophos Central is the unified console for managing Sophos products. It gives admins one place to manage endpoint, mobile, encryption, web, email, server, and wireless security. Products such as Intercept X, Endpoint Protection, Server Security and Email Security are all supported within Sophos Central.

### Architecture
SIEM integration is done via the Sophos API. They [provide a s

[2021-06-18 11:44] elasticmachine commented on #1149
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-18 13:45] jamiehynds opened #1150 "Illumio Core"
### Description
Illumio Core aims to secure any computing platform (bare-metal servers, virtual machines, and containers) in any environment (data center, private cloud, public cloud) without any dependency on the underlying network. It provides live visibility of applications, their components, traffic flows and vulnerabilities across all environments, including private data centers and public an

[2021-06-18 13:45] elasticmachine commented on #1150
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-18 14:30] jamiehynds opened #1151 "Box"
### Description
Box is a secure cloud storage and collaboration service that allows businesses and individuals to easily share files. Each time files are uploaded, accessed, or modified in Box, data is generated. By ingesting Box activity logs, you're able to monitor the authentication activity as well as monitoring data movement to the cloud. Combining this data with other events can lead to the

[2021-06-18 14:30] elasticmachine commented on #1151
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-18 14:42] jamiehynds opened #1152 "Slack"
### Description
Slack is a workplace communication tool, “a single place for messaging, tools and files.”

### Architecture
The Audit Logs API can be used by SIEM tools to provide analysis of how an organisations Slack workspace is being accessed. Worth noting the Audit Logs API is only available to Slack workspaces on Slack Enterprise Grid. These API methods will not work with Free, Standard, or

[2021-06-18 14:42] elasticmachine commented on #1152
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-18 15:35] jamiehynds opened #1154 "Dropbox Business"
### Description
Dropbox Business offers powerful storage, sharing, and collaboration tools.

### Architecture
The Dropbox API can be leveraged for SIEM integration, with the 'team events API' being the most applicable to our use case. There's an interesting blog post [here](https://dropbox.tech/developers/new-team-events-api-available-now) and reference for the team events API [here](https://www.d

[2021-06-18 15:35] elasticmachine commented on #1154
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-18 15:39] jamiehynds opened #1155 "Microsoft OneDrive"
### Description
Microsoft OneDrive is a file hosting service and synchronization service operated by Microsoft as part of M365.

### Architecture
Our existing O365 integration may support ingestion of One Drive events, but will need to validate and possible iterate on ECS mappings for One Drive events.

# Integration release checklist

This checklist is intended for integrations maintainers to ens

[2021-06-18 15:39] elasticmachine commented on #1155
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-21 01:03] rosesj-stack commented on #1022
Thank you @leehinman for the update and for working on this, I will inform the customer that he needs to upgrade to 7.13 in order to use this feature.

[2021-06-21 08:53] jamiehynds opened #1156 "Crowdstrike Falcon Data Replicator"
### Description
Our existing Crowdstrike integration ingests real-time detections/alerts from the Falcon platform via the Streaming API. While ingesting detections into Elastic SIEM is hugely valuable, we see some Crowdstrike customers with a requirement for more granular visibility into endpoint activity and long-term storage of raw event data from endpoints.

Falcon Data Replicator (FDR) provide

[2021-06-21 08:53] jamiehynds commented on #926
Closing in favor of this issue: https://github.com/elastic/integrations/issues/1156

[2021-06-21 08:53] #926 closed

[2021-06-21 08:53] elasticmachine commented on #1156
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-21 10:23] jamiehynds opened #1157 "LastPass"
### Description
LastPass provides secure password storage and centralized admin oversight to reduce the risk of data breaches while removing employee password obstacles. With customizable policies, secure password sharing, and comprehensive user management, LastPass offers the control IT needs and the convenience users expect.

One of the Mitre Att&ck techniques, [T1555.005](https://attack.mitre.o

[2021-06-21 10:23] elasticmachine commented on #1157
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-21 10:48] jamiehynds opened #1158 "Hashicorp Vault"
### Description
HashiCorp Vault is a secrets management tool specifically designed to control access to sensitive credentials in a low-trust environment. It can be used to store sensitive values and at the same time dynamically generate access for specific services/applications on lease.

One of the Mitre Att&ck techniques, [T1555.005](https://attack.mitre.org/techniques/T1555/005/), is "Credentia

[2021-06-21 10:48] elasticmachine commented on #1158
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-21 19:46] andrewkroh commented on #799
PR: #1159

[2021-06-22 08:43] jamiehynds opened #1163 "Adopting Wildcard Fields"
Wildcard is a data type for Elasticsearch string fields introduced in Elasticsearch 7.9. Wildcard optimizes performance for queries using wildcards (*) and regex, allowing users to perform grep-like searches without the limitations of the existing text and keyword types.

ECS is supporting wildcards ([RFC here](https://github.com/ebeahan/ecs/blob/wildcard-rfc-stage-2/rfcs/text/0001-wildcard-data-t

[2021-06-22 08:43] elasticmachine commented on #1163
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-22 08:46] #1110 closed

[2021-06-22 09:05] mtojek commented on #1163
While working on the https://github.com/elastic/package-spec/issues/63 I introduced a simple dependency management to import ECS field definitions (name, type, description) directly from ECS repository. I will try to enable this feature for some packages in elastic/integrations.

For reference: https://github.com/elastic/elastic-package/blob/master/test/packages/nginx/data_stream/access/fields/ecs

[2021-06-22 09:32] jamiehynds opened #1165 "Tigera"
### Description
Tigera, the inventor and maintainer of open source Calico, delivers Calico Cloud, the next-generation cloud service for Kubernetes security and observability. Calico is an open source networking and network security solution for containers, virtual machines, and native host-based workloads. Calico supports a broad range of platforms including Kubernetes, OpenShift, Docker EE, OpenS

[2021-06-22 09:32] elasticmachine commented on #1165
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-22 09:59] jamiehynds opened #1166 "Capsule8"
### Description
Capsule8 is specifically built to protect enterprise Linux systems. Capsule8 provides teams with ops friendly detection, monitoring and response that embeds seamlessly into Linux systems. Capsule8 provides the visibility needed to help teams to detect incidents, and investigate and protect against unwanted behavior, without adding operational risk or cost.

### Architecture
Capsule

[2021-06-22 09:59] elasticmachine commented on #1166
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-22 10:07] jamiehynds opened #1168 "Keeper Security"
### Description
Keeper is a password manager application and digital vault created by Keeper Security that stores website passwords, financial information and other sensitive documents using 256-bit AES encryption, zero-knowledge architecture and two-factor authentication.

### Architecture
Syslog is supported by Keeper Security, documentation [here](https://docs.keeper.io/enterprise-guide/event-r

[2021-06-22 10:24] jamiehynds opened #1169 "VMware Carbon Black"
### Description
VMware Carbon Black Cloud consolidates multiple endpoint security capabilities using one endpoint agent and console, cutting the management headaches and console thrashing required when responding to potential incidents.

Products include [App Control](https://www.carbonblack.com/products/app-control/), [Cloud Workload Protection](https://www.carbonblack.com/products/vmware-carbon-

[2021-06-22 10:24] elasticmachine commented on #1169
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-22 10:50] jamiehynds opened #1170 "SentinelOne"
### Description
Sentinel One is an endpoint security solution based on the idea of of working automatically not just to detect endpoints and their vulnerabilities, but to apply behavioral models, and various modes of protection, detection and response in one solution. Their solutions (including XDR, IoT and Cloud Workload Protection) reside within the [Singularity Platform](https://www.sentinelone

[2021-06-22 10:50] elasticmachine commented on #1170
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-22 12:47] jamiehynds opened #1172 "McAfee MVISION EDR"
### Description
McAfee MVISION Endpoint Detection and Response (MVISION EDR) is a cloud-delivered service that enables security analysts to detect, investigate, and respond to threats. MVISION EDR provides continuous data collection and advanced analytics that helps detect suspicious behavior on an organisations network.

### Architecture
Syslog is support as the logging mechanism. A McAfee SA pub

[2021-06-22 12:47] elasticmachine commented on #1172
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-22 13:08] jamiehynds opened #1173 "Palo Alto Cortex XDR"
### Description
Palo Alto’s Cortex XDR is an extended detection and response platform that monitors and manages cloud, network, and endpoint events and data. Cortex XDR combines features for incident prevention, detection, analysis, and response into a centralized platform.

There are two available versions of Palo Alto’s Cortex XDR security:

**Cortex XDR Prevent**—provides protection for endpoin

[2021-06-22 13:08] elasticmachine commented on #1173
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-22 13:34] jamiehynds opened #1174 "Malwarebytes"
### Description
Malwarebytes Nebula is a cloud-hosted security operations platform that allows anlysts to manage control of any malware or ransomware incident—from alert to fix. All Malwarebytes products are integrated with Nebula to provide a single view, a guided user interface, next generation threat intelligence, brute force attack protection, and integration capabilities.

### Architecture
Sy

[2021-06-22 13:35] elasticmachine commented on #1174
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-22 13:42] jamiehynds opened #1175 "ESET Protect Cloud"
### Description
ESET PROTECT Cloud allows you to manage ESET products on workstations and servers in a networked environment with up to 10,000 devices from one central location. Using the ESET PROTECT Cloud Web Console, you can deploy ESET solutions, manage tasks, enforce security policies, monitor system status and quickly respond to problems or threats on remote computers.

### Architecture
Sysl

[2021-06-22 13:42] elasticmachine commented on #1175
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-23 00:27] elasticmachine commented on #1178
Pinging @elastic/integrations (Team:Integrations)

[2021-06-23 10:05] jamiehynds opened #1184 "Bitdefender GravityZone"
### Description
Bitdefender develops and markets cybersecurity products and services for companies and consumers including endpoint protection (with hardening and risk analytics capabilities), EDR, multi-cloud security, and managed detection and response, antivirus software, IoT security, VPN and privacy services. Bitdefender products are built on the Bitdefender GravityZone cloud platform.

### A

[2021-06-23 10:06] elasticmachine commented on #1184
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-23 11:10] jamiehynds opened #1186 "Trend Micro Apex One"
### Description
Apex One (formerly OfficeScan) provides a blend of advanced threat protection techniques delivered through a single-agent architecture to eliminate security gaps across any user activity and any endpoint.
• Automated detection and response against a variety of threats, including fileless and ransomware.
• Centralized visibility and control, with integration into endpoint detection

[2021-06-23 11:10] elasticmachine commented on #1186
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-23 11:19] jamiehynds opened #1187 "Check Point Harmony"
### Description
Harmony provides automated remediation of detected threats and protection and detection capabilities including machine learning, behavioral analysis and automated sandbox analysis.

### Architecture
Similar to our existing Check Point firewall integration, syslog is supported via the [Check Point Log Exporter](https://supportcenter.checkpoint.com/supportcenter/portal?eventSubmit_do

[2021-06-23 11:19] elasticmachine commented on #1187
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-23 11:35] jamiehynds opened #1188 "FireEye Endpoint Security"
### Description
To prevent common malware, Endpoint Security uses a signature-based endpoint protection platform (EPP) engine. To find threats for which a signature does not yet exist, MalwareGuard uses machine learning seeded with knowledge from the frontlines of cyber attacks. For attacks on exploits in common software and browsers, ExploitGuard uses a behavioral analysis
engine that determines

[2021-06-23 11:35] elasticmachine commented on #1188
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-23 11:42] jamiehynds opened #1189 "Fortinet FortiClient"
### Description
FortiClient is a Fabric Agent that that delivers protection, compliance, and secure access in a single, modular lightweight client. A Fabric Agent is a bit of endpoint software that runs on an endpoint, such as a laptop or mobile device, that communicates with the Fortinet Security Fabric to provide information, visibility, and control to that device. It also enables secure, remote

[2021-06-23 11:42] elasticmachine commented on #1189
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-23 11:49] jamiehynds opened #1190 "Fortinet FortiEDR"
### Description
FortiEDR delivers advanced, real-time threat intelligence, visibility, analysis, management, and protection for endpoints both pre- and post-infection. It proactively reduces the attack surface, prevents malware infection, detects and defuses potential threats in real time, and can automate response and remediation procedures with customizable playbooks. FortiEDR helps organization

[2021-06-23 12:39] #1163 closed

[2021-06-23 13:29] jamiehynds opened #1192 "Cybereason"
### Description
Cybereason EDR is a full-featured EDR solution designed to catch, analyze, and defend against highly advanced network threats in real-time directly at the endpoint. Cybereason allows organizations to correlate data across machines and generate contextualized alerts to monitor threats as they’re discovered at any point in the attack chain.

### Architecture
An API is available, but

[2021-06-23 13:29] elasticmachine commented on #1192
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-23 13:37] jamiehynds opened #1193 "Kaspersky Security Center"
### Description
Kaspersky Security Center is a single administration console for controlling all Kaspersky Lab security solutions and system administration tools.

### Architecture
Syslog (RFC5424) is supported - relevant documentation [here](https://support.kaspersky.com/KSC/SP3/en-US/151324.htm).

# Integration release checklist

This checklist is intended for integrations maintainers to ensure

[2021-06-23 13:37] elasticmachine commented on #1193
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-23 13:41] jamiehynds opened #1194 "Symantec Endpoint Protection"
### Description
Symantec Endpoint Protection is a security software suite that includes intrusion prevention, firewall, and anti-malware features. Endpoint Protection also has some features typical of data loss prevention software. It is typically installed on a server running Windows, Linux, or macOS.

### Architecture
Exporting to syslog or a log file are supported - documentation available [her

[2021-06-23 13:41] elasticmachine commented on #1194
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-23 13:53] jamiehynds opened #1195 "Mimecast Email Security Gateway"
### Description
Mimecast Email Security with Targeted Threat Protection is a set of cloud services designed to provide next generation protection against advanced email-borne threats such as malicious URLs, malware, impersonation attacks, as well as internally generated threats.

### Architecture
An API is available to download Mimecast events to a file or forward via syslog. Documentation availab

[2021-06-23 13:53] elasticmachine commented on #1195
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-23 14:49] jamiehynds opened #1196 "Proofpoint On Demand"
### Description
Proofpoint Email Protection helps you secure and control inbound and outbound email through an easy-to-use cloud-based solution. On Demand is their SaaS offering, and is based upon their Messaging Security Gateway appliances.

### Architecture
Proofpoint On Demand API can be used for SIEM integration. Integration guide available [here](https://help.proofpoint.com/Threat_Insight_Das

[2021-06-23 14:49] elasticmachine commented on #1196
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-23 15:33] jamiehynds opened #1197 "Barracuda Email Security Service"
### Description
The Barracuda Email Security Service, is a cloud-based email security service that protects both inbound and outbound email against the latest spam, viruses, worms, phishing, and denial of service attacks.

### Architecture
Syslog is supported, using JSON as the format. Documentation available [here](https://campus.barracuda.com/product/essentials/doc/85494328/syslog-integration/).

[2021-06-23 15:33] elasticmachine commented on #1197
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-23 15:41] jamiehynds opened #1198 "Fortinet Fortimail"
### Description
FortiMail delivers advanced multi-layered protection against the full spectrum of email-borne threats. Powered by FortiGuard Labs threat intelligence and integrated into the Fortinet Security Fabric, FortiMail helps your organization prevent, detect, and respond to email-based threats including spam, phishing, malware, zero-day threats, impersonation, and Business Email Compromise

[2021-06-23 15:41] elasticmachine commented on #1198
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-23 15:51] jamiehynds opened #1199 "Cisco Secure Email"
### Description
The Cisco Email Security Appliance is an email security gateway product. It is designed to detect and block a wide variety of email-borne threats, such as malware, spam, and phishing attempts. Because so many of today's attacks occur through email messages, having an email security gateway has become a necessity for most organizations.

### Architecture
Syslog is supported - releva

[2021-06-23 15:51] elasticmachine commented on #1199
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-23 15:54] jamiehynds opened #1200 "Microsoft Office 365 Message Trace"
### Description
Message trace in the Security & Compliance Center follows email messages as they travel through your Exchange Online organization. You can determine if a message was received, rejected, deferred, or delivered by the service. It also shows what actions were taken on the message before it reached its final status.

You can use the information from message trace to efficiently answer

[2021-06-23 15:54] elasticmachine commented on #1200
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-23 16:02] elasticmachine commented on #244
Pinging @elastic/agent (Team:Agent)

[2021-06-24 10:33] jamiehynds opened #1203 "Watchguard Firebox"
### Description
Watchguard Firebox is a powerful network security device that controls all traffic between the external network and the trusted network. ... You can use Fireware Web UI to safely manage network security settings from different locations at any time. Watchguard Firebox are widely adopted in the Small-to-Medium Business sector looking for a complete firewall solution that is easy to

[2021-06-24 10:33] elasticmachine commented on #1203
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-24 10:39] jamiehynds opened #1204 "AWS Network Firewall"
### Description
AWS Network Firewall is a managed service that makes it easy to deploy essential network protections for all of your Amazon Virtual Private Clouds (VPCs). AWS Network Firewall’s flexible rules engine lets you define firewall rules that give you fine-grained control over network traffic, such as blocking outbound Server Message Block (SMB) requests to prevent the spread of malicious

[2021-06-24 10:40] elasticmachine commented on #1204
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-24 11:00] jamiehynds opened #1205 "Azure Firewall"
### Description
Azure Firewall is a managed, cloud-based network security service that protects Azure Virtual Network resources. It's a fully stateful firewall as a service with built-in high availability and unrestricted cloud scalability. You can centrally create, enforce, and log application and network connectivity policies across subscriptions and virtual networks. Azure Firewall uses a stati

[2021-06-24 11:00] elasticmachine commented on #1205
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-24 11:05] jamiehynds opened #1206 "pfSense"
### Description
pfSense is a free, open source customized distribution of FreeBSD specifically tailored for use as a firewall and router that is entirely managed via web interface. In addition to being a powerful, flexible firewalling and routing platform, it includes a long list of related features and a package system allowing further expandability without adding bloat and potential security vul

[2021-06-24 11:06] elasticmachine commented on #1206
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-24 11:11] jamiehynds opened #1207 "Sonicwall"
### Description
Sonicwall offers multiple firewall product lines, branded as TZ Series, NSA Series, SuperMassive Series, and NS Series, all of which run on SonicOS.

Worth noting this new integration will replace our existing experimental Sonicwall integration.

### Architecture
Syslog is supported - relevant documentation [here.](https://www.sonicwall.com/support/knowledge-base/how-can-i-configur

[2021-06-24 11:11] elasticmachine commented on #1207
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-24 12:37] jamiehynds opened #1208 "Forcepoint Web Security Cloud"
### Description
Forcepoint Web Security Cloud is a web protection solution that provides fine-tuned control over users' web access, while providing comprehensive protection against web threats such as viruses, malware, data loss, and phishing attacks.

### Architecture
API seems to be available - confirming with Forcepoint.

# Integration release checklist

This checklist is intended for integrati

[2021-06-24 12:37] elasticmachine commented on #1208
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-28 08:23] #1017 closed

[2021-06-28 15:03] ChrsMark opened #1227 "Add state_job data_stream for kubernetes package"
We should tune k8s package accordingly so as to add `state_job` data_stream, which was introduced in Beats with https://github.com/elastic/beats/pull/26479.

[2021-06-28 18:24] #1146 closed

[2021-06-29 09:56] jamiehynds opened #1232 "1Password"
### Description
A password manager, digital vault, form filler and secure digital wallet. 1Password remembers all your passwords for you to help keep account information safe.

### Architecture
1Password provide a command line tool to configure export of events from the Activity Logs in JSON format. Relevant documentation [here](https://blog.1password.com/using-splunk-with-1password-business/).

#

[2021-06-29 09:56] elasticmachine commented on #1232
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-29 10:57] jamiehynds opened #1235 "Cylance Protect"
### Description
Acquired by BlackBerry, Cylance is an AI-driven endpoint detection and response (EDR) platform that allows companies to intelligently strengthen, automate, and streamline their overall endpoint security efforts 24/7/365. Able to catch and mitigate highly advanced security threats as they emerge in real-time, Cylance’s EDR capabilities allow security teams to keep critical company a

[2021-06-29 10:57] elasticmachine commented on #1235
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-29 10:58] legoguy1000 commented on #1206
@jamiehynds What kind of logs is this integration intended to parse? just the firewall events or everything as PFsense can send practically all its logs to syslog including its Suricata logs (if you have it).

[2021-06-29 11:09] jamiehynds commented on #1206
Good question @legoguy1000. Firewall events are certainly the priority, OpenVPN may be worth capturing also. Will check to see if our existing Suricata module will suffice for Surricata logs via pfsense.

[2021-06-29 11:33] legoguy1000 commented on #1206
The only issue I had with sending the suricate logs via syslog is that the json was so long, syslog was cutting it off so I just started sending it to Kafka instead and ingesting it separately. I have an ingest pipeline for my pfsense firewall for the firewall logs, wouldn't be hard to update it for other types.

[2021-06-29 12:14] jamiehynds opened #1239 "McAfee Web Gateway"
### Description
McAfee Web Gateway is a high-performance secure web gateway with best-in-​class threat protection in one unified appliance software architecture. For user-initiated web requests, McAfee Web Gateway first enforces an organization’s internet use policy. For all allowed traffic, it then uses local and global techniques to analyze the nature and intent of all content and active code en

[2021-06-29 12:14] elasticmachine commented on #1239
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-29 12:16] elasticmachine commented on #1190
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-06-29 15:44] #799 closed

[2021-06-30 14:50] ajosh0504 opened #1280 "Package containing transforms and not relying on data streams"
The package-spec [documentation](https://github.com/elastic/package-spec) mentions that Transforms are supported in a Fleet package. The documentation also [mentions](https://github.com/elastic/package-spec#asset-organisation) that Elasticsearch assets can exist at the root level in a package, instead of residing strictly under the `data_stream` folder. However, it is unclear if this is actually s

[2021-06-30 14:50] elasticmachine commented on #1280
Pinging @elastic/integrations (Team:Integrations)

[2021-07-01 07:13] mtojek commented on #1280
Let me pass this question to @ruflin .

[2021-07-01 16:42] #961 closed

[2021-07-01 19:29] hemantmalik opened #1285 "Azure Spring Cloud Observability with Elastic"
### **Description**
Azure Spring Cloud service is a managed, cloud-based service for Spring Boot developers. It's a service built and operated in partnership between Microsoft and VMWare. It is a cornerstone service in Java on Azure story. In efforts to continuously improve Elastic Observability turn-key experience for Azure Services - there is mutual interest in developing and promoting this inte

[2021-07-05 09:15] masci commented on #818
Closing as module was merged and backported

[2021-07-06 09:36] #934 closed

[2021-07-06 13:46] masci commented on #365
PR: https://github.com/elastic/integrations/pull/1145

[2021-07-06 21:56] rw-access commented on #1280
Should this be transferred to `package-spec`?
Also, I'm glad to help or drive the implementation if @ruflin is okay with it. Since it's more important to Security folks than it is to Fleet, so I'm expecting that we would end up doing most of the work, but with Fleet approval on PRs and such.

[2021-07-07 07:22] mtojek commented on #1280
Yes, that's probably what will execution look like.

Do you think you can prepare a package draft which contains just transforms?

@ajosh0504 Could you please quote the sentence in the mentioned README? I couldn't find this paragraph (if it's there it's wrong). If you want to check what's allowed in the package (which files and where), please review this directory: https://github.com/elastic/packa

[2021-07-07 08:48] ruflin commented on #1280
Before we get started on the implementation of this I would like to understand a bit better the use case. What is this custom index pattern? Why is the data in this custom index pattern? Even though I agree on the top level we can support just any assets I would like to make sure that we use assets related to the data stream naming scheme whereever we can as it will keep assets more under control

[2021-07-07 10:13] dikshachauhan-qasource opened #1296 "Linux package data streams from system metrics settings are not generated properly."
**Kibana version:** 7.14 BC1 Kibana Cloud-QA environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC1 Kibana Cloud-QA environment should be available.

**Build Details:**
[code]
2. **Add Linux integration with default settings to any policy**.

**Steps to reproduce:**
	- Login to Kibana.
	- Install a Linux Agent using above policy.
	- After for few min

[2021-07-07 10:26] amolnater-qasource opened #1293 "[Integrations][Fleet]: On clicking AWS dynamodb user is navigated to AWS overview page."
**Kibana version:** 7.14.0 BC-1 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 BC-1 Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Integrations tab.
3. Search AWS Dynamodb and click on it.
4. Observe user is navigated to Aws overview page.

**Referenc

[2021-07-07 10:27] elasticmachine commented on #1293
Pinging @elastic/integrations (Team:Integrations)

[2021-07-07 10:27] elasticmachine commented on #1293
Pinging @elastic/fleet (Team:Fleet)

[2021-07-07 10:28] manishgupta-qasource commented on #1293
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-07 11:28] amolnater-qasource opened #1294 "[Question]: AWS Dynamodb data not generating under Data Streams tab."
**Description:**
We added AWS dynamodb integration to default policy, however we are not able to see any data related to same under Data Streams tab.
Do we need any AWS setup/credentials to get AWS Dynamodb data?
Please let us know if are missing anything.

**Reference Ticket:**
https://github.com/elastic/kibana/issues/93315

**Build details 7.14.0 Snapshot:**
[code]

**Screenshots:**
![Aws Data](

[2021-07-07 11:28] elasticmachine commented on #1294
Pinging @elastic/fleet (Team:Fleet)

[2021-07-07 11:28] elasticmachine commented on #1294
Pinging @elastic/integrations (Team:Integrations)

[2021-07-07 11:28] amolnater-qasource commented on #1294
@manishgupta-qasource Please review.

[2021-07-07 11:33] manishgupta-qasource commented on #1294
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-07 11:48] mtojek opened #1295 "Write system tests for AWS integration"
We might need to increase system test coverage for the AWS integration to prevent potential issues like https://github.com/elastic/integrations/issues/1294 .

cc @kaiyan-sheng

[2021-07-07 11:48] elasticmachine commented on #1295
Pinging @elastic/integrations (Team:Integrations)

[2021-07-07 13:06] ajosh0504 commented on #1280
@mtojek : Under [Asset organization](https://github.com/elastic/package-spec#asset-organisation) -> Supported assets:

Elasticsearch
Ingest Pipeline
Index Template
Transform
Index template settings

Under Asset organization:

[2021-07-07 13:13] mtojek commented on #1280
@ruflin It seems that you introduce this part in https://github.com/elastic/package-spec/pull/170 . Do you think we should correct this paragraph? I agree with Apoorva that it introduces confusion. Spec doesn't allow for any Elasticsearch/Kibana definition that aren't bound to data streams.

[2021-07-07 13:17] ajosh0504 commented on #1280
@ruflin As I mentioned, our application has two transforms. One of them works on an index consisting of alerts coming from detection rules, which are directed to hidden indices which look like `.siem-security-default-000001`, `.siem-security-default-000002` and so on. However, the index pattern corresponding to these indices i.e. `.siem-security-default-*` is not automatically created. We also hav

[2021-07-07 14:06] kaiyan-sheng commented on #1293
This is the same behavior I see in https://github.com/elastic/kibana/issues/104241

[2021-07-07 14:23] ruflin commented on #1280
@mtojek Yes, we should update this paragraph :-(
@ajosh0504 Do these indices have an alias in front? Is this the RAC indexing strategy? Do you expect these dashboards to be part of the packages?

I think we are jumping currently to conclusions on how to do it too quickly and should take a step back and ask how it "should" work. Happy to jump on a zoom call to discuss in more detail.

[2021-07-07 14:31] ajosh0504 commented on #1280
@ruflin Not sure what you mean by "alias in front" or what the RAC indexing strategy is, but yes the dashboards need to be a part of the package. And I'm down to jump on a quick Zoom to show you what I'm looking for as well.

[2021-07-07 14:33] jen-huang commented on #1293
Closing as dupe of elastic/kibana#104241.

[2021-07-07 14:33] #1293 closed

[2021-07-07 14:34] ruflin commented on #1280
I'm referring to https://github.com/elastic/kibana/pull/102586 Is there an issue with the overall effort you are working on? If private link, feel free to share it with me on Slack.

[2021-07-07 14:36] ajosh0504 commented on #1280
@ruflin Yep, sent it to you via Slack but also linking it here for anyone else who would like to refer to it at any point: https://github.com/elastic/security-team/issues/1199

[2021-07-07 14:43] jen-huang commented on #1294
Yes, @kaiyan-sheng, can you provide guidance on getting AWS data?

[2021-07-07 15:38] elasticmachine commented on #1296
Pinging @elastic/integrations (Team:Integrations)

[2021-07-07 16:29] fearful-symmetry commented on #1296
@dikshachauhan-qasource can you get me logs from the agent on the host? Also, can you give me the exact releases of ubuntu and centos you're using here?

[2021-07-07 18:04] sayden commented on #909
PR with an `index` metricset with (some) of the metrics required https://github.com/elastic/beats/pull/26770

[2021-07-07 19:55] #671 closed

[2021-07-08 07:51] dikshachauhan-qasource opened #1300 "No error message shows up while adding invalid URL at Elastic synthesis integration."
**Kibana version:** 7.14 BC1 Kibana Cloud-QA environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC1 Kibana Cloud-QA environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Integrations tab.
	- Select Elastic synthesis integration and click on add button.
	- Provide any invalid value at U

[2021-07-08 07:51] elasticmachine commented on #1300
Pinging @elastic/integrations (Team:Integrations)

[2021-07-08 07:52] dikshachauhan-qasource commented on #1300
@manishgupta-qasource Please review

[2021-07-08 08:25] aspacca opened #1301 "mage importBeats error: panic: runtime error: index out of range [0] with length 0"
I've followed the instruction at https://github.com/elastic/integrations/blob/master/docs/import_from_beats.md

Not sure if the error is related to current failing build status
[code]

[2021-07-08 08:27] aspacca commented on #1301
I can see that googlecloude module has no fileset folder

[code]

[2021-07-08 08:32] manishgupta-qasource commented on #1300
Reviewed & Assigned to @jen-huang

CC: @EricDavisX

[2021-07-08 08:32] aspacca commented on #1301
After adding a dummy fileset directory and a `ingest` one I'm able to continue through the process till another error
[code]

[2021-07-08 09:17] dikshachauhan-qasource commented on #1296
Hi @fearful-symmetry

Please find the required details below:

- Ubuntu Version:

[code]

- Centos Version:
[code]

Further logs from host are:
- [centos10-0-7-186.log](https://github.com/elastic/integrations/files/6783080/centos10-0-7-186.log)
- [Ubuntu16.log](https://github.com/elastic/integrations/files/6783076/Ubuntu16.log)

Further, we have reattempted to on latest 7.14 bc1 build on cloud-qa

[2021-07-08 10:03] jamiehynds opened #1302 "Barracuda WAF"
### Description
Barracuda Web Application Firewall protects applications, APIs, and mobile app backends against a variety of attacks including the OWASP Top 10, zero-day threats, data leakage, and application-layer denial of service (DoS) attacks. By combining signature-based policies and positive security with robust anomaly-detection capabilities, Barracuda Web Application Firewall can defeat to

[2021-07-08 10:04] elasticmachine commented on #1302
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-07-08 10:08] sorantis opened #1303 "Move the AWS package to GA"
The purpose of this issue is to compile a list of changes/fixes we need to add to the AWS package in order to move it to GA.

# Integration release checklist

This checklist is intended for integrations maintainers to ensure consistency
when creating or updating a Package, Module or Dataset for an Integration.

### All changes

- [ ] Change follows the [contributing guidelines](https://github.com/

[2021-07-08 10:08] elasticmachine commented on #1303
Pinging @elastic/integrations (Team:Integrations)

[2021-07-08 10:44] jamiehynds opened #1304 "Akamai"
### Description
Akamai is the leading content delivery network (CDN) services provider for media and software delivery, and cloud security solutions. Their security offerings include Kona Site Defender, Client Reputation, Web Application, and Bot Manager.

### Architecture
Customers running any of the products listed above, events can be exported to a SIEM via the [Akamai SIEM API](https://develop

[2021-07-08 10:44] elasticmachine commented on #1304
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-07-08 10:56] jamiehynds opened #1305 "Cloudflare"
### Description
At the core, Cloudflare is a Content Delivery Network (CDN) composed of hundreds of data centers located in more than 100 countries. Cloudflare has grown to handle five to ten percent of the global internet traffic, making Cloudflare one of the largest CDNs in the world.

Since all traffic to your website first passes through the Cloudflare network, malicious traffic such as DDoS a

[2021-07-08 10:57] elasticmachine commented on #1305
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-07-08 11:07] jamiehynds opened #1306 "Azure WAF"
### Description
Azure Web Application Firewall (WAF) provides centralized protection of your web applications from common exploits and vulnerabilities. Web applications are increasingly targeted by malicious attacks that exploit commonly known vulnerabilities. SQL injection and cross-site scripting are among the most common attacks.

### Architecture
Event Hubs are the most common way of integrati

[2021-07-08 11:07] elasticmachine commented on #1306
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-07-08 11:20] jamiehynds opened #1307 "Radware Appwall"
### Description
AppWall - Radware’s Web Application Firewall (WAF), ensures fast, reliable and secure delivery of mission-critical Web applications and APIs for corporate networks and in the cloud. AppWall combines positive and negative security models to provide complete protection against web application attacks, access violations, attacks disguised behind CDNs, API manipulations, advanced HTTP

[2021-07-08 11:20] elasticmachine commented on #1307
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-07-08 11:25] #601 closed

[2021-07-08 12:26] legoguy1000 commented on #1305
@jamiehynds now that u guys have the cloudflare instance, can u send me a variety of sample logs of the 3 different types; firewall, http, spectrum??

[2021-07-08 12:59] andrewkroh commented on #1115
Regarding the steps involved here's what I am thinking. The main change from what @mtojek proposed is to introduce tags.

1. Find the git tag that corresponds to the version that needs fix (okta-1.0.0).
2. Create a release branch to make the fix (release/okta-1.0.1).
3. Merge the a PR to the release branch.
4. Create a new git tag for the new release (okta-1.0.1).
5. Delete the release branch.

Th

[2021-07-08 13:27] P1llus commented on #1305
@legoguy1000 I will send you some samples outside of github, no worries! :)

[2021-07-08 13:30] jamiehynds opened #1308 "Citrix Web App Firewall"
### Description
The Citrix Web App Firewall prevents security breaches, data loss, and possible unauthorized modifications to websites that access sensitive business or customer information. It does so by filtering both requests and responses, examining them for evidence of malicious activity, and blocking requests that exhibit such activity. Your site is protected not only from common types of at

[2021-07-08 13:30] elasticmachine commented on #1308
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-07-08 13:38] jamiehynds opened #1309 "Fortinet FortiWeb"
### Description
FortiWeb is a web application firewall (WAF) that protects web applications and APIs from attacks that target known and
unknown exploits and helps maintain compliance with regulations. Using machine learning to model each application, FortiWeb defends applications from known vulnerabilities and from zero-day threats.

### Architecture
Syslog is supported, relevant documentation [he

[2021-07-08 13:38] elasticmachine commented on #1309
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-07-08 13:43] jamiehynds opened #1310 "F5 ASM"
### Description
F5 BIG-IP Application Security Manager (ASM) is a flexible web application firewall that secures web applications in traditional, virtual, and private cloud environments. BIG-IP ASM helps secure applications against unknown vulnerabilities, and enables compliance for key regulatory mandates.

### Architecture
Syslog is supported, in a variety of formats - relevant documentation [he

[2021-07-08 13:44] elasticmachine commented on #1310
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-07-08 13:44] jamiehynds commented on #976
Closing in favor of this issue: https://github.com/elastic/integrations/issues/1310

[2021-07-08 13:44] #976 closed

[2021-07-08 14:13] elasticmachine commented on #1300
Pinging @elastic/uptime (Team:Uptime)

[2021-07-08 14:14] jen-huang commented on #1300
@elastic/uptime / @dominiqueclarke Is there expected to be this kind of validation in the Synthetics configuration UI?

[2021-07-08 14:59] ChrsMark opened #1311 "[Kubernetes] Tune package's data_streams to leverage leaderelection by default"
Currently the package does not leverage the leaderelection functionality. This means that in a mutlinode k8s cluster, cluster-wide data_streams like state_* should be applied on all of the Daemonset Agent Pods. We can tackle this by adding an extra setting `leaderelection: true` to the data_streams so as to indicate that that these specific data_streams should be enabled only when leadership lock

[2021-07-08 17:23] mtojek commented on #1301
Let me know if you need some assist with the script. We used it for the initial migration of modules one year ago. Definitely it isn't ideal, but helps with most of migration tasks. Frankly speaking it should be deprecated (and removed) few months ago, but the migration is not finished yet.

[2021-07-08 17:25] fearful-symmetry commented on #1296
Okay, I can't seem to reproduce this. Also, these look like the wrong logs. Metricbeat writes to its own logs, which will be in a subdirectory, usually called `data` or something, under the directory where the agent logs are.

[2021-07-08 21:05] kaiyan-sheng commented on #1294
I created a 7.14 cloud instance and added AWS Dynamodb integration. I was able to see data under data streams:
<img width="1261" alt="Screen Shot 2021-07-08 at 3 01 30 PM" src="https://user-images.githubusercontent.com/14081635/124990562-1ef27880-e073-11eb-9152-0f8efc00df30.png">

Here is the agent policy I used:
[code]

[2021-07-09 02:32] jen-huang commented on #1294
@kaiyan-sheng Just to confirm, this doesn't need a real set of AWS credentials?

[2021-07-09 08:04] amolnater-qasource commented on #1294
Hi @jen-huang
We have re-attempted to use aws-dynamodb on 7.14.0 Snapshot.
Observations:
- Agent went Unhealthy.
- Observed below errors on Logs tab:

![1](https://user-images.githubusercontent.com/77374876/125031885-cfc83a00-e0aa-11eb-8e46-df66e9538a86.JPG)

**Build details:**
[code]

Thanks
QAS

[2021-07-09 08:35] aspacca commented on #1301
No problem, I didn't know it was deprecated and to be removed.
I found in the instruction to open an issue if it did't work. I will close then.

[2021-07-09 08:38] mtojek commented on #1301
No no, it isn't deprecated yet (just should be if we manage to migrate all modules). Let's keep it open :)

[2021-07-09 09:53] amolnater-qasource opened #1315 "[Fleet]: Custom logs integration accepts invalid path in Log file path field."
**Kibana version:** 7.14.0 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.14.0 Snapshot Kibana cloud environment should be available.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Integrations tab>Custom Logs integration> Add Custom Logs.
3. Add Log file path as character 'a' or any.
4. Clic

[2021-07-09 09:53] elasticmachine commented on #1315
Pinging @elastic/fleet (Team:Fleet)

[2021-07-09 09:53] amolnater-qasource commented on #1315
@manishgupta-qasource Please review.

[2021-07-09 10:01] paulb-elastic commented on #1300
Thanks @dikshachauhan-qasource and @jen-huang for raising/questioning this, it’s an interesting point.

I guess a challenge here may be what is a valid URL, as monitors could be set up to point to something locally via just the hostname (e.g. `intranet` could be a valid host/URL to connect to and monitor with Synthetics (that would work in a browser on their network), although would fail tradition

[2021-07-09 10:06] manishgupta-qasource commented on #1315
Reviewed & Assigned to @jen-huang

CC: @EricDavisX

[2021-07-09 11:50] amolnater-qasource commented on #1296
Hi @fearful-symmetry
We are able to reproduce this issue on 7.14.0 Snapshot Kibana cloud-qa environment.

OS: Ubuntu 20

**Build details:**
[code]

**Logs:**
[logs.zip](https://github.com/elastic/integrations/files/6791081/logs.zip)

Thanks
QAS

[2021-07-09 13:53] MichaelKatsoulis commented on #1311
Sounds good. I can take that one over!

[2021-07-09 14:49] kaiyan-sheng commented on #1294
@jen-huang @amolnater-qasource Sorry for the confusion. Real AWS credentials are required to collect metrics from any AWS services here. The error message from elastic-agent also is complaining about credentials are not valid.

Do you have an AWS environment/account to use for testing purposes?

[2021-07-09 14:50] jen-huang commented on #1315
This is expected behavior. We don't do this level of validation yet. Closing.

[2021-07-09 14:50] #1315 closed

[2021-07-09 16:28] fearful-symmetry commented on #1296
Alright, found the issue. Helps if I actually test the right version. Fix incoming.

[2021-07-09 17:06] fearful-symmetry commented on #1296
Okay, nevermind, I actually don't get this. @andrewkroh you might be able to understand this. This is the error QA is seeing:
[code]

However, this is the config in the agent:
[code]

I'm honestly not sure what's going on here, and I still can't seem to reproduce it.

[2021-07-09 17:48] fearful-symmetry commented on #1296
Okay, so, I'm testing this on 7.14 snapshot, and it seems to be behaving in a way that's different. Instead, the event is being ingested, but `event.module` is set to `system`, apparently overriding the config I posted above.

[2021-07-09 17:57] andrewkroh commented on #1296
It sounds like Metricbeat is setting `event.module: system` and that conflicts with the `value: linux` in the mapping. If that's true then I'd recommend adding a simple ingest node pipeline to the data stream to drop `event.module` from the document before it gets indexed.

[2021-07-09 18:43] fearful-symmetry commented on #1296
Yep, finally managed to (properly) reproduce that and figure it out.

[2021-07-09 20:55] fearful-symmetry commented on #1296
Alright, so, it works with a processor. Will need to fix this in a few places, as it's ultimately an issue with how metricbeat is organized on the backend, which is something I'm working to fix.

[2021-07-09 23:20] fearful-symmetry commented on #1296
Alright, there we go. Fix here: https://github.com/elastic/integrations/pull/1317

[2021-07-12 07:03] amolnater-qasource commented on #1294
Hi @kaiyan-sheng
Thanks for the feedback.

We don't have any AWS environment. Though we access to AWS-dev with our elastic gmail accounts.
Please let us know which credentials are required to be used in AWS integration for testing purposes.

Thanks
QAS

[2021-07-12 07:25] dikshachauhan-qasource commented on #1296
Hi @fearful-symmetry

Thanks for taking some time to review and fixing this out. As merges are not available now, so we will retest it once build is available.

Thanks
QAS

[2021-07-12 08:03] amolnater-qasource commented on #1315
Hi
Thanks for the confirming the expected behaviour @jen-huang.

[2021-07-12 08:10] #1050 closed

[2021-07-12 14:27] kaiyan-sheng commented on #1294
Hi @amolnater-qasource I just pinged you privately, let's try to get an AWS test account set up for you.

[2021-07-12 19:21] elasticmachine commented on #993
Pinging @elastic/fleet (Team:Fleet)

[2021-07-12 20:32] #738 closed

[2021-07-13 08:57] amolnater-qasource commented on #1294
Hi @kaiyan-sheng
Thanks for the feedback.
@EricDavisX  we don't have permissions to create IAM user, could you please look into this.
We need this info to validate AWS Dynamodb data sets under Data Streams tab.

Thanks
QAS

[2021-07-13 13:18] #1311 closed

[2021-07-13 16:07] elasticmachine commented on #1285
Pinging @elastic/integrations (Team:Platforms)

[2021-07-13 19:47] jen-huang opened #1322 "Prometheus README contains invalid code block language"
Related to https://github.com/elastic/kibana/pull/105498 and https://github.com/elastic/kibana/issues/101168. Prometheus README file has `$yml` set for some code blocks, which is invalid and causes Kibana to throw an error (there is an ER for better error handling in https://github.com/elastic/eui/issues/4849).

`$yml` should be replaced with `yml`.

[2021-07-13 20:08] EricDavisX commented on #1296
it is in linux 0.4.1 version.  it will need to go through the promotion cycles, etc.  and we are possibly seeing quirks with the initial add of Integrations to snapshot from Integration repo.

[2021-07-13 20:40] EricDavisX commented on #1294
Let's review and discuss testing options offline tomorrow.

[2021-07-14 08:28] #1322 closed

[2021-07-14 08:34] mtojek commented on #1322
I will handle the production release.

[2021-07-14 16:02] EricDavisX commented on #1296
@dikshachauhan-qasource please use latest 7.14 snapshot code on cloud-staging to test this out, the fix should be visible in the new package there.  Thanks.

[2021-07-14 16:16] fearful-symmetry commented on #1296
Oh, my bad! Once again forgot to do the promotion. PR here: https://github.com/elastic/package-storage/pull/1607

[2021-07-14 19:46] EricDavisX commented on #1296
I published them, thanks Alex.

[2021-07-15 07:01] dikshachauhan-qasource commented on #1296
Hi @EricDavisX

cc @fearful-symmetry we have validated it on latest 7.14 snapshot build on cloud-staging and found it fixed now.

Build details:

[code]

- Now all the metrics for linux integration are getting generated on data streams tab.

**Screenshot:**
![image](https://user-images.githubusercontent.com/72375798/125743522-80dc5949-cbaa-48bb-b076-dd0a1144ef00.png)

Hence, we closing this out.

[2021-07-15 07:01] #1296 closed

[2021-07-15 08:42] ruflin commented on #953
Started a PR to get this fixed here: https://github.com/elastic/integrations/pull/1298

[2021-07-16 05:58] amolnater-qasource commented on #1294
Hi @EricDavisX
As per feedback, we will be skipping Data Streams test for AWS dynamoDB integration since we can’t fully configure it currently..

Hence we are closing this.
Thanks
QAS

[2021-07-16 05:58] #1294 closed

[2021-07-16 11:45] jamiehynds opened #1328 "Expanding Security Integration Categories"
Currently we have a very broad 'security' tag for integrations in both Fleet and our public facing [integrations page](https://www.elastic.co/integrations). As we continue to expand the security data sources we support, this approach doesn't scale and will lead to discoverability issues when users are trying to find relevant integrations.

I'm proposing that we create new categories that are narro

[2021-07-16 17:38] nimarezainia opened #1329 "[Elastic Agent] "Beta" & "Experimental" tags to be removed before GA"
Fleet-Server and Elastic-Agent integrations need to have their tiles updated so the keywords Experimental and beta are removed before their GA in 7.14. The versions also need to be updated to 1.0

![image](https://user-images.githubusercontent.com/13442829/125987089-1e10a9fe-2dae-4b5a-97e4-c31b3e26c965.png)

![image](https://user-images.githubusercontent.com/13442829/125987177-ae2c3911-e40c-427c-8

[2021-07-16 17:39] elasticmachine commented on #1329
Pinging @elastic/agent (Team:Agent)

[2021-07-16 17:42] nimarezainia commented on #1329
I see that these are simple changes in the manifest file:

![image](https://user-images.githubusercontent.com/13442829/125987877-adda70b5-1404-4872-9e6c-8102aa1b0d99.png)

![image](https://user-images.githubusercontent.com/13442829/125987931-ceefc818-f4c3-4c62-aaeb-5168ea9471ae.png)

[2021-07-17 02:00] jen-huang commented on #787
This is now fixed, closing:

![image](https://user-images.githubusercontent.com/1965714/126022015-7a079cae-b7d4-43b7-a3d2-5dca97cc5c00.png)

[2021-07-17 02:00] #787 closed

[2021-07-19 06:51] ChrsMark opened #1330 "[Port] Add cluster filter on Kubernetes cluster overview out-of-box dashboard"
Port the updated dashboard from Beats to the package.
Original change: https://github.com/elastic/beats/pull/26919

[2021-07-19 09:18] StefanSa commented on #1071
hi there,
any ETA here ?

[2021-07-19 14:25] Mpdreamz opened #1332 "[Feature Request] Enable ECS log detection by default using Custom Log integration"
The custom log integration currently does not ship with any default ingest pipeline.

In order to improve our ECS logging onboarding experience we should make sure this integration ships with an ingest pipeline that auto-detects ECS.

@felixbarny created a POC for such a default pipeline that utilizes [a new option on the `dot_expander` pipeline](https://github.com/elastic/elasticsearch/pull/74601

[2021-07-19 14:25] elasticmachine commented on #1332
Pinging @elastic/integrations (Team:Integrations)

[2021-07-19 18:05] EricDavisX commented on #812
@mostlyjason just pinging - I'm doing follow-ups on open issue for 7.14 - is this still under review / possible merge for 7.14?  Assuming not, I'll remove the 7.14 label, please add back if any work was done for this cycle.  If this is urgent for the Fleet / Agent GA we may yet have time to finish it out.

[2021-07-19 22:25] andrewvc commented on #1300
Heartbeat is pretty lenient about validating inputs here, letting the underlying network implementation throw an error. Validating URLs isn't that simple, did you know `http://[2001:db8::1]:80` is a valid URL?

That said, it may be more helpful than not to focus on 98% of URLs than the edge cases, and just go with a regexp like the top answer here, and see if we see any real-world issues: https://

[2021-07-20 08:22] mtojek commented on #755
@v1v Maybe you know where these metrics data can be stored? I tried the link posted in:

but it failed with:

[code]

[2021-07-20 08:29] v1v commented on #755
I'll create a dashboard similar to the ones we created for others and I'll raise a PR in the internal repository then you can review it

[2021-07-20 08:29] mtojek commented on #755
SGTM!

[2021-07-20 08:50] v1v commented on #755
Test coverage is not collected in the CI, but only, the build details, test stats summary and test failures.

For instance, given the [build 561](https://beats-ci.elastic.co/job/Ingest-manager/job/integrations/job/master/561) then all the data is gathered and transformed in `json` files, and those files are the ones that are sent to ES, such as:
- https://beats-ci.elastic.co/job/Ingest-manager/job

[2021-07-20 08:58] mtojek commented on #755
Build info is also useful (successful, skipped, failed tests + date) and would be great to setup a dashboard for it.

As the goal of this issue is to implement visualization for test coverage, do you have any recommendations in terms of Jenkins plugins? I can work on the missing transformation/scripting.

[2021-07-20 09:16] v1v commented on #755
Test coverage can be visualise in Jenkins itself, for instance with https://plugins.jenkins.io/cobertura/

IIRC, some teams already use it:
- Specific for a build -> https://apm-ci.elastic.co/job/apm-server/job/apm-server-mbp/job/master/1087/cobertura/
- A trend -> https://apm-ci.elastic.co/job/apm-server/job/apm-server-mbp/job/master/cobertura/graph
- Another plugin -> https://apm-ci.elastic.co/j

[2021-07-20 09:42] dikshachauhan-qasource opened #1337 "Kibana Bread crumb is displayed on the integration tab while editing integration."
**Kibana version:** 7.14 BC3 Kibana Cloud-staging environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC3 Kibana Cloud-staging environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Integration tab.
	- Click on Managesection.
	- Now, click on any installed integration's policy tab.
	- Cl

[2021-07-20 09:42] elasticmachine commented on #1337
Pinging @elastic/integrations (Team:Integrations)

[2021-07-20 09:43] dikshachauhan-qasource commented on #1337
@manishgupta-qasource Please review

[2021-07-20 09:49] mtojek commented on #755
This will be a custom setup. In Cobertura there are: *packages-classes-methods-line*. Here we will have: *packages-test_types-tests*. We won't use it specifically to cover lines of package sources with tests, but rather verify if tests are there - like a checklist.

1. WDYT if I implement logic that will collect these stats similarly to [Junit results](https://github.com/elastic/integrations/blob/

[2021-07-20 09:54] v1v commented on #755
Yes, IIRC, `junit` or `coberage`/`cobertura` allow to use file path patterns.

Let's try it simple with some synthetic generated XML report and see if it works as you expected

If you need help with the setup let me know, and we can go through how I develop locally with Jenkins

[2021-07-20 10:58] hop-dev commented on #993
I am having a bit of trouble reproducing this, so far I have tried:

- local dev setup (docker) with latest integrations
- Cloud 7.14 latest
- Cloud 7.15 latest

And the dashboard appears to be working fine. Any pointers @mostlyjason or additional steps to reproduce?

[2021-07-20 11:41] dikshachauhan-qasource opened #1339 "[Metricbeat]: No Data for linux tar package is displayed on [Metricbeat System] Containers overview ECS dashboard after metricbeat installation."
**Kibana version:** 7.14 BC3 Kibana Cloud-staging environment![image](https://user-images.githubusercontent.com/72375798/126317451-571bf181-2da6-44f8-b208-597d785dbd0c.png)
**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC3 Kibana Cloud-staging environment should be available.

**Build Details:**
[code]
- metricbeat is installed using linux tar package.

Arti

[2021-07-20 11:57] manishgupta-qasource commented on #1337
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-20 12:46] mtojek commented on #755
I played a bit with Cobertura and static fake reports and I can confirm that Jenkins shows reports correctly. I mean, we can read from bars where we have gaps (missing pipeline or system test), even though the domain language (package/class/method) is different.

Legend:
package  - an integration/an Elastic package
class - kind of test: pipeline or system
method - test name, e.g. test-access-event

[2021-07-20 14:19] v1v commented on #755
It could be possible to ingest the coverage stats to Elasticsearch and then they can be accessible in the same manner like the test failures and other things in Kibana.

For instance:

Given the build [8](https://beats-ci.elastic.co/job/Ingest-manager/job/elastic-package/job/PR-440/8/)

The coverage api is accessible in:
- `https://beats-ci.elastic.co/job/Ingest-manager/job/elastic-package/job/PR-

[2021-07-20 16:16] #678 closed

[2021-07-20 16:30] andrewkroh commented on #678
To resolve this packages added constant_keyword `event.module` and `event.dataset` fields with a value specified in their mappings. The existing `event.dataset` from elastic/beats#20076 was not removed so that field will be `_source` too for now.

[2021-07-20 16:36] andrewstucki commented on #1158
For the format of the audit and operational logs, this article seems helpful (the configuration docs don't document the payload structure):

https://support.hashicorp.com/hc/en-us/articles/360000995548-Audit-and-Operational-Log-Details

[2021-07-20 21:23] elasticmachine commented on #1339
Pinging @elastic/integrations (Team:Integrations)

[2021-07-20 21:24] jen-huang commented on #1339
What @fearful-symmetry said.

Also, not sure why this was filed in the Kibana repo as this doesn't even touch the Fleet & managed agents workflow.

[2021-07-21 07:13] mtojek commented on #755
Nice! We could adjust all labels to our domain language. I like this idea :)

Anyway, I'm going with the right implementation of this feature.

[2021-07-21 07:33] ruflin commented on #1329
++ on this change. @nimarezainia want to open 2 PR's for it directly?

I started some of this change in https://github.com/elastic/integrations/pull/1298 but we should not block on this PR, I will just rebase.

[2021-07-21 09:27] ruflin commented on #1332
The logs integration does not ship with a template either today and it just uses the mapping provided by the `logs-*-*` template. As the data stream name is user defined, we need to figure out a way how to potentially load a template for this specific log integration instance and set the pipeline accordingly. This would likely also require work on the Fleet side (@jen-huang ).

[2021-07-21 11:17] dikshachauhan-qasource commented on #1339
hi @fearful-symmetry

The host on which we have installed metricbea, is also running 7.14 agent along side with system integration in agent policy.

thus, we can confirm we are ingesting events from the system/process metricset for this host. Please correct us if something else is addressed here.

@jen-huang we reported it in kibana because metricbeat is running fine at all place, issue here is ju

[2021-07-21 16:30] EricDavisX commented on #1339
I see the confusion now, Alex's post made me re-read it better.  This wans't actually tested with 'containers' just regular host vms.  I'll close as WAD and user-error unless someone can surprise me that we had some Docker usage in play?

And we do try to get issues to the right repo, it is harder sometimes and is an error prone process- thanks for the note so we can do better.

[2021-07-21 16:30] #1339 closed

[2021-07-21 22:45] kaiyan-sheng opened #1342 "Revisit AWS categories"
AWS package at the [package level](https://github.com/elastic/integrations/blob/master/packages/aws/manifest.yml#L8) has 4 category tags: aws, cloud, network, and security. Inside the AWS package, there are multiple policy templates and each policy template can also have its own category tags. For example: [DynamoDB](https://github.com/elastic/integrations/blob/master/packages/aws/manifest.yml#L14

[2021-07-21 22:46] kaiyan-sheng commented on #1328
I created an issue about AWS package categories https://github.com/elastic/integrations/issues/1342 which is related to this main topic.

[2021-07-21 22:47] kaiyan-sheng commented on #1342
@exekias @andrewkroh WDYT?

[2021-07-21 23:37] andrewkroh commented on #1342
SGTM

[2021-07-22 05:36] dikshachauhan-qasource commented on #1339
hi @fearful-symmetry cc @EricDavisX

Thanks for the feedback on reported issue. We will update our testcases accordingly.

Thanks
QAS

[2021-07-22 06:54] exekias commented on #1342
:+1: thanks for taking this!

[2021-07-22 09:17] vipulsrivastava-qasource opened #1343 "[Integration] Add integration is show instead of Add < Name of integration > integration when adding integration from policy page."
**Kibana version:** 7.14 BC-3 Kibana cloud environment

**Host OS and Browser version:** All, All

**Preconditions:**

1. 7.14.0 BC-3 Kibana cloud environment should be available.
2. Default or newly created policy should exist.

**Build Details:**
[code]
**Steps to reproduce:**
1. Login to Kibana.
2. Navigate to Fleet-> Agents policies tab.
3. Click on Default or newly created policy.
4. Click on

[2021-07-22 09:17] elasticmachine commented on #1343
Pinging @elastic/integrations (Team:Integrations)

[2021-07-22 09:18] vipulsrivastava-qasource commented on #1343
@dikshachauhan-qasource : Please review the Bug.

[2021-07-22 09:19] dikshachauhan-qasource commented on #1343
Reviewed and assigned to @jen-huang

[2021-07-22 12:45] mostlyjason commented on #993
This appears to be fixed in 7.13.4

[2021-07-22 12:45] #993 closed

[2021-07-23 08:01] monfera commented on #269
### Scrolling (report) vs no scrolling (dashboard)

Would be great to shift toward the standard meaning of dashboards, which is a scroll-free, single screen experience with all information visible simultaneously. While users can create "dashboards" of any length, something that scrolls would be called something like report, notebook, article or page. Meanwhile, we Elasticians (SAs, consultants, fo

[2021-07-24 02:01] austinsonger commented on #1170
@jamiehynds this would be nice, MSSP deploys SentinelOne to all clients. This would help convince my MSSP to switch the rest of our clients to Elastic Security and because we are not big enough to qualify for Elastic Enterprise and Endpoint Security, are options are limited.

[2021-07-24 02:12] austinsonger opened #1349 "Bitwarden"
## Description
[Bitwarden ](https://bitwarden.com/)is a free and open-source password management service that stores sensitive information such as website credentials in an encrypted vault. The Bitwarden platform offers a variety of client applications including a web interface, desktop applications, browser extensions, mobile apps, and a command-line interface. Bitwarden offers a cloud-hosted ser

[2021-07-24 02:15] austinsonger commented on #1131
I've created pull requests in detection rules related to Microsoft Cloud App Security. Looks like this will need to wait lol.

[#1346](https://github.com/elastic/detection-rules/pull/1346/files)

[2021-07-24 02:16] austinsonger commented on #1131
https://github.com/elastic/detection-rules/pull/1346/files

[2021-07-26 06:23] vipulsrivastava-qasource opened #1350 "Incorrect count for Datastore and Network integrations is displayed on Browse tab under Integrations."
**Kibana version:** 7.14 BC-4 Kibana cloud environment

**Host OS and Browser version:** All, All

**Preconditions:**

1. 7.14.0 BC-4 Kibana cloud environment should be available.

[code]

**Steps to reproduce:**

1. Login to Kibana.
2. Navigate to Integrations-> Browse tab.
3. Click on Datastore integration under Browse by category.
4. Observe that incorrect count is displayed for datastore integ

[2021-07-26 06:23] elasticmachine commented on #1350
Pinging @elastic/integrations (Team:Integrations)

[2021-07-26 06:23] vipulsrivastava-qasource commented on #1350
@manishgupta-qasource : Please review the Bug.

[2021-07-26 06:26] manishgupta-qasource commented on #1350
Reviewed & Assigned to @jen-huang

[2021-07-26 07:47] vipulsrivastava-qasource opened #1351 "[Integration] Flickering 'Edit Integration' on Clicking edit integration of any integration under action menu of Policy page."
**Kibana version:** 7.14 BC-4 Kibana cloud environment

**Host OS and Browser version:** All, All

**Preconditions:**

1. 7.14.0 BC-4 Kibana cloud environment should be available.
2. Default policy or newly created policy having integrations(let say : system, Kafka and RabbitMQ) should exist.

[code]
**Steps to reproduce:**

1. Login to Kibana.
2. Navigate to Fleet-> Agent policies tab.
3. Click o

[2021-07-26 07:47] elasticmachine commented on #1351
Pinging @elastic/integrations (Team:Integrations)

[2021-07-26 07:47] vipulsrivastava-qasource commented on #1351
@manishgupta-qasource : Please review the Bug.

[2021-07-26 08:15] manishgupta-qasource commented on #1351
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-26 08:54] dikshachauhan-qasource opened #1352 "[Integrations]: Cross icons are not colored as red under 'Elastic APM' overview page."
**Kibana version:** 7.14 BC4 Kibana Cloud-staging environment

**Host OS and Browser version:** Chrome, Firefox and edge

**Preconditions:**
1. 7.14 BC4 Kibana Cloud-staging environment should be available.

**Build Details:**
[code]

**Steps to reproduce:**
	- Login to Kibana.
	- Navigate to Integrations tab.
	- Select 'Elastic APM' and navigate to integration overview page.
	- Scroll down and Ob

[2021-07-26 08:54] elasticmachine commented on #1352
Pinging @elastic/integrations (Team:Integrations)

[2021-07-26 08:55] dikshachauhan-qasource commented on #1352
@manishgupta-qasource Please review

[2021-07-26 12:04] manishgupta-qasource commented on #1352
Reviewed & assigned to @jen-huang

CC: @EricDavisX

[2021-07-26 12:53] andrewkroh commented on #670
It looks like Zoom and System/auth are the two remaining packages that need to have their processors moved over to Ingest Node.

[2021-07-26 13:13] EricDavisX commented on #1350
I'm not sure if this will be Kibana Fleet Side or on the individual Integrations or maybe both.  @jen-huang @masci would you have a guess?  I think we have at least 1 other issue about the counts, found first with the Security selection which I think makes this a dupe if we can find that one.

I don't consider it a blocker, but I do submit it is kind of embarrassing as Integrations is now so promi

[2021-07-26 13:20] akshay-saraswat opened #1354 "Standalone agent for Kubernetes keeps crashing and restarting"
I am following this guide to run the standalone agent on Kubernetes (GKE version : 1.19.9-gke.1900, machine : e2-medium, image :  cos_containerd) for metrics collection.
https://www.elastic.co/guide/en/fleet/current/running-on-kubernetes-standalone.html

I am consistently getting OOMKilled and CrashLoopBackOff for these agent installations on GKE.

![image](https://user-images.githubusercontent.co

[2021-07-26 13:20] elasticmachine commented on #1354
Pinging @elastic/integrations (Team:Integrations)

[2021-07-26 14:10] ChrsMark commented on #1354
cc: @michaelKatsoulis

[2021-07-26 14:47] #955 closed

[2021-07-26 15:17] MichaelKatsoulis commented on #1354
@akshay-saraswat Which image version of elastic-agent are you using?

[2021-07-26 15:49] jen-huang commented on #1350
Kibana uses the counts as returned from the package registry so this is indeed an integrations team bug. @kaiyan-sheng I recall you were looking into this?

[2021-07-26 15:55] kaiyan-sheng commented on #1350
Yes I will push a PR shortly for this and also the security category tag. Here is the issue I have to track this work: https://github.com/elastic/integrations/issues/1342

[2021-07-26 15:58] jen-huang commented on #1352
This is expected behavior as this is exactly what is defined in the APM package: https://github.com/elastic/apm-server/tree/master/apmpackage/apm/docs

[2021-07-26 15:58] #1352 closed

[2021-07-26 16:01] jen-huang commented on #1351
This is fine as it's just the loading state. Closing.

[2021-07-26 16:01] #1351 closed

[2021-07-26 16:01] elasticmachine commented on #1351
Pinging @elastic/fleet (Team:Fleet)

[2021-07-27 10:14] ChrsMark opened #1359 "Update `nginx_ingress_controller` package with changes from Beats"
The pipeline of the package seems to have not been updated with the latest changes from Filebeat's module.

Diff: [package](https://github.com/elastic/integrations/blob/master/packages/nginx_ingress_controller/data_stream/access/elasticsearch/ingest_pipeline/default.yml) VS [Filebeat](https://github.com/elastic/beats/blob/master/filebeat/module/nginx/ingress_controller/ingest/pipeline.yml)

We nee

[2021-07-27 10:14] elasticmachine commented on #1359
Pinging @elastic/integrations (Team:Integrations)

[2021-07-27 10:52] masci commented on #365
PR was merged

[2021-07-27 10:52] #365 closed

[2021-07-27 12:02] #755 closed

[2021-07-27 13:10] ChrsMark commented on #1354
@akshay-saraswat we tried to reproduce it (using 7.13.3) with @MichaelKatsoulis on GKE (same as yours) and indeed we got the same `OOMKilled` failure. We had to increase the memory limits at https://github.com/elastic/beats/blob/e8ea14bd206f205a30dcdc843e336f7d83ec1620/deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml#L494. Increasing to `400mi` fixed the issue however the cluster we were

[2021-07-27 16:10] andrewvc commented on #1300
After meeting with the team today, we've decided that this is not a bug. Given the complexity of URLs, and the ease with which bad ones can be rectified, let's keep the behavior as-is, with the validation effectively happening downstream when the check executed

[2021-07-27 18:05] jen-huang commented on #1300
Thanks Andrew and team for looking at this, I'm going to close this as won't fix.

[2021-07-27 18:05] #1300 closed

[2021-07-27 22:44] #1342 closed

[2021-07-28 04:03] dikshachauhan-qasource commented on #1300
Hi All,

Thanks for feedback and looking down into this.

[2021-07-28 07:17] v1v commented on #755
We have just enabled recently the population of the coverage stats (see https://github.com/elastic/apm-pipeline-library/pull/1214 for further details).

Therefore those `%` values are now available in the Build dashboards we created in Kibana, for instance:

![image](https://user-images.githubusercontent.com/2871786/127280012-34dbd792-f15d-4ce4-b8a7-7f33e81c291f.png)

It's just presenting the same

[2021-07-28 08:24] mtojek opened #1366 "Exported fields with wildcards not rendered correctly"
I just noticed that Fleet doesn't render fields correctly with wildcard (`*`):

<img width="881" alt="Zrzut ekranu 2021-07-28 o 10 24 06" src="https://user-images.githubusercontent.com/14044910/127289725-5bd7d1ef-8ee5-4ba2-881f-be20586401b1.png">

Behind the scenes it's:

[code]

It seems it's in *italics* accidentally :)

[2021-07-28 22:44] elasticmachine commented on #1366
Pinging @elastic/integrations (Team:Integrations)

[2021-07-29 11:15] mtojek commented on #1366
I will adjust elastic-package to escape `*`.

[2021-07-29 18:04] mostlyjason commented on #1001
@jen-huang should fleet team take this one since we are updating the dashboard for elastic agent anyway?

[2021-07-29 21:53] bmorelli25 opened #1400 "Broken documentation syntax in mdx"
Our new documentation system doesn't support the following characters unless they're smushed inside backticks: `<`, `>`, `{`, and `}`.

The following packages have documentation that uses these characters:

- [x] **cef**
https://github.com/elastic/integrations/blame/master/packages/cef/docs/README.md#L60
- [x] **Docker**
https://github.com/elastic/integrations/blame/master/packages/docker/docs/REA

[2021-07-29 21:57] goodroot commented on #1400
[code]

* `is not defined` == likely something inbetween curly braces `{helpme}`
*  `Cannot close `tableDate`` == something in table, like `<thing>`
* `??` == Perhaps asciidoc syntax, like `<<thing>>`, or perhaps `<number` or `number>`

[2021-07-30 07:40] mtojek commented on #1366
@bmorelli25 discovered more fields in https://github.com/elastic/integrations/pull/1401#issue-699890603

[2021-07-30 10:24] exekias commented on #1354
We didn't benchmark this but used our previous experiences in FB/MB memory usages, we don't have that for Agent yet. Take into account that for bigger clusters agents are still in charge of their own node, so I don't expect their usage to grow a lot. 400MB seems good having those readings intro account. If this creates issues we will see them soon.

One question from my side: Is this the leader ag

[2021-07-30 11:41] ChrsMark commented on #1354
To be honest we didn't check if the specific Agent was holding the leadership lock, however it was not the only one crashing with OOMKilled. Also the testing cluster was fairly new with no additional resources running, so I wouldn't expect that cluster-wide metrics could be that much to overload the leader (in that case).

I will open a PR to increase the limits to `500mi` for now.

[2021-07-30 13:47] #1400 closed

[2021-07-30 17:45] bmorelli25 commented on #1366
Thanks, @mtojek

It's worth noting that this appears to be impacting not just the new docs system, but also the current md readme files. At least in GitHub, the markdown rendering for anything inside unescaped <> silently fails. As an example, take a look at this line in the redis readme:

https://github.com/elastic/integrations/blame/a171a03e5d9c03ea2d9cb9866d21623a0f1bae5e/packages/redis/docs/RE

[2021-08-02 20:52] #1329 closed

[2021-08-03 07:30] franktatjana opened #1436 "AWS RDS Logs"
A user wants to collect AWS RDS logs with Filebeat. Currently, only metrics is collected with https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-metricset-aws-rds.html.  If a user can deploy Filebeat into AWS to collect RDS logs (postgres module https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-module-postgresql.html), that might work. But if a user wants to use AWS

[2021-08-03 09:44] ruflin opened #1437 "[System] Issue with short time frame (5min)"
Sometimes when a short timeframe is selected for the system dashboard (for example 5min) some of the values are not shown. Everything works again as expected as soon as a longer timeframe like 30min is selected. Initially I thought some data did not make it through in time but it seems other graphs work and the data is coming from the same machine. Any idea on what could cause this?

![Screenshot

[2021-08-03 09:44] elasticmachine commented on #1437
Pinging @elastic/integrations (Team:Integrations)

[2021-08-03 11:29] mtojek commented on #1366
I looked at redis [README.md](https://github.com/elastic/integrations/tree/master/packages/redis). It seems that it renders `redis.key.id` correctly, but there is a fix needed for field descriptions (escaped < >).

[2021-08-03 13:30] sorantis opened #1438 "[Meta] Move Observability integrations to GA"
The majority of Observability integrations are currently either experimental or beta. The modules they have been migrated from are predominantly GA. We need to move the existing packages to GA before the 8.0. Below is the list of packages that should be migrated. Similar to the [security integrations GA effort](https://github.com/elastic/integrations/issues/961),  the list is prioritized according

[2021-08-03 13:30] elasticmachine commented on #1438
Pinging @elastic/integrations (Team:Integrations)

[2021-08-03 13:57] masci opened #1439 "Sample event is missing in Tomcat "log" data stream"
Data stream is lacking a `sample_event.json` file, see [Apache](https://github.com/elastic/integrations/blob/master/packages/apache/data_stream/access/sample_event.json) for example

[2021-08-03 13:57] elasticmachine commented on #1439
Pinging @elastic/integrations (Team:Integrations)

[2021-08-03 14:08] masci opened #1440 "Add system tests to MongoDB"
Integration package is missing system tests.

[2021-08-03 14:08] elasticmachine commented on #1440
Pinging @elastic/integrations (Team:Integrations)

[2021-08-03 14:12] #519 closed

[2021-08-03 17:06] kaiyan-sheng commented on #1438
@sorantis For GCP integration, it still only includes the log part from Filebeat. We should finish migrating the metric parts first. So maybe the requirements for moving a package to GA should also include: Make sure all data streams are included?

[2021-08-03 17:51] fearful-symmetry commented on #1437
Alright, I can reproduce this. Honestly, I'm at a loss here. The data coming in seems fine, and it's across too many different visualizations to just be an issue with a single metric. It's also really unpredictable. Sometimes it happens with a 15 minute interval, sometimes it doesn't. Sometimes it happens with a 20 minute interval, sometimes it doesn't. Is there some rounding issue going on in the

[2021-08-03 19:25] kaiyan-sheng commented on #1437
@fearful-symmetry Is it possible because the system module dashboard is still using TSVB? I tested this with EC2 and RDS dashboard, the same thing happens with EC2 dashboard, which is using TSVB for the visualizations. But the RDS dashboard is fine, which is using Lens.

[2021-08-03 21:54] fearful-symmetry commented on #1437
Also seconded, tinkered around with lens for a bit, everything seems fine. Wonder if that's where the issue is.

[2021-08-03 22:14] kaiyan-sheng opened #1442 "Screenshot shows [object Object] of [object Object]"
When testing elastic stack with `7.15.0-SNAPSHOT`, I see in the documentation page, next to the screenshots, there is `[object Object] of [object Object]` instead of the page number.

<img width="1232" alt="Screen Shot 2021-08-03 at 3 58 25 PM" src="https://user-images.githubusercontent.com/14081635/128093129-1c214f7a-af08-47a3-9c6c-2c0a77f8beca.png">

This seems to also happen in other integratio

[2021-08-03 22:15] kaiyan-sheng commented on #1442
@jen-huang Is this a regression?

[2021-08-04 08:50] ruflin commented on #1437
@jasonrhodes Do you have by chance any idea on what is happening here? What team should be pinged on this in case it is a TSVB bug?

[2021-08-04 09:51] amey2 opened #1444 "installation failed on windows 8.1 32 bit"

[2021-08-04 09:51] #1444 closed

[2021-08-04 10:14] sorantis commented on #1438
let's log this as a prerequisite under the GCP bullet above. This applies to all above integrations. Let's track them under each integration's entry in this meta issue.

[2021-08-04 13:56] ChrsMark commented on #1330
Closed by https://github.com/elastic/integrations/pull/1413

[2021-08-04 13:56] #1330 closed

[2021-08-05 03:21] akshay-saraswat opened #1450 "[Meta] Salesforce Observability Integration"
This issue describes the requirements for automatically collecting salesforce logs, parsing events, and indexing them in Elastic Cloud for observability. The goal of this work is to provide the user a simple and straightforward way to monitor Salesforce org performance and adoption through the user's account with Elastic.

**Platform Events**
Salesforce provides [event monitoring](https://trailhea

[2021-08-05 03:21] elasticmachine commented on #1450
Pinging @elastic/integrations (Team:Integrations)

[2021-08-05 09:16] narph opened #1451 "Azure update platformlogs pipeline to redirect springcloud logs to the springcloudlogs data stream"
Azure update platformlogs pipeline to redirect springcloud logs to the springcloudlogs data stream

### All changes

- [ ] Change follows the [contributing guidelines](https://github.com/elastic/integrations/blob/master/CONTRIBUTING.md)
- [ ] Supported versions of the monitoring target are documented
- [ ] Supported operating systems are documented (if applicable)
- [ ] Integration or [System test

[2021-08-05 09:18] narph opened #1452 "[Azure Metrics] Update guest metrics stream for compute_vm and compute_vm_scaleset and add dashboards"
Update guest metrics stream for compute_vm and compute_vm_scaleset and add dashboards

### All changes

- [ ] Change follows the [contributing guidelines](https://github.com/elastic/integrations/blob/master/CONTRIBUTING.md)
- [ ] Supported versions of the monitoring target are documented
- [ ] Supported operating systems are documented (if applicable)
- [ ] Integration or [System tests](https://gi

[2021-08-05 09:18] elasticmachine commented on #1452
Pinging @elastic/integrations (Team:Platforms)

[2021-08-05 09:23] andresrc opened #1453 "[Elastic Agent] Incorrect visualization of CPU usage"
See [discuss](https://discuss.elastic.co/t/negative-cpu-usage-on-default-dashboard-elastic-agent-agent-metrics/279762)

It seems that the visualization is using some derivative and missing some additional function to ensure the values are positive.

[2021-08-05 09:23] elasticmachine commented on #1453
Pinging @elastic/fleet (Team:Fleet)

[2021-08-05 09:57] felixbarny opened #1454 "[Meta] Enable seamless ECS log onboarding for all log inputs"
To make the ingest of ECS JSON logs more native and seamless, we want a user experience that does not require custom configuration, JSON parsing, and other processing configuration. Instead, we should detect if a log comes in ECS JSON format and parse it appropriately.

We have identified integrations and Elasticsearch ingest node pipelines to be the best place to automatically detect and parse EC

[2021-08-05 09:57] elasticmachine commented on #1454
Pinging @elastic/integrations (Team:Integrations)

[2021-08-05 10:09] ruflin commented on #1332
Exactly, all the other packages have specific templates for `{type}-{dataset}-*`. But as `{dataset}` is configured by the user for the logs integration, it is not the case.

[2021-08-05 14:49] MichaelKatsoulis opened #1457 "Add data stream to collect pods logs in kubernetes integration"
We are missing a data stream in Kubernetes integration to collect logs from all pods running in the cluster.

In this data stream the path of pod logs could be editable.
Default could be `/var/log/containers/*${kubernetes.container.id}.log`

In standalone mode of agent the pods' log collection was made possible with [this PR](https://github.com/elastic/beats/pull/23938).

[2021-08-05 14:50] elasticmachine commented on #1457
Pinging @elastic/integrations (Team:Integrations)

[2021-08-05 17:54] #670 closed

[2021-08-09 14:29] legoguy1000 opened #1461 "Zeek Integration missing"
The Zeek Package was never updated with the Signature and NTP datasets that were added in elastic/beats#23772 and elastic/beats#24224

# Integration release checklist

This checklist is intended for integrations maintainers to ensure consistency
when creating or updating a Package, Module or Dataset for an Integration.

### All changes

- [ ] Change follows the [contributing guidelines](https://gi

[2021-08-09 17:03] jen-huang commented on #1442
I believe this was a bad EUI change, it should be fixed now.

[2021-08-09 17:03] #1442 closed

[2021-08-10 08:25] #1305 closed

[2021-08-10 12:12] felixbarny commented on #1454
I did some initial ad-hoc performance tests of the pipeline.
I added the drop processor to each pipeline to avoid that indexing impacts the processing performance. I got more stable numbers that way, although the variance is still quite high. The downside is that even a pipeline with only a drop processor has a little bit of overhead.
I used 7.15.0-SNAPSHOT on cloud staging with the minimal config

[2021-08-10 14:44] narph commented on #1285
https://github.com/elastic/integrations/pull/1355

[2021-08-11 02:24] legoguy1000 commented on #642
I can try to tackle this after i finish the PRs i'm currently working.

[2021-08-11 09:25] sorantis commented on #1438
@kaiyan-sheng I changed your edit to a sub-bullet. Do we have a GH issue we could link to?

[2021-08-12 07:30] exekias opened #1520 "Adapt state_ datastreams to kube-state-metrics 2.0"
kube-state-metrics 2.0 introduced a few breaking changes, for instance `kube_node_status_allocatable_cpu_cores` went away in favour of `kube_node_status_allocatable`. The full list of breaking changes can be found in their changelog:

https://github.com/kubernetes/kube-state-metrics/blob/master/CHANGELOG.md

We should review and adapt our integration to make sure we are able to pick the new fields

[2021-08-12 07:30] elasticmachine commented on #1520
Pinging @elastic/integrations (Team:Integrations)

[2021-08-12 07:59] felixbarny commented on #1454
Turns out that doing measurements with a local ES instance yields much more consistent and much faster results. I also did some CPU profiling to get more details on what's actually slow.

Interestingly, the `set` processor is one of the heaviest in the pipeline, even more than the `json` and `dot_expander` processor.
The slowest part about the `set` processor is when setting a dynamic template, su

[2021-08-12 12:18] FauxPrada opened #1524 "System Integration - Incorrect dashboard IDs (URLs) for navigation visualizations"
Hello,

See [this discussion](https://discuss.elastic.co/t/system-integration-navigation-visuals-use-all-the-wrong-urls-ids/281180) on forum for more detail.

The "Dashboard links" visualisations provided by System Integration use incorrect URLs and thus return with `Could not locate that dashboard (id: windows-035846a0-a249-11e9-a422-d144027429da)` for example.

I believe these should actually be

[2021-08-12 13:43] MichaelKatsoulis commented on #1014
@eedugon you are right that we are collecting these metrics but the reason you don't see them populated is probably the version of `kube-state-metrics`.  Since `v2.0.0` they  deprecated those fields (they are replaced with new. Thy used to co-exist for some versions). [breaking changes](https://github.com/kubernetes/kube-state-metrics/blob/master/CHANGELOG.md#v200-alpha--2020-09-16)
There is an is

[2021-08-12 15:20] nchaulet commented on #1001
@mostlyjason I am about to update the dashboard for elastic agent, if you know where I can find the assets I can update the icons too.

[2021-08-12 16:40] andrewkroh commented on #1156
PR: https://github.com/elastic/integrations/pull/1522

[2021-08-13 00:11] fearful-symmetry commented on #1524
Fix incoming.

[2021-08-13 09:02] exekias opened #1526 "Investigate switching to `filestream` input for container logs"
[Filestream](https://www.elastic.co/guide/en/beats/filebeat/master/filebeat-input-filestream.html) input is now GA, and it brings [many improvements](https://www.elastic.co/blog/read-active-log-files-more-quickly-and-easily-with-the-new-filestream-input-in-filebeat?ultron). One of the things we expect this will fix is the issue with [forever growing registry files](https://github.com/elastic/beats

[2021-08-13 09:02] elasticmachine commented on #1526
Pinging @elastic/integrations (Team:Integrations)

[2021-08-13 09:03] exekias commented on #1526
@kvch I was having a look to the [docs](https://www.elastic.co/guide/en/beats/filebeat/master/filebeat-input-filestream.html) and I see parsers mentioned but the topic is no further developed. Are there any plans to expose them?

[2021-08-13 12:40] kvch commented on #1526
They are exposed, but for some reason I have forgotten about the documentation? I will add it to filestream docs. Thanks for noticing it. :facepalm:

[2021-08-13 14:07] #1156 closed

[2021-08-13 15:59] eedugon commented on #1014
Awesome! Great analysis, thanks!

El El jue, 12 ago 2021 a las 15:43, Michael Katsoulis <
***@***.***> escribió:

[2021-08-14 02:32] mukeshelastic commented on #1438
Hi @sorantis is the list in priority order? If not, can we make it in the order of priority we want to see it completed?

@masci are you and folks on integrations team able to evaluate this list and provide a comments on what work is needed to make these integrations GA and then the feasibility of the number of integrations we are able to make GA in 7.16? I will also send an email to the integrati

[2021-08-16 14:05] jen-huang commented on #1001
@nchaulet Here's the associated EUI ticket https://github.com/elastic/eui/issues/4981

[2021-08-16 14:34] kaiyan-sheng commented on #1438
@sorantis We don't have an issue for only migrating the metrics part but here is the [main issue](https://github.com/elastic/integrations/issues/490) for migrating GCP overall.

[2021-08-16 14:50] narph commented on #1451
https://github.com/elastic/integrations/pull/1462

[2021-08-16 14:50] #1451 closed

[2021-08-16 14:51] elasticmachine commented on #1451
Pinging @elastic/integrations (Team:Platforms)

[2021-08-16 15:46] osmanis opened #1532 "Azure Spring Cloud integration tweaks"
Some feedback for the new [Azure Spring Cloud logs integration](https://github.com/elastic/integrations/tree/master/packages/azure/data_stream/springcloudlogs).
- Update the logo to match the official logo: [Azure spring cloud_icon.svg.zip](https://github.com/elastic/integrations/files/6993498/Azure.spring.cloud_icon.svg.zip)
- In the [integration description](https://github.com/elastic/integratio

[2021-08-16 17:38] #1158 closed

[2021-08-16 18:06] dominiqueclarke opened #1534 "[Synthetics] Update package categorization"
We should have the Synthetics Integration package in the following categories:

Web
Monitoring
Elastic Stack

[2021-08-16 18:06] elasticmachine commented on #1534
Pinging @elastic/uptime (Team:Uptime)

[2021-08-17 05:50] vipulsrivastava-qasource opened #1535 "[Integration] Agent Policies count is updated on Integration header though no agent is installed."
**Kibana version:** 7.14.1 Snapshot Kibana cloud environment

**Host OS and Browser version:** All, All

**Preconditions:**

1. 7.14.1 Snapshot Kibana cloud environment should be available
2. Integration should be added on default or newly created policy( let say : 'system' or 'apache' )

[code]

**Steps to reproduce:**

1. Login to Kibana.
2. Navigate to Integrations-> System.
3. Click on policie

[2021-08-17 05:50] elasticmachine commented on #1535
Pinging @elastic/integrations (Team:Integrations)

[2021-08-17 05:50] vipulsrivastava-qasource commented on #1535
@manishgupta-qasource : Please review the Bug.

[2021-08-17 06:07] vipulsrivastava-qasource commented on #1535
Closing this issue as this is expected functionality

[2021-08-17 06:07] #1535 closed

[2021-08-17 07:21] jsoriano opened #1536 "mage importBeats fails to import dashboards in ndjson format"
After https://github.com/elastic/beats/pull/27220/, dashboards in Beats modules are stored as Kibana saved objects in ndjson format, current import beats script fails to import these dashboards:
[code]

[2021-08-17 07:21] elasticmachine commented on #1536
Pinging @elastic/integrations (Team:Integrations)

[2021-08-17 07:27] #1001 closed

[2021-08-17 09:37] sorantis commented on #1532
We'll update the logo. For the second point we'll only link to the [existing documentation](https://www.elastic.co/guide/en/observability/current/monitor-azure.html) that describes the steps. I'd rather we avoid adding more elaborate description to the package documentation.

[2021-08-17 10:32] jsoriano commented on #1538
Issue moved from beats to integrations.

To make a generic auto-mapping from prometheus fields to ECS, prometheus should have some kind of common schema that we can support.

An alternative can be to add integrations for specific exporters, in that case there could be for example an integration for the prometheus node exporter, that includes the transformations for this exporter to the correspondi

[2021-08-17 13:49] #1534 closed

[2021-08-17 16:27] #1524 closed

[2021-08-17 18:14] epixa commented on #994
I'm going to close this since 7.14 is out. Feel free to reopen/rename if there's still something to track here.

[2021-08-17 18:14] #994 closed

[2021-08-17 22:29] akshay-saraswat commented on #1450
[Notes from Aug 16 call with PepsiCo team.](https://docs.google.com/document/d/1fK4GKFUcaaXoycVswp0JxDWTSk9bs01Yn9WajIG0fb8/edit?usp=sharing)

[2021-08-17 23:10] bcallaghan-et opened #1540 "Sophos UTM Integration incorrectly parses message header"
I am using the Sophos integration to read UTM logs from a local file. Each of the log messages has a format similar to the following examples. It's important to note that `utm-2` (the firewall's hostname) is included in the header of every message.
[code]
When these messages are ingested into Elasticsearch, the field `event.code` contains `utm-2 ulogd`, rather than the expected `ulogd`. Further, t

[2021-08-18 01:32] osmanis commented on #1532
@sorantis Sounds good to me.

[2021-08-18 08:52] sorantis commented on #1450
@akshay-saraswat we try not to attach private docs to public issues. Can you link it to the ER instead?

[2021-08-18 09:33] #1536 closed

[2021-08-18 10:27] elasticmachine commented on #1540
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-08-18 10:28] elasticmachine commented on #1532
Pinging @elastic/integrations (Team:Integrations)

[2021-08-18 13:33] #1452 closed

[2021-08-18 16:40] sorantis opened #1543 "Create Hadoop integration"
When monitoring Hadoop clusters one should consider metrics for the following components:

## HDFS

[HDFS (Hadoop Distributed File System)](https://hadoop.apache.org/docs/r1.2.1/hdfs_design.html) - a scalable, resilient storage file system. HDFS metrics can be further split into `DataNode` and `NameNode` metrics.

<image src="https://user-images.githubusercontent.com/1685068/129893639-b4d894fd-9df

[2021-08-18 16:41] elasticmachine commented on #1543
Pinging @elastic/integrations (Team:Integrations)

[2021-08-18 17:03] elasticmachine commented on #1453
Pinging @elastic/agent (Team:Agent)

[2021-08-18 17:57] osmanis commented on #1532
Also noted that `cloud` is not capitalized on the Spring Cloud tile on the integrations page. It should be capitalized as it's part of the full product name: `Azure Spring Cloud`.
![image](https://user-images.githubusercontent.com/43759819/129948208-9f526e6c-d76a-4975-b8ee-1bd7df3e7536.png)

[2021-08-19 10:06] narph commented on #1532
took care of it in the PR linked

[2021-08-19 10:18] #1532 closed

[2021-08-19 19:03] #951 closed

[2021-08-19 19:03] #1453 closed

[2021-08-20 08:39] #816 closed

[2021-08-20 13:49] endorama commented on #816
Backport to 7.x (7.16) https://github.com/elastic/beats/pull/27521
Backport to 7.15 https://github.com/elastic/beats/pull/27522

[2021-08-20 14:51] endorama commented on #816
@sorantis This issue refers to Beat metricset and not integration (at the moment there are no metrics integrations available for GCP), so I closed it by merging the change in beats.

[2021-08-20 16:01] rylnd commented on #650
Related issue: https://github.com/elastic/security-team/issues/1613. If we could ensure that these new packages conform to a more specific index pattern than `logs-*`, that would be incredibly helpful for future performance.

[2021-08-23 19:32] jpountz opened #1551 "Move text fields to match_only_text"
ECS has been updated to map a number of `text` fields as `match_only_text` instead: https://github.com/elastic/ecs/blob/master/rfcs/text/0023-match_only_text-data-type.md.

Elasticsearch's built-in templates have already been updated to use `match_only_text` on message fields, let's also migrate mappings that are managed by our integrations now?

cc @ruflin

[2021-08-23 21:10] epixa opened #1552 "auditd should parse yes/no as true/false for success field"
The auditd integration throws intermittent parsing errors because the success field can output `yes` or `no` even though it is mapped to bool on our end.

[code]

cc @rseldner

[2021-08-23 21:10] elasticmachine commented on #1552
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-08-24 04:18] hilt86 opened #1553 "Support Threema Gateway for Notifications"
We're using Threema work for our organization and would like to request support for Threema Gateway (Basic mode) for notifications within Elastic.

See docs at https://gateway.threema.ch/en/developer/api

[2021-08-24 06:09] elasticmachine commented on #1551
Pinging @elastic/integrations (Team:Integrations)

[2021-08-24 06:13] ruflin commented on #1551
@exekias @masci I suggest in a first step we focus on converting `message` and `error.message` which hopefully is a find / replace and then can continue to the other fields.

@epixa I assume your team also plans to adjust the integrations?

[2021-08-24 09:04] MichaelKatsoulis commented on #1014
In matter of fact we are already working on https://github.com/elastic/beats/pull/27552 to support the newer versions of kube-state-metrics and populate the fields.

[2021-08-24 10:26] vipulsrivastava-qasource commented on #1350
Hi @kaiyan-sheng

We have regressed this issue on below build and found that issue is **Not Fixed** . Could you please share the BC build details for which fix will be available

**Build Details:**

Version: 7.15.0-BC1
Build number: 43636
Commit: d791226d9385122f33f4a5ca38fa5369012fbec3
Artifact: https://staging.elastic.co/7.15.0-d9929120/summary-7.15.0.html

**Moreover, this issue is also occurri

[2021-08-24 13:44] epixa commented on #1551
Yep, we update all of our integrations with ECS changes every release. The match_only_text stuff will ship in ECS 8.0, so that's where we'll update our integrations too.

[2021-08-24 14:38] #1457 closed

[2021-08-24 22:39] kaiyan-sheng commented on #1350
@vipulsrivastava-qasource Sorry I'm trying to get the QA deployment to work with 7.15 snapshot. But at the mean time, could you test again with 0.10.4 version please? I just promoted `aws` package 0.10.4 to production yesterday, which should include this change.
For the `Custom` integration, I'm don't think that's related to the AWS package. This is something different. @jen-huang Do you know who

[2021-08-24 23:24] jen-huang commented on #1350
@kaiyan-sheng Didn't we discuss that this might be an issue with the package registry code not counting up packages+integrations categories correctly? Should we move it to that repo instead?

[2021-08-25 01:44] kaiyan-sheng commented on #1350
@jen-huang Hmmmm for the AWS package, we discussed the problem is with defining categories at the package level or data stream level. For example, we used to have `network` category at the package level for AWS so it's inherited by all data streams underneath. Instead, I remove the `network` category from the AWS package and added only to some individual data streams.

Maybe for the `Custom` categ

[2021-08-25 06:27] amolnater-qasource opened #1554 "[SLES 15]: No "system.auth" logs for system integration under Data Streams tab for SLES 15 linux agent."
**Kibana version:** 7.15.0 BC-2 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 BC-2 Kibana cloud environment should be available.
2. An SLES 15 linux agent must be installed with Default policy having System integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Data Streams tab.
3. Select `

[2021-08-25 06:27] amolnater-qasource opened #13752 "[SLES 15]: No "system.auth" logs for system integration under Data Streams tab for SLES 15 linux agent."
**Kibana version:** 7.15.0 BC-2 Kibana cloud environment

**Host OS and Browser version:** All, All

**Build details:**
[code]

**Preconditions:**
1. 7.15.0 BC-2 Kibana cloud environment should be available.
2. An SLES 15 linux agent must be installed with Default policy having System integration.

**Steps to reproduce:**
1. Login to Kibana environment.
2. Navigate to Data Streams tab.
3. Select `

[2021-08-25 06:27] elasticmachine commented on #1554
Pinging @elastic/fleet (Team:Fleet)

[2021-08-25 06:28] amolnater-qasource commented on #1554
@manishgupta-qasource Please review.

[2021-08-25 09:10] manishgupta-qasource commented on #1554
Reviewed & Assigned to @fearful-symmetry

[2021-08-25 15:25] jen-huang commented on #1350
@kaiyan-sheng No worries! I did a bit of investigation and the discrepancy comes up when we have these query params: `/categories?experimental=true&include_policy_templates=true`. We're likely double counting policy templates when packages only have 1 policy template.

I will transfer this to package-registry repo.

[2021-08-25 15:26] LaZyDK opened #1556 "Need a fix for Cisco Firepower malware event that should not be an alert"
All file events with the event id 430005 are classified as alerts, and are alerted on by the default Kibana SIEM alert called `External Alerts`.
This is giving a lot of false positives.

Reference log line:
[code]

This is the classifying line in the ingest pipeline:
https://github.com/elastic/integrations/blob/985167239ef20f159cd3dc79c6d67d6b6b5b1849/packages/cisco/data_stream/ftd/elasticsearch/i

[2021-08-26 08:50] narph opened #1557 "Update azure app insights dashboard image"
2 lens visualizations have changed the type from bar to line, image needs to be updated as well.

https://github.com/elastic/integrations/blob/master/packages/azure_application_insights/img/azure_app_insights_app_state-overview.png

### All changes

- [ ] Change follows the [contributing guidelines](https://github.com/elastic/integrations/blob/master/CONTRIBUTING.md)
- [ ] Supported versions of th

[2021-08-30 01:26] austinsonger commented on #1170
I downloaded their API in from their management portal. I can also send by other means if you desire.
- https://drive.protonmail.com/urls/22YSAV2JA0#DBkeLaAGDouz

[2021-08-30 10:29] jamiehynds commented on #1170
Thanks @austinsonger - super helpful. An S1 integration is certainly a priority for us and will keep you posted once we begin development.

[2021-08-30 12:21] stempera opened #1560 "Vectra Networks - Module Integration and Dashboards"
This issue addresses the integration of Vectra Networks used by companies for Network Behaviour Analysis.

Typically, the log source is sending data via syslog allowing the parsing of following fields:
https://docs.logrhythm.com/docs/devices/syslog-log-sources/syslog-vectra-networks

It would be great to have an agent module and dashboards showing the current threat landsacpe and transparency what

[2021-08-30 14:22] jamiehynds opened #1562 "GA Security Integrations"
To encourage adoption of our Elastic Integrations, we need to officially support them. This ticket outlines the integrations we plan to GA over the coming releases.

- [x] CEF
  - [x] Bump version

- [x] Check Point
  - [x] GA Beats module
  - [x] Bump version

- [x] Cloudflare
  - [x] HTTP system tests
  - [x] Bump version

- [x] CrowdStrike
  - [x] Bump version

- [x] CyberArk PAS
  - [x] Bump v

[2021-08-30 14:25] elasticmachine commented on #1562
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-08-30 14:44] jamiehynds opened #1563 "Windows Integration - Update Splunk input description"
Our Windows and Custom Windows Events packages both include our experimental Splunk API input. We include a Splunk section within the package description, but it's causing some confusion among users and needs to be updated.

**Current text:**

**Splunk Enterprise**
To configure Splunk Enterprise to be able to pull events from it, please visit Splunk docs for details. The integration requires event

[2021-08-30 14:46] elasticmachine commented on #1563
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-08-30 14:47] jamiehynds commented on #777
Closing this as Marius has implemented the `event.original` toggle across all integrations via https://github.com/elastic/integrations/issues/994

[2021-08-30 14:47] #777 closed

[2021-08-30 15:52] EricDavisX commented on #1563
@jamiehynds that is excellent text.  100%

[2021-08-31 05:09] shimonmodi commented on #1328
Thanks for putting the list together @jamiehynds - this makes sense. As the PM for threat intelligence I would absolutely advocate for it to be separate category. It serves a specific purpose, the data is structured to reflect specific use cases, end users recognize it as a standalone capability in SecOps and  vendors categorize themselves as threat intel vendors. A more fine grained categorizatio

[2021-08-31 07:34] amolnater-qasource commented on #1554
Hi @fearful-symmetry
As per feedback we have revalidated this on **7.14.1 BC-2** and found it **reproducible** there too.
- No `system.auth` logs type data under Data Streams for SLES 15 linux.tar agent.

**Build details:**
Build: 42892
Commit: 196ec3974d4c725a3d937725419e5ed7d8fdb104
Artifact Link: https://staging.elastic.co/7.14.1-96b6cf91/downloads/beats/elastic-agent/elastic-agent-7.14.1-linux

[2021-08-31 08:24] jamiehynds commented on #1328
@mostlyjason while more discussion is needed to finalize these new security related categories, do you envisage any issues on the Fleet side with adding new categories?

@akshay-saraswat does the o11y team have a need for new integration categories? if so, maybe we could align on timing and update the categories in one go.

[2021-08-31 12:35] mostlyjason commented on #1328
I worry that we'll have too many categories. According to fullstory, the median page fold is around 11 categories so most browsers cannot see the whole list above the fold. Also, we are planning to add a bunch of new non-agent integrations which may expand the categories https://github.com/elastic/kibana/issues/93084. The more categories, the longer it will take users to read/understand them all.

[2021-08-31 15:45] joshdover commented on #327
A few notes about a few things that should be considered when implementing this:
- Tags are their own saved object type, each idenified with a UUID like all other SO types.
	- This means integrations will need to include both a new `tag` object for each tag they want to add (eg. "system" or "managed") as well as adding a new object reference to each object that should have that tag.
- Any tags tha

[2021-08-31 16:55] fearful-symmetry commented on #1554
I don't see any errors in the logs. Can we verify if:
- There's populated log files in `/var/log/auth.log*` or `/var/log/secure*` on the host machine?
- Can we enable debug level logging?

[2021-09-01 02:42] EricDavisX commented on #1554
hi - sorry I missed this, even 7 days ago, but I'm not certain SLES 15 is going to be cited as supported.  Let's hold off until we get that decision.  Our original manual test was a fact finding mission, here is a good fact to consider.  We can ask the leadership group to confirm and circle back.

[2021-09-01 03:30] hilt86 commented on #1553
sorry this RP should be posted in Kibana

[2021-09-01 03:30] #1553 closed

[2021-09-01 08:05] amolnater-qasource commented on #1554
Hi @fearful-symmetry
Please find below attached debug level logs for SLES 15:
[logs.zip](https://github.com/elastic/integrations/files/7089095/logs.zip)

@EricDavisX thanks for the update, we will hold our testing on SLES 15 till further confirmation.

Please let us know if anything else is required from our end.
Thanks

[2021-09-01 09:32] P1llus opened #1564 "[Panw] Adding timezone in Fleet UI"
The data from the PANW integration does not include timezone, and there is no easy way to add a custom timezone to the ingest pipeline.

We should add in 2 options to the package:
1. A integration setting in the UI to define timezones in the format expected by the date ingest pipeline processor.
2. Default to `add_locale ~` if no timezone has been set

Related discuss topic: https://discuss.elasti

[2021-09-01 09:32] elasticmachine commented on #1564
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-01 16:56] fearful-symmetry commented on #1554
Seconded.

[2021-09-01 21:40] adriansr opened #1566 "aws.ec2_metrics system test fails"
The system test fails with:

[2021-09-01 22:01] elasticmachine commented on #1566
Pinging @elastic/integrations (Team:Integrations)

[2021-09-02 12:41] legoguy1000 commented on #937
I can try to work this one.

[2021-09-02 16:08] #1173 closed

[2021-09-03 07:09] amolnater-qasource commented on #1554
Hi @EricDavisX
As per feedback we have validated this issue on 7.15.0 BC-4 with Centos8 using `.tar` and `.rpm` agents.

**Observations:**
- We have observed that `system.auth` datasets are available under Data Streams tab for both `.tar` and `.rpm` agents installed on Centos8.

**Build details:**
Build: 43886
Commit: 29a6969dc230abf16dc65a41c535cb534ae64fa7
Artifact Link: https://staging.elastic.

[2021-09-03 11:59] jamiehynds commented on #937
@legoguy1000 Thanks for the offer! This Snort module stemmed from an open source parser, which may be easier to build from scratch, rather than migrating. What do you think @adriansr?

[2021-09-03 12:38] BenB196 opened #1572 "[Bug] Elastic Agent Metricbeat Data Stream incorrectly maps `network` field as a keyword"
Elastic Agent 7.14.0 Metircbeat Data Stream incorrectly maps the `network` field as a keyword, rather than an object as specified by [ECS](https://www.elastic.co/guide/en/ecs/1.11/ecs-network.html)

Example:

`GET /.ds-logs-elastic_agent.metricbeat-dev-2021.08.25-000001/_mapping/field/network`

[code]

[2021-09-03 12:39] legoguy1000 commented on #937
I can start from scratch and see what I come up with. Worst case I miss some scenarios and we have to update and add it later.

[2021-09-03 12:41] BenB196 opened #1573 "[Bug] Elastic Agent Filebeat Data Stream incorrectly maps `source` field as a `keyword` rather than an `object`"
Elastic Agent 7.14.0 Filebeat Data Stream incorrectly maps the `source` field as a `keyword`, rather than an `object` as specified by [ECS](https://www.elastic.co/guide/en/ecs/1.11/ecs-source.html)

This is causing an issue in Kibana as its causing a mapping conflict within the Kibana Index Pattern `logs-*`.

Example:

`GET /.ds-logs-elastic_agent.filebeat-test-2021.08.25-000001/_mapping/field/sou

[2021-09-03 13:53] jamiehynds commented on #1328
Thanks for the additional context Jason - I hadn't considered the impact of the fold/scroll if we expand the categories. Although, we definitely have a need for additional categories on the security side, to avoid the situation whereby 50+ integrations exist under security today.

The keyword support would be a great additional - how would we on the integrations side specify the keywords associate

[2021-09-06 09:08] mtojek opened #1576 "[Bug] Nats: Provided Grok expressions do not match field value"
Spotted bug in nats system tests:

[code]

source: https://beats-ci.elastic.co/blue/organizations/jenkins/Ingest-manager%2Fintegrations/detail/master/765/tests/

[2021-09-06 14:38] ruflin commented on #953
Closing as https://github.com/elastic/integrations/pull/1298 was merged and @nchaulet did a few follow up fixes.

[2021-09-06 14:38] #953 closed

[2021-09-06 21:33] legoguy1000 commented on #1564
I ran into the same issue with the Snort integration, https://github.com/elastic/integrations/pull/1575.  I added an input that I found from one of the other modules to set the time zone in the  +HH:mm format.

[2021-09-07 07:59] jsoriano opened #1581 "Add daily jenkins pipeline to run tests with latest snapshots"
After https://github.com/elastic/integrations/pull/1541, integrations are tested with the oldest supported version of the stack. This helps on reproducibility and stability of builds for integrations developers, and it will also help to detect when version constraints need to be updated. But with this we are not testing integrations with the most recent version of the stack.
Add a daily job that r

[2021-09-07 08:05] mtojek commented on #1581
There are nightly jobs configured for the master branch. If you look at the Jenkins board: https://beats-ci.elastic.co/job/Ingest-manager/job/integrations/job/master/ , these are builds run around 3:52 AM.

[2021-09-07 08:16] jsoriano commented on #1581
Ok, it would be to modify the pipeline to allow selecting a version of the stack, and modify this job to use the 8.0 and/or 7.x snapshots.

[2021-09-07 09:17] ChrsMark commented on #1354
Closing this since the OOM should be resolved by elastic/beats#27153. Let's keep tracking any open issues at https://github.com/elastic/observability-test-environments/issues/1043.

[2021-09-07 09:17] #1354 closed

[2021-09-07 09:20] phil-51 opened #1584 "AWS Integrations Mapping Error"
I am ingesting Cloudtrail logs via Fleet and I'm getting errors stating the field has been stored as a Keyword.

If I check the Mappings in the Index Template I can't see a mapping for the event.created field, where if I check Azure (which I also have working), it does define event.created as a data.

As both Azure and AWS go in to the logs-* index pattern it causes a conflict.

This has been chec

[2021-09-07 11:31] elasticmachine commented on #1584
Pinging @elastic/integrations (Team:Integrations)

[2021-09-07 16:31] jamiehynds commented on #663
@leehinman are we ok to close this one?

[2021-09-07 18:31] leehinman commented on #663
Yep, following were converted:

- system/security
- system/system
- system/application
- windows/sysmon_operation
- windows/powershell_operational
- windows/powershell
- windows/forwarded

[2021-09-07 18:31] #663 closed

[2021-09-08 08:42] elasticmachine commented on #1461
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-08 11:33] #1581 closed

[2021-09-08 12:53] legoguy1000 opened #1592 "AWS Billing module `EstimatedCharges` field doesn't match integration"
The Metricbeat AWS Billing module sets the field `EstimatedCharges` as a Long.  The AWS Billing Integration data stream for the agent sets `EstimatedCharges.max` as a Long.  User reported an error with the AWS agent integration https://elasticstack.slack.com/archives/CNTP6NLTZ/p1631079578142800?thread_ts=1631079307.142600&cid=CNTP6NLTZ.
[code]
The change in the Metricbeat module from `EstimatedCha

[2021-09-08 12:59] legoguy1000 commented on #1592
@kaiyan-sheng thoughts?

[2021-09-08 13:09] #1564 closed

[2021-09-08 13:37] phil-51 opened #1594 "Conflicts in Azure Fleet Integrations"
Hi

I think there is an issue with the current Azure logs integration for Fleet (Azure logs integration v0.8.5). I am working with this to try and pull in various logs from Azure and have noticed field conflicts in my logs-* index pattern. These are all Elastic generated indicies.

Steps taken to investigate so far:

The index patterns page tells me that there are 2 conflicts; client.ip and error.

[2021-09-08 13:42] legoguy1000 opened #1595 "Atlassian JIRA"
## Description
Atlassian JIRA and Confluence are very popular ticketing and wiki products used by organizations all over the world. Recently there was a critical CVE for confluence.

## Architecture
The Data center versions of each produce an `audit.log` file that can be read by Filebeat/Agent.

https://confluence.atlassian.com/doc/auditing-in-confluence-829076528.html
https://confluence.atlassian

[2021-09-08 17:35] kaiyan-sheng commented on #1592
Yes this is a bug caused by not syncing the change between beats and the integration 👍 Thanks for catching it! Will fix it right away.

[2021-09-08 17:36] #1584 closed

[2021-09-08 17:38] legoguy1000 commented on #1592
I have a branch already, just hadn't pushed it yet. I can push it shortly for u too look at if u want or if there are other changes u want to make as well, I can just toss it.

[2021-09-08 19:01] kaiyan-sheng commented on #1592
@legoguy1000 😂 sorry!!! I just saw your comment...!!

[2021-09-08 19:11] legoguy1000 commented on #1592
no problem, i figured there were other changes that needed to be made too.  Glad it was fixed.

[2021-09-08 19:32] EricDavisX opened #1626 "Add some minimal tests in for packages: elastic-agent and fleet-server"
The Robots team has a weekly email with package testing info, and I found the fleet-server and elastic-agent packages do not have any coverage.  Tech lead confirms that while they are tested elsewhere, we would like them to be included in the regular package test system.

This issue is for that test coverage.

The report is generated every Saturday and goes to the elastic-packages email list, fyi

[2021-09-08 19:34] kaiyan-sheng commented on #1592
Thank you for creating the issue!!!

[2021-09-08 20:12] threenub commented on #1592
Thanks all - as the user that reported it let me know if I can help or test in any way.

[2021-09-09 08:11] elasticmachine commented on #1594
Pinging @elastic/integrations (Team:Integrations)

[2021-09-09 10:58] jamiehynds opened #1624 "Migrate Cisco AMP package"
# Integration release checklist

This checklist is intended for integrations maintainers to ensure consistency
when creating or updating a Package, Module or Dataset for an Integration.

### Migration Checklist
- [ ] Rename the package to Cisco Secure Endpoint (as Cisco rebranded AMP to Secure Endpoint recently)
- [ ] Change follows the [contributing guidelines](https://github.com/elastic/integrat

[2021-09-09 10:59] elasticmachine commented on #1624
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-09 11:24] marc-gr opened #1625 "Upgrade ECS version to 1.12"
All packages need to be upgraded to use the ECS 1.12 version.

[2021-09-09 11:24] elasticmachine commented on #1625
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-09 12:37] #343 closed

[2021-09-09 12:50] andrewkroh commented on #259
We can close this now. Through `policy_templates` the AWS products support by integrations are now much more discoverable.

<img width="933" alt="Screen Shot 2021-09-09 at 8 44 35 AM" src="https://user-images.githubusercontent.com/4565752/132688135-1a7c5b62-787a-459b-b8ee-8bf628fc7a75.png">

And for Cisco we are creating separate packages for the various products.

[2021-09-09 12:50] #259 closed

[2021-09-09 13:07] andrewkroh opened #1627 "[Hashicorp Vault] Metric fields missing from fields.yml"
There are some metrics missing from the field definitions for the Hashicorp Vault metrics data stream.

[code]

Additionally let's setup a dynamic mapping based on the field name `*counter`/`*rate` to ensure new metrics are mapped correctly. This won't fix the test flakiness since missing fields will still fail validation, but at least in production the mappings will be correct (unsigned long vs f

[2021-09-09 13:07] elasticmachine commented on #1627
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-09 14:21] #1592 closed

[2021-09-09 18:03] legoguy1000 commented on #1573
It appears there is no `source.*` fields defined in the package https://github.com/elastic/integrations/blob/master/packages/elastic_agent/data_stream/filebeat_logs/fields/ecs.yml

[2021-09-09 18:04] legoguy1000 commented on #1572
It appears there is no `source.*` fields defined in the package https://github.com/elastic/integrations/blob/master/packages/elastic_agent/data_stream/metricbeat_logs/fields/ecs.yml

[2021-09-09 18:06] legoguy1000 commented on #1594
Its because the platform logs datastream doesn't have a mapping defined for `client.ip` https://github.com/elastic/integrations/blob/master/packages/azure/data_stream/platformlogs/fields/ecs.yml, while activity logs does https://github.com/elastic/integrations/blob/master/packages/azure/data_stream/activitylogs/fields/ecs.yml#L1.

[2021-09-09 22:53] bm11100 opened #1632 "[Feature] System Integration Filters"
As reported [here](https://discuss.elastic.co/t/system-integration-filters/283588), for the System integration for elastic-agent, I was curious if we could filter by log level, or eliminate various Event ID's that we may not want to collect due to noise. Collection of all informational logs at scale is just too much.

In beats, we could specify the informational level and also use a processor for

[2021-09-10 07:29] oleksandryz commented on #1632
I tested filter for event id by edit the file state.yml file (located under data/elastic-agent-*) contains the entire, unencrypted policy.
Added "event_id: 4688":
[code]
It looks like filtering works on  the  agent side and what only need it is add this possibility to the page in kibana Fleet>Agent policies>Policy Name>Edit integration

[2021-09-10 10:49] jamiehynds opened #1635 "MSSQL Audit Integration"
### Description
For years Microsoft SQL Server has served as a backbone of critical applications for enterprises. Due to the nature of critical data stored on the SQL Server databases, it has always been a point of Interest for internal or external adversaries and one of the primary targets for exploitation. Monitoring SQL audit events provides visibility into user, admin and potentially malicious

[2021-09-10 10:49] elasticmachine commented on #1635
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-10 11:19] jamiehynds opened #1639 "Support for Cisco ASA SIP events"
Our Cisco ASA integration does not currently parse the SIP events below - need to update the pipeline to parse and map to ECS. (Samples have been anonymised)

[code]

[2021-09-10 11:20] elasticmachine commented on #1639
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-10 12:20] oleksandryz commented on #1632
https://github.com/elastic/integrations/pull/1548

[2021-09-11 14:21] legoguy1000 commented on #1304
dependent on elastic/beats#27873

[2021-09-13 00:29] legoguy1000 commented on #646
Opened PR #1646

[2021-09-13 00:30] legoguy1000 commented on #1624
opened PR #1624

[2021-09-13 00:37] legoguy1000 opened #1647 "No Proxy URL config for httpjson or AWS-S3 imputs"
With the migration of Filebeat modules to packges, the option to use a proxy with the httpjson and aws-s3 inputs as well as the AWS metric sets are missing.

[2021-09-13 08:06] jamiehynds commented on #1624
FYI @P1llus - @legoguy1000 has opened a PR, just incase you had planned on working on AMP/Secure Endpoint migration this week.

[2021-09-13 10:18] legoguy1000 commented on #1624
It's really just copy and paste, I didn't add all the new `threat.*` fields. Figured I'd just keep it simple at first. I can definitely take a look at doing that.

[2021-09-13 14:38] simitt commented on #1178
When running elastic-agent in airgapped environments, we need to be able to recommend running their own package registry to users. This can be a requirement already today for ECE with apm deployments >= 7.13.
@masci can the work on this be prioritized?

[2021-09-13 14:42] mtojek commented on #1178
Currently we have this guide: https://github.com/elastic/package-storage#air-gapped-environments

[2021-09-13 14:54] simitt commented on #1178
Thanks @mtojek! Is there an overview around missing steps to make this GA and officially supported?

[2021-09-13 15:01] mtojek commented on #1178
Let me pass this question to @akshay-saraswat . I remember that there were few items in the "brainstorm" doc (e.g. proper Docker tags).

[2021-09-14 09:51] #1594 closed

[2021-09-14 09:54] #1461 closed

[2021-09-14 10:05] #646 closed

[2021-09-14 13:02] jamiehynds commented on #1635
Related issue created by a community member, including sample events - https://github.com/elastic/beats/issues/20001

[2021-09-14 15:02] presianbg commented on #1175
Hi,

Is there something we (users of ESET) can do to speed-up the integration process ?

Cheers,
PY

[2021-09-14 15:05] jamiehynds commented on #1175
Hey @presianbg! A sample data set would give us a great head start when developing this ESET integration. If you're willing to provide a broad set of sample events (sanitised and ideally JSON formatted) it would be a big help.

[2021-09-14 15:19] presianbg commented on #1175
Great!

Sure, I totally can do that - collecting as much as possible sanitized and anonymized ESET Protect generated events in a json format.
Should I upload them here or there is more suitable place to do so ?

[2021-09-14 15:20] jamiehynds commented on #1175
Great - thanks! If they are sanitized and you're happy to upload here, that's fine, but if you prefer to send them to me directly, I can provide my contact details.

[2021-09-14 16:37] legoguy1000 commented on #1647
@kaiyan-sheng Can u close this? I mistyped in the related PR to auto close it.

[2021-09-14 17:22] kaiyan-sheng commented on #1647
@legoguy1000 Will do! Thank you again for adding this!!!

[2021-09-14 17:22] #1647 closed

[2021-09-15 05:38] threenub commented on #1592
Hi @kaiyan-sheng -- how long roughly until this fix makes it into the repo?

[2021-09-15 06:51] elasticmachine commented on #1626
Pinging @elastic/fleet (Team:Fleet)

[2021-09-15 07:20] ruflin commented on #1178
The 4 points I made in the initial issue description still apply.

[2021-09-15 08:48] jamiehynds opened #1724 "Tenable.sc"
### Description
SecurityCenter is a comprehensive vulnerability management solution that provides complete visibility into the security posture of your distributed and complex IT infrastructure. SecurityCenter consolidates and evaluates vulnerability data from across your entire IT infrastructure, illustrates vulnerability trends over time, and assesses risk with actionable context for effective r

[2021-09-15 08:48] elasticmachine commented on #1724
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-15 09:02] jamiehynds opened #1725 "Google Workspace Alerts Center"
### Description
Google Workspace (formerly G Suite) Alert Center provides extensive visibility into threats detected in Workspace tenants. Admins can manage alerts more efficiently through the unified view that the alert center provides. Additionally, it provides insights that help them assess their organization’s exposure to internal and external security issues at the domain and user levels.

Th

[2021-09-15 09:02] elasticmachine commented on #1725
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-15 09:37] #642 closed

[2021-09-15 09:40] jamiehynds opened #1726 "Carbon Black Cloud"
### Description
VMware Carbon Black Cloud is a software as a service (SaaS) solution that provides next-generation anti-virus (NGAV), endpoint detection and response (EDR), advanced threat hunting, and vulnerability management within a single console using a single sensor.

### Architecture
Carbon Black cloud supports S3 bucket, syslog and an API as integration points. However, after some discussi

[2021-09-15 09:40] elasticmachine commented on #1726
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-15 09:46] jamiehynds opened #1727 "Cloudflare Log Push"
### Description
At the core, Cloudflare is a Content Delivery Network (CDN) composed of hundreds of data centers located in more than 100 countries. Cloudflare has grown to handle five to ten percent of the global internet traffic, making Cloudflare one of the largest CDNs in the world.

Since all traffic to your website first passes through the Cloudflare network, malicious traffic such as DDoS a

[2021-09-15 09:46] elasticmachine commented on #1727
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-15 09:53] phil-51 opened #1728 "Windows integration for event logs error - sysmon"
I have been looking at the Windows integration and found an error in the mappings.  Full details at the link below of my report and a suggested fix.

[https://discuss.elastic.co/t/windows-integration-for-event-logs-error/284169](url)

We have an environment where all Windows event logs are forwarded to a central log collector. This device has been running winlogbeat to collect logs from the 'Forwa

[2021-09-15 09:54] jamiehynds opened #1729 "Windows Defender Antivirus"
### Description
Microsoft Defender Antivirus, formerly known as Windows Defender, is an antivirus program bundled with Windows 10. Microsoft Defender Antivirus has many features, including substantial security settings for individual users and groups.

### Architecture
Similar to PowerShell events, Windows Defender writes events to a Windows Event channel - Windows Defender/Operational. While user

[2021-09-15 09:54] elasticmachine commented on #1729
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-15 11:48] jamiehynds opened #1733 "Replace RSA2ELK Based Integrations"
We released a set of experimental integrations (and Beats modules) based on open source RSA Netwitness parsers. The goal was to quickly expand our supported sources. However, it has transpired that these integrations are hard to maintain and never moved beyond experimental. At this point, the plan is to replace these experimental integrations with new integrations built from scratch. For each new

[2021-09-15 11:48] elasticmachine commented on #1733
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-15 13:40] rroemer commented on #1573
I have the same issue. In my case I think the problem is that the logger input.harvester prints log with a file log path in the source fields. Heres a sample document:
`{
  "_index": ".ds-logs-elastic_agent.filebeat-default-2021.08.28-000006",
  "_type": "_doc",
  "_id": "0qN96XsBgvuFJGcvbN-u",
  "_score": 1,
  "_source": {
    "@timestamp": "2021-09-15T12:45:11.994Z",
    "log.logger": "input.har

[2021-09-15 13:46] rroemer commented on #1573
I have the same issue. In my case I think the problem is that the logger input.harvester prints log with a file log path in the source fields. Heres a sample document:
`{ "_index": ".ds-logs-elastic_agent.filebeat-default-2021.08.28-000006", "_type": "_doc", "_id": "0qN96XsBgvuFJGcvbN-u", "_score": 1, "_source": { "@timestamp": "2021-09-15T12:45:11.994Z", "log.logger": "input.harvester", "old_os_i

[2021-09-15 13:53] mtojek commented on #381
Referring to our conversation today about Jolokia endpoint.

I did a quick investigation on the Beats side and we have ActiveMQ, Tomcat and Kafka modules using Jolokia endpoint to scrap metrics. In all cases we don't differentiate level keys, but just assume the flat model:

See:

[Tomcat requests](https://github.com/elastic/beats/blob/23e4403ae093fcc8f7905345cad2c7ad256976d8/x-pack/metricbeat/mod

[2021-09-15 20:21] n0othing opened #1736 "`System` integration doesn't map `message` as a `text` field for some data streams"
The included index templates for the `logs-system.application` + `logs-system.system` data streams don't explicitly map `message` as a `text` field, so it gets mapped as a `keyword` due to `dynamic_templates`:

[code]

Other `System` integration data streams _do_ map `message` as a `text` field, which ultimately results in a mapping conflict for the `logs-*` Kibana index pattern.

[2021-09-15 20:39] n0othing opened #1737 "`Windows` integration doesn't map `message` as `text` for some data streams"
The included index templates for `logs-windows.powershell` + `logs-windows.powershell_operational` data streams don't explicitly map `message` as a `text` field, so it gets mapped as a `keyword` due to `dynamic_templates`:

[code]

The `logs-windows.forwarded` + `logs-windows.sysmon_operational` templates map `message` as a `text` field, which ultimately results in a mapping conflict for the `logs

[2021-09-16 07:11] #1206 closed

[2021-09-16 09:09] ChrsMark opened #1738 "Leverage ECS container.image.tag field in k8s metadata"
Currently in kubernetes metadata we report `container.image.name` field which could be `nginx:latest`.
Maybe we can handle it better and split the value to `.name` and `.tag` explicitly.

cc: @MichaelKatsoulis @akshay-saraswat @mukeshelastic

[2021-09-16 11:33] elasticmachine commented on #1737
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-16 11:33] elasticmachine commented on #1736
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-16 11:34] elasticmachine commented on #1728
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-17 11:07] nugroho-expereo commented on #1736
I also see the same issue with `logs-system.security` datastream (Windows event log).

[code]
The field conflict prevents us to create log threshold alert rule by message content (only **IS** and **IS NOT** are available).

[2021-09-18 22:05] legoguy1000 opened #1741 "Gitlab"
Gitlab produces a number of different logs as seen here, https://docs.gitlab.com/ee/administration/logs.html.

# Integration release checklist

This checklist is intended for integrations maintainers to ensure consistency
when creating or updating a Package, Module or Dataset for an Integration.

### All changes

- [ ] Change follows the [contributing guidelines](https://github.com/elastic/integra

[2021-09-20 10:07] presianbg commented on #1175
@jamiehynds , I will need one more week due traveling and etc...
I will ping here again once the datasets are ready for you.

[2021-09-20 13:44] scottdfedorov commented on #1736
There's already an open issue for the Windows integration. #1737

[2021-09-20 13:53] ChrsMark opened #1743 "Revisit Kubernetes provider documentation for Agent"
We need to revisit documentation for our kubernetes provider of Agent so as to make sure that our users will be able to take advantage of our features by following our docs.

Docs are located at https://www.elastic.co/guide/en/fleet/current/dynamic-input-configuration.html

cc: @MichaelKatsoulis @mukeshelastic @akshay-saraswat

[2021-09-21 01:24] akshay-saraswat commented on #1178
@simitt Please refer [this document](https://docs.google.com/document/d/1FvI13YLBpPLG6MtBZvYE2Il0jC2oIygu38nKtpn5JXY) for the GA plan. With the 7.15 release, we plan to announce the beta version.

[2021-09-21 15:44] nugroho-expereo commented on #1736
@scottdfedorov  I think #1737 is for [Windows ](https://github.com/elastic/integrations/tree/master/packages/windows) package and this issue is for [System ](https://github.com/elastic/integrations/tree/master/packages/system)package. As far as I know field definition is handled per-package.

[2021-09-22 01:40] kaiyan-sheng commented on #1592
@threenub The PR is merged into `0.10.6` version of the AWS package, which is still in staging right now. It will be pushed into production in next day or two.

[2021-09-22 19:13] austinsonger opened #1752 "MDM Security Monitoring Integration: Addigy"
# Description

https://addigy.com/

Addigy is a MDM that manages macOS, iOS, iPadOS and tvOS devices across multiple clients and locations.

It would be nice to get alerts based on Addigy API.

# Architecture

API is available
- https://documenter.getpostman.com/view/6033495/S17tPnJf#intro

# Integration release checklist

This checklist is intended for integrations maintainers to ensure consisten

[2021-09-23 11:14] narph commented on #1632
same should be done for the event logs collection in the Windows package

[2021-09-24 03:12] smileitjc opened #1759 "[o365] multi-tenancy failing"
Hi all,

I'm trying to get multi-tenancy working using the o365 module (based on the config listed [here](https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-module-o365.html)) and certificate based auth is working, however when adding multiple tenants, as you can only add **one** application ID, you cannot authenticate against tenants B, C, ... Z and so on.

Nowhere in any documentati

[2021-09-24 03:15] elasticmachine commented on #1759
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-27 06:37] mdelapenya opened #1761 "[CI] aws / aws: check / aws.ec2_metrics.system test failing"
Build: https://beats-ci.elastic.co/job/Ingest-manager/job/integrations/job/master/886/testReport/aws/ec2_metrics/Check_integrations___aws___aws__check___system_test__default/

Stacktrace:
[code]

[2021-09-27 09:21] #368 closed

[2021-09-27 10:07] jamiehynds opened #1763 "Imperva Cloud WAF"
### Description
Imperva provides a cloud security solution that protects applications, APIs, and Databases on Amazon Web Services, Microsoft Azure, and Google Cloud, with one pane of glass for application and data security. Overview available [here](https://docs.imperva.com/bundle/cloud-application-security/page/introducing/overview.htm).

### Architecture
Imperva supports both API or S3 based int

[2021-09-27 10:07] elasticmachine commented on #1763
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-27 20:05] mostlyjason commented on #1328
@jamiehynds are you still the security representative for ECS? We previously talked about making category changes through an ECS-like process for governance. I imagine you're more familiar with that process than I am. Do you think its a good fit to give us the more holistic perspective and provide a way to align multiple teams on a shared set of categories? If so, would you want to take the lead o

[2021-09-28 09:53] jamiehynds opened #1767 "Network Packet Capture GA Blockers"
Our 'Network Packet Capture' experimental integration shipped in 7.15, allowing users to capture network traffic using Elastic Agent, with Packetbeat running under the hood. Before moving the integration to Beta/GA, we will use this meta issue to capture relevant enhancements:

- https://github.com/elastic/integrations/issues/2132
- [Add dashboards to integration](https://github.com/elastic/integr

[2021-09-28 09:53] elasticmachine commented on #1767
Pinging @elastic/security-external-integrations (Team:Security-External Integrations)

[2021-09-28 12:40] jamiehynds commented on #1328
@mostlyjason we looked at [categorising data sources in ECS](https://github.com/elastic/ecs/issues/901) awhile back, but didn't get too far. Can certainly revisit it though. Given that most of the ECS categorisation fields are based on 'events', I'm thinking an `integration.*` field set may be valuable, especially as we embrace vendor developed integrations. We could have integration.category, int

[2021-09-28 15:37] akshay-saraswat opened #1769 "Add Integration Change log in docs and Kibana Integrations UI"
_Use Case: As an Elastic Apps User, I want to see information about the changes introduced in each integration that I am consuming so that I could make a self-serve decision - whether to upgrade to a specific version or not._

We should support adding release notes and changes in the Integration guide or Kibana Integrations UI to let the users know what has changed and whether they should upgrade

[2021-09-28 15:40] elasticmachine commented on #1769
Pinging @elastic/integrations (Team:Integrations)

[2021-09-28 15:46] akshay-saraswat opened #1770 "Document evolution of integration mechanisms"
We moved from Logstash to Beats to Agents for data ingestion into Elasticsearch. Even Elastic folks internally still struggle to understand how these are related and how each of these mechanisms works.

Ask here is to draft and publish a document that describes the evolution of "how" we enable third-party systems to integrate with Elastic.

[2021-09-28 17:18] jamiehynds opened #1771 "[Discuss] Include Packetbeat with agent download package"
Now that we have integrated Packetbeat with Elastic Agent, via our 'Network Packet Capture' agent integration, I'd like to propose bundling Packetbeat with Elastic Agent to simplify deployment. Currently, if a user enables the integration, the agent will download the necessary binary. This slows down deployment, but is also a blocker in air-gapped environments.

Packetbeat downloads page [here](ht

[2021-09-28 17:19] jamiehynds commented on #1771
@nimarezainia would be great to get your thoughts here.

[2021-09-28 20:41] andrewkroh opened #1773 "Incorrect logic for checking if tags contains 'forwarded'"
Packages use a Handlebar template function to check if `tags` contains `forwarded` as a value. But they put the arguments to the function in the wrong order. The function is defined at https://github.com/elastic/kibana/blob/fd0c1fa490c2e4eab5a3cbc96c8f3703cc4962f6/x-pack/plugins/fleet/server/services/epm/agent/agent.ts#L114.

The impact is that when `tags` contains more than just `[forwarded]` the